---
title: "Dr. Hodkinson - Vaccinating kids is State Sanctioned Child Abuse - June 11 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Corona-Ausschuss"
category: "legal"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Dr.-Roger-Hodkinson---Giving-C-19-shots-to-children-is-state-sanctioned-child-abuse---Jun-11-2021/e47e2f04d22f3da7c78c46ede9753b08e0559e0a?r=8WbC57z5HFN9m8cuhY31p6wv6bHj575h" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">CORONA-AUSSCHUSS &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../dr-hodkinson-vaccinating-kids-is-state-sanctioned-child-abuse-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1c569850b32f8042b4c87db81bcbfd75.jpg}">
            <h5>
              <span>
                Dr. Hodkinson - Vaccinating kids is State Sanctioned Child Abuse - June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../us-lawyers-discuss-biden-censorship-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                US Lawyers Discuss Biden Censorship -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../risks-of-monopolies-and-centralized-government-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d6d2dc705ff6fd3fea5b1391cdc0559a.jpg}">
            <h5>
              <span>
                Risks of Monopolies & Centralized Government -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../g-wisnewski-we-must-all-do-something-jun-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/30eef174ed289aa64f97fc00b14521a9.jpg}">
            <h5>
              <span>
                G. Wisnewski - We must all do something - Jun 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ilana-rachel-daniel-on-vax-in-israel-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/47f930205c715395b71113bfb33f393c.jpg}">
            <h5>
              <span>
                Ilana Rachel Daniel on Vax in Israel -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-breggin-psychiatry-and-covid-july-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dd4b0bbe47a429048e92db43888fd48c.jpg}">
            <h5>
              <span>
                Dr Breggin Psychiatry & Covid -July 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fda-knew-shots-cause-over-110-diseases-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e0afad2b2c282e40d995811a477f826c.jpg}">
            <h5>
              <span>
                FDA knew shots cause over 110 diseases - July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../45k-us-deaths-3-days-post-jab-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/65b77c9f94a2b952d843276aa4eaee6f.jpg}">
            <h5>
              <span>
                45K US deaths 3 days post jab - July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-causes-inflamatory-syndrome-in-kids-jul-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7bf37e71ca54cc9de6eb4d9e6b586a6d.jpg}">
            <h5>
              <span>
                Vax causes inflamatory-syndrome in kids - Jul 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-wodarg-why-doctors-dont-produce-reliable-numbers-jul-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f70171b2370d5dc0391bbc11046f31e3.jpg}">
            <h5>
              <span>
                Dr. Wodarg - why doctors don't produce reliable numbers - Jul 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fuellmich-on-hostile-take-over-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/91b875e88e57f43d0586ce5174751eff.jpg}">
            <h5>
              <span>
                Fuellmich on Hostile Take Over -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israeli-lawyer-explains-why-sweden-did-it-right">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2d9a742171dd46b6ad529b01d30096e3.jpg}">
            <h5>
              <span>
                Israeli Lawyer explains why Sweden did it right<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../german-lawyer-fuellmich-on-biased-media-mar-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a3228500793574c664f9185be7f411d6.jpg}">
            <h5>
              <span>
                German Lawyer Fuellmich on Biased Media -Mar 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-wodarg-on-corona-auschuss-apr-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ccfb73d7f5b57a546eec57b629f0aa63.jpg}">
            <h5>
              <span>
                Dr Wodarg on Corona-Auschuss -Apr 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-tale-of-the-rat-jan-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/77b1e7a65456623986f81bc6370d9680.jpg}">
            <h5>
              <span>
                The Tale of the Rat -Jan 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mrna-tech-pros-and-cons-jan-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a99c4d0eebc016e755eb051dec4469b9.jpg}">
            <h5>
              <span>
                mRNA Tech Pros & Cons -Jan 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-wodarg-vaccine-is-higher-risk-than-virus-feb-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Dr Wodarg "Vaccine is higher Risk than Virus" -Feb 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lawyer-fuellmich-on-the-super-rich-may-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d4ec8515c32c7f27969547802811e99c.jpg}">
            <h5>
              <span>
                Lawyer Fuellmich on the Super Rich -May 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fuellmich-the-panic-in-italy-may-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7e206e62e4174726b0b34d2e1010b0bf.jpg}">
            <h5>
              <span>
                Fuellmich: the Panic in Italy -May 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-schmidt-kruger-the-tale-of-the-rat-jan-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/366aeaaf64f846f92c9c98a03adc2ed1.jpg}">
            <h5>
              <span>
                Dr Schmidt-Krüger "The tale of the Rat" - Jan 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../american-patriot-vs-corona-dictators-may-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4f8983d158f18c3414f330023af176f3.jpg}">
            <h5>
              <span>
                American Patriot VS Corona Dictators - May 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vera-sharav-on-klaus-schwab-and-the-nazis-mar-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Vera Sharav on Klaus Schwab & the Nazis -Mar 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-is-a-genetic-experiment-mar-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/eb829dafa7d549e17eea8b29cde60b04.jpg}">
            <h5>
              <span>
                Vaccine is a Genetic Experiment –Mar 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brian-gerrish-on-common-purpose-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/72e935efe5c1a13c61f5d2da296343d7.jpg}">
            <h5>
              <span>
                Brian Gerrish on Common Purpose - May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-gold-on-the-legality-of-vaccinating-kids-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1fcc6011469daa2d0c02686cbe2aa36d.jpg}">
            <h5>
              <span>
                Dr Gold on the Legality of Vaccinating Kids -May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-bilderberg-influence-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a036dc3164c76112281edb508cda231e.jpg}">
            <h5>
              <span>
                The Bilderberg Influence -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../health-security-governance-of-2009-feb-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6eb59053af67c6c59c304dd1ce72b8ce.jpg}">
            <h5>
              <span>
                "Health Security Governance" of 2009 –Feb 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-hodkinson-state-sanctioned-child-abuse-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/925cd30b34dcf89e57137b2bfedfb23f.jpg}">
            <h5>
              <span>
                Dr Hodkinson "State Sanctioned Child Abuse" - June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-mccullough-on-bio-terrorism-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e792a706d36ee27b649dd610b1113272.jpg}">
            <h5>
              <span>
                Dr McCullough on "Bio-Terrorism" -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-reiner-fuellmich-on-the-trueman-show-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d7b67af48f5b307943cb2c3763c6e4f8.jpg}">
            <h5>
              <span>
                Dr. Reiner Fuellmich on the Trueman Show - June 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-martin-whats-in-vaccines-is-a-manufactured-illusion-dot-july-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d467120ee5ca5c5ac0cf91d900bac55e.jpg}">
            <h5>
              <span>
                Dr. Martin "What's in vaccines is a manufactured illusion." - July 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../reiner-fuellmich-on-vaxxed-airline-pilots-june-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/40a039e5cb78edade8c1b1517a30b994.jpg}">
            <h5>
              <span>
                Reiner Fuellmich on vaxxed airline pilots - June 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-wolfgang-wodarg-and-whitney-webb-on-gene-modification-therapy-july-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e85f8725adc067caf931f9380675b4d0.jpg}">
            <h5>
              <span>
                Dr. Wolfgang Wodarg & Whitney Webb on gene modification therapy - July 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Dr. Hodkinson - Vaccinating kids is State Sanctioned Child Abuse - June 11 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>