---
title: "Dr Kendrick &quot;Half of Excess Deaths are Result of Lockdown&quot; –Mar 8 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Care Homes"
category: "lockdowns"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Half-of-excess-deaths-are-result-of-lockdown-%E2%80%93Mar-8-2021/abed0647c3bcf581a62f92119e7a6f858d3c652c?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">CARE HOMES &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../dr-kendrick-half-of-excess-deaths-are-result-of-lockdown-mar-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e0475f804530d9ec0b8f64a7567a1615.jpg}">
            <h5>
              <span>
                Dr Kendrick "Half of Excess Deaths are Result of Lockdown" –Mar 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-waldinger-loneliness-kills-dec-23-2015">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7c372d6ac8631277d85025dc04c4b29e.jpg}">
            <h5>
              <span>
                Prof Waldinger "Loneliness Kills!" -Dec 23 2015<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Dr Kendrick "Half of Excess Deaths are Result of Lockdown" –Mar 8 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>