---
title: "Treatments"
home_url: ../../
page_title: "TREATMENTS"
all_vid_count: 1239
top_right: " "
template: "../../default.template"
---

<div class="grid_wrap">
<div class="grid">
   <div class="grid-item">
    <a href="./mrna-tech-pros-and-cons-jan-29-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a99c4d0eebc016e755eb051dec4469b9.jpg}">
        <h5><span>mRNA Tech Pros & Cons -Jan 29 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-gold-on-treatment-deception-feb-22-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/2c0af1ed5b95f49ec5bb1913b427f020.jpg}">
        <h5><span>Dr Gold on Treatment Deception –Feb 22 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-grace-covid-depends-on-vitamin-d-levels-feb-22-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ab4f7a8af7068ad29a76a5a46e266e11.jpg}">
        <h5><span>Dr Grace "Covid depends on Vitamin D Levels" -Feb 22 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-tapper-covid-in-perspective-apr-2-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/39c1b4dc9c1a2c1b811c11f794f2140c.jpg}">
        <h5><span>Dr Tapper: Covid in Perspective -Apr 2 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-lawrie-ivermectin-reduces-death-feb-3-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/e87f63c0865b346f3142efe7fa024f39.jpg}">
        <h5><span>Dr Lawrie "Ivermectin Reduces Death" -Feb 3 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./court-prof-capel-there-are-known-effective-treatments-in-dutch-feb-19-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/9a40178c59561d9056aec6a9a754a0eb.jpg}">
        <h5><span>Court: Prof Capel "There are Known Effective Treatments" (in Dutch) -Feb 19 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-coleman-on-vitamin-d-and-lockdowns-apr-23-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/f5af4eb63b617e958f8f65cc4234fa0e.jpg}">
        <h5><span>Dr Coleman on Vitamin D & Lockdowns -Apr 23 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-kory-on-ivermectin-and-who-may-5-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/04fd09caa469c6346e705ea7f73e7d0d.jpg}">
        <h5><span>Dr Kory on Ivermectin & WHO -May 5 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-kohnlein-wrong-way-to-fight-viruses-oct-27-2020">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/50e5b0c1e40c6c512a35180029a42cd3.jpg}">
        <h5><span>Dr Köhnlein "Wrong Way To Fight Viruses" -Oct 27 2020<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./big-pharma-censorship-of-ivermectin-june-4-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/f52aa5b7364c18329e8b4a831f777313.jpg}">
        <h5><span>Big Pharma Censorship of Ivermectin -June 4 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./midazolam-sleep-or-death-drug-june-22-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/7c95fb6b52e4c191b616be8bb7fd5637.jpg}">
        <h5><span>Midazolam - Sleep or Death Drug? - June 22 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-kory-on-ivermectin-june-29-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/535e45293603d0e806945f56dfcac23f.jpg}">
        <h5><span>Dr Kory on Ivermectin -June 29 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-tyson-on-ivermectin-and-hcq-july-1-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/84bb7c7e8f515d6ff6d07e36859526a2.jpg}">
        <h5><span>Dr Tyson on Ivermectin & HCQ -July 1 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./bret-weinstein-on-big-tech-and-big-pharma-june-30-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/00ac2fca55c696aac5e44a22d292f2a3.jpg}">
        <h5><span>Bret Weinstein on Big Tech & Big Pharma -June 30 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./doctor-of-neurology-on-vaccine-injuries-june-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b5763d28b662338e2c34cd89cb59768f.jpg}">
        <h5><span>Doctor of Neurology on Vaccine Injuries -June 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-malone-on-vax-risk-benefit-july-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/279399ec65eedbe7ce6a7ea4b143091d.jpg}">
        <h5><span>Dr Malone on Vax Risk Benefit -July 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./when-the-government-experimented-on-its-own-july-21-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/bfb71650d9ee122cc174d699aae526d0.jpg}">
        <h5><span>When the Government Experimented on its Own -July 21 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./the-covid-killing-fields-of-tony-fauci-july-30-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/6a7698b2e846646a2f8f80753dc9729a.jpeg}">
        <h5><span>The Covid killing fields of Tony Fauci - July 30 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./drs-wodarg-and-ardis-remdesivir-deaths-jul-30-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/0564266dd43afc599fc0fff43eabb90c.jpg}">
        <h5><span>Drs Wodarg & Ardis Remdesivir Deaths -Jul 30 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./tony-fauci-and-the-2018-ebola-remdesivir-study-july-30-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/3c6ac6c8ed5369889cd824c67cc24ba3.jpg}">
        <h5><span>Tony Fauci & the 2018 Ebola Remdesivir study - July 30 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./australia-mp-on-ivermectin-jun-22-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/6745ace5d271650a40474a21617a53a2.jpg}">
        <h5><span>Australia MP on Ivermectin -Jun 22 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
</div>
</div>

--- name:subcat_descr pipeline:erb
  The Role of the Medical Treatments in the New Normal

--- name:page_title pipeline:erb
<div class="centered cat_name">
  Treatments
</div>

--- name:vid_count pipeline:erb
<div class="vid_count _center">
  21 VIDEOS
</div>

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../old-think">OLD-THINK</a>
    </div>