---
title: "The Spanish Flu vs Covid - July 10 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Germ Theory"
category: "science"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/telegram-cloud-document-2-5424926144505842838/90b752d1963db8dadc1f1ae1d33ab302b05eba51?r=8WbC57z5HFN9m8cuhY31p6wv6bHj575h" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">GERM THEORY &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../the-spanish-flu-vs-covid-july-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4111adcd08e28ce65aec367c6a8e49f0.jpg}">
            <h5>
              <span>
                The Spanish Flu vs Covid - July 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-wu-zinyou-chinese-cdc-the-virus-has-never-been-isolated-feb-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/86984e8de96cbeeb0d70fb9ff85b3e65.jpg}">
            <h5>
              <span>
                Dr Wu Zinyou Chinese CDC "The Virus has Never Been Isolated" -Feb 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-kaufman-on-virus-isolation-apr-29-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bb7e6e4d0aa46a12e9604b3b1cff675e.jpg}">
            <h5>
              <span>
                Dr Kaufman on Virus Isolation -Apr 29 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  The Spanish Flu vs Covid - July 10 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>