---
title: "CA legal attorney says &quot;We will not turn our schools into vaccination centres&quot;"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Legal Opinions"
category: "legal"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://odysee.com/$/embed/Legal-attorney-USA/6adfc6ff36facb83eaaac5aecd8d8c06f0e66776?r=5vxYbCwX3eZrxwvF5ihoXw5hN9kPVjgz" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">LEGAL OPINIONS &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../ca-legal-attorney-says-we-will-not-turn-our-schools-into-vaccination-centres">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0baa2c0d2f2e2f624a8b982422102e2f.jpg}">
            <h5>
              <span>
                CA legal attorney says "We will not turn our schools into vaccination centres"<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bobby-kennedy-jnr-gives-freedom-speech-in-berlin">
          <div class="image">
            <img src="https://i.ytimg.com/vi/2qvh-FniKw8/mqdefault.jpg">
            <h5>
              <span>
                Bobby Kennedy Jnr gives 'Freedom speech' in Berlin<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lawyer-we-wont-turn-schools-into-vax-centres-apr-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/eb33287f23869cff9f83ee9841d4df1d.jpg}">
            <h5>
              <span>
                Lawyer "We Won't Turn Schools into Vax Centres" -Apr 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../corona-committee-on-civil-disobedience-dec-19-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/21017c3d2cb15c2c5d6fcd8ee7d55f1f.jpg}">
            <h5>
              <span>
                Corona Committee on Civil Disobedience -Dec 19 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../texas-senator-hall-on-why-vaccine-can-not-be-mandated">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3ceba4109e175798078385401658e8e8.jpg}">
            <h5>
              <span>
                Texas Senator Hall on why vaccine CAN NOT be mandated<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mattie-mcgrath-challenges-green-passports-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4b38fce9c3bca7021dcc1b9bfa1440b7.jpg}">
            <h5>
              <span>
                Mattie McGrath Challenges Green Passports -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lord-sumption-on-dishonest-government-propaganda-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0099a2ee06fdc0062673d974072dbe04.jpg}">
            <h5>
              <span>
                Lord Sumption on "Dishonest Government Propaganda" -May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../motives-of-biden-censorship-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Motives of Biden Censorship -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-fleming-on-door-to-door-vax-july-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6305dbeaf39587ad1a0a710a2bdd4c43.jpg}">
            <h5>
              <span>
                Dr Fleming on Door to Door Vax -July 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israeli-lawyer-explains-why-sweden-did-it-right">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2d9a742171dd46b6ad529b01d30096e3.jpg}">
            <h5>
              <span>
                Israeli Lawyer explains why Sweden did it right<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  CA legal attorney says "We will not turn our schools into vaccination centres"

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>