---
title: "Sweden Normal"
home_url: ../../
page_title: "SWEDEN NORMAL"
vid_count: 1
all_vid_count: 205
page_descr: "Despite Warnings of Doom Sweden Thrives Without Lockdowns"
top_right: " "
template: "../../subcategory.template"
---

<div class="grid_wrap">
<div class="grid">
   <div class="grid-item">
    <a href="./israeli-lawyer-explains-why-sweden-did-it-right">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/2d9a742171dd46b6ad529b01d30096e3.jpg}">
        <h5><span>Israeli Lawyer explains why Sweden did it right<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
</div>
</div>

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../thought-police"><button class="categories"><span class="categories">THOUGHT POLICE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../common-sense"><button class="categories"><span class="categories">COMMON SENSE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>