---
title: "Asymptomatic Transmission &quot;No Scientific Basis&quot; -May 5 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Common Sense"
category: "old-think"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Asymptomatic-Transmission-No-Scientific-Basis--May-5-2021/27151bcf5da6da5e53811ddddb6d92173fb20f28?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">COMMON SENSE &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../asymptomatic-transmission-no-scientific-basis-may-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/552c9f52fd031b48a3f54b154dc052e2.jpg}">
            <h5>
              <span>
                Asymptomatic Transmission "No Scientific Basis" -May 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../animal-vaccination-is-next-may-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2715b143272fa715ec75058e7275bdfa.jpg}">
            <h5>
              <span>
                Animal Vaccination is Next -May 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../noel-gallagher-on-finger-wagging-may-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/99be7bcd38a8a41f9afa2630d3f163b1.jpg}">
            <h5>
              <span>
                Noel Gallagher on "Finger Wagging" -May 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-exactly-is-a-covid19-death-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/595212a854591d1b35025cbc41851818.jpg}">
            <h5>
              <span>
                What exactly is a Covid19 Death? -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../accuracy-of-covid-death-numbers-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cf2fe88ed50f1ed7097372000c90512d.jpg}">
            <h5>
              <span>
                Accuracy of Covid Death Numbers -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../where-has-the-flu-gone-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/41e8e0d1dedadd5e4c12979e3ecc13e4.jpg}">
            <h5>
              <span>
                Where has the Flu Gone -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../we-need-to-let-kids-be-kids-may-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a9693d5b88a04d16165cb53214a3086c.jpg}">
            <h5>
              <span>
                "We need to let Kids be Kids" -May 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mask-logic-may-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/00a8031d11888fb95e8d383b4bfb4219.jpg}">
            <h5>
              <span>
                Mask Logic -May 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-warns-about-people-in-power-telling-you-to-do-things-oct-22-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d7e87132555a369a73c2c6a2908b9f4b.jpg}">
            <h5>
              <span>
                Dr warns "about people in power telling you to do things" -Oct 22, 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../anyone-ever-tested-positive-is-counted-as-covid-death-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bda0605e132fbbd17d9989ebfe2dc9b7.jpg}">
            <h5>
              <span>
                Anyone Ever Tested Positive is Counted as Covid Death -Feb 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../2009-swine-flu-false-alarm-and-profit-apr-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/726860d62e0708fb5c6a33fad9f14139.jpg}">
            <h5>
              <span>
                2009 Swine Flu False Alarm & Profit -Apr 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../15-questions-about-the-pandemic-feb-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f805a3dac95d7a0a845bf2cb8172b599.jpg}">
            <h5>
              <span>
                15 Questions about the pandemic -Feb 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../15-more-questions-about-the-pandemic-feb-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7a1d00283b0aab6336025980f4e45aa1.jpg}">
            <h5>
              <span>
                15 more Questions about the pandemic -Feb 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../firefighter-tests-oxygen-levels-with-masks-feb-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ec6cca3e9ae471735c08b14aaa9b2c6c.jpg}">
            <h5>
              <span>
                Firefighter Tests Oxygen Levels With Masks -Feb 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../12-countries-with-no-lockdowns-feb-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6496c9e6d344a1fe8cc8f622e75e0677.jpg}">
            <h5>
              <span>
                12 Countries with No Lockdowns -Feb 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../williams-how-can-that-make-any-sense-apr-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6287a0a3cda9329a5d0089e082ffbd25.jpg}">
            <h5>
              <span>
                Williams "How Can That Make Any Sense?" -Apr 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../all-mask-types-tested-may-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/864d0f14e1c783a062a0764db2e604f6.jpg}">
            <h5>
              <span>
                All Mask Types Tested -May 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bill-nye-if-you-wear-one-of-these-your-protected-may-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/625ce19e6d67fd42bf1f4457044bc2d9.jpg}">
            <h5>
              <span>
                Bill Nye "If You Wear One Of These Your Protected" -May 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../russel-brand-on-government-and-the-threat-of-violence-apr-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ba9bbbb4aac4a395ae3a70e1b87e247c.jpg}">
            <h5>
              <span>
                Russel Brand on Government & the Threat of Violence -Apr 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../uk-primary-care-physician-resigns-from-his-practice-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/71fd244f7de2acbbb9a45013f6d0cce9.jpg}">
            <h5>
              <span>
                UK Primary Care Physician resigns from his practice - June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../government-guidelines-make-sure-you-keep-up-the-act-feb-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/23b53ab6bc77065eb407a2bc779961f3.jpg}">
            <h5>
              <span>
                Government Guidelines "Make Sure You Keep Up The Act" -Feb 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../governments-are-crushing-their-own-economies-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/369fde7c7a7302dee0ac5cbb83500c1a.jpg}">
            <h5>
              <span>
                "Governments Are Crushing Their Own Economies" -Feb 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-did-you-surrender-your-freedoms-for-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f0cbd2a672cb34bc7468437c38dda8f0.jpg}">
            <h5>
              <span>
                What Did You Surrender Your Freedoms For? -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../theyre-doing-it-for-their-health-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cf4ee7bee465b7ae57836d2c12a29c61.jpg}">
            <h5>
              <span>
                "They're Doing It For Their Health!" -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../texas-prohibits-vax-passports-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/00465209478d98616f3069abdcc84f3d.jpg}">
            <h5>
              <span>
                Texas Prohibits Vax Passports -June 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../i-dont-think-taking-freedoms-is-funny-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4be54d29f6175e71e1c6cf64f03f38c2.jpg}">
            <h5>
              <span>
                "I Don't Think Taking Freedoms is Funny" -June 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../desantis-florida-chose-freedom-over-fauci-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/839ed41af81287a69d07f19c0b8b7153.jpg}">
            <h5>
              <span>
                DeSantis "Florida chose FREEDOM over Fauci!" -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../have-our-kids-not-suffered-enough-feb-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2aaecc00f4846de4d5da24fd954c3879.jpg}">
            <h5>
              <span>
                "Have Our Kids Not Suffered Enough?" -Feb 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../health-care-workers-refusing-to-get-the-jab-feb-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6338f1dc5239e544384f585898018bfc.jpg}">
            <h5>
              <span>
                Health Care Workers Refusing To Get The Jab -Feb 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../doctor-tells-fauci-to-resign-18-years-ago-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f4c390aa8f72a5306317001e16e25ea3.jpg}">
            <h5>
              <span>
                Doctor Tells Fauci to Resign (18 Years Ago) -June 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../us-congressman-doesnt-want-the-vax-june-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1cac94ebe6f7079e4893be7177f97d10.jpg}">
            <h5>
              <span>
                US Congressman Doesn't Want the Vax -June 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../police-without-masks-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Police Without Masks -June 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../why-are-scottish-fans-not-terrified-of-covid-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8c5dc34295c362b89896182e6ab8007e.jpg}">
            <h5>
              <span>
                Why Are Scottish Fans Not Terrified of Covid? -June 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vegas-is-open-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/da443c026bc75f7e526eedd70e94765e.jpg}">
            <h5>
              <span>
                Vegas is OPEN! -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../when-you-will-get-your-freedoms-back-june-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/595e70fb67c4b14889c3f3e01867b8ce.jpg}">
            <h5>
              <span>
                "When You Will Get Your Freedoms Back?" -June 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../government-death-announcements-in-perspective-june-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/41394a79e14d38edbba4b2468375784c.jpg}">
            <h5>
              <span>
                Government Death Announcements in Perspective -June 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../scientists-file-to-stop-vaccines-june-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0f0b3cef13432691351412b6d0e63fed.jpg}">
            <h5>
              <span>
                Scientists File to Stop Vaccines -June 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../napoli-after-curfew-june-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/72b2c12e528780275cdf247f5a018301.jpg}">
            <h5>
              <span>
                Napoli After Curfew -June 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-waldinger-loneliness-kills-dec-23-2015">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7c372d6ac8631277d85025dc04c4b29e.jpg}">
            <h5>
              <span>
                Prof Waldinger "Loneliness Kills!" -Dec 23 2015<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dont-be-bullied-into-a-science-experiment-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/db3b9000fa8f59de64024425ed3a4228.jpg}">
            <h5>
              <span>
                "Don't Be Bullied into a Science Experiment" -June 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../64-yr-old-no-jab-for-me-research-it-july-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/95d4fceb3815aaf237a487206d96833e.jpg}">
            <h5>
              <span>
                64 yr old "No jab for me, research it!" - July 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-death-recount-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5ea14b8eaa453b73051addd44ca9faea.jpg}">
            <h5>
              <span>
                Covid Death Recount -July 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-malone-on-vax-risk-benefit-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/279399ec65eedbe7ce6a7ea4b143091d.jpg}">
            <h5>
              <span>
                Dr Malone on Vax Risk Benefit -July 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../small-acts-of-defiance-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1c7946132682a79f51e7ff9bf0249625.jpg}">
            <h5>
              <span>
                Small Acts of Defiance -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-in-perspective-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ddf5202240cbbcf88a466eb9f739d3e0.jpg}">
            <h5>
              <span>
                Covid in Perspective -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../germany-effective-political-opposition-june-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/251c4e04bfff5a3f8a19ec0e8a3f416e.jpg}">
            <h5>
              <span>
                Germany - effective political opposition - June 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../i-know-when-your-lying-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8868a0be9b5b0943610b9b3d3d5e2ac4.jpg}">
            <h5>
              <span>
                I Know When Your Lying -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nhs-and-human-rights-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/aed5592faf83c4a93b6ee9c4bd55eb30.jpg}">
            <h5>
              <span>
                NHS & Human Rights -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-weinstein-on-open-conversation-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7168e41c1800c359a98ebc934bca67c9.jpg}">
            <h5>
              <span>
                Dr Weinstein on Open Conversation -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lockdowns-worse-than-covid-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/28fa7d221322fcfc2f8b0631c7b74ccc.jpg}">
            <h5>
              <span>
                Lockdowns Worse than Covid -July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../weve-seen-tons-of-evidence-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ca43849a4691ce06cb0d86e2f75e5401.jpg}">
            <h5>
              <span>
                We've Seen Tons of Evidence -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../i-would-not-take-the-vax-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a2a64a357adfe7aec07efa3eab77c8f6.jpg}">
            <h5>
              <span>
                I Would Not Take the Vax -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-rollout-is-inappropriate-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dd3d77d5070b330a279fad95b2b08ce4.jpg}">
            <h5>
              <span>
                Vax Rollout is Inappropriate -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-de-monchy-opposes-vax-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/19d5a4a679aed6cb1d498498c82b8437.jpg}">
            <h5>
              <span>
                Dr de Monchy Opposes Vax -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../sen-johnson-on-gods-of-information-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d71975a7bec15f25301898ba59eda461.jpg}">
            <h5>
              <span>
                Sen Johnson on "Gods of Information" -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hospitals-vs-the-people-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/32994eb8dae36f7e8ab0f88d130547b8.jpg}">
            <h5>
              <span>
                Hospitals vs the People -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../tony-fauci-and-the-2018-ebola-remdesivir-study-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3c6ac6c8ed5369889cd824c67cc24ba3.jpg}">
            <h5>
              <span>
                Tony Fauci & the 2018 Ebola Remdesivir study - July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../medical-apartheid-in-france-today-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e11dab28c166e5755b932ed53da31b4c.jpg}">
            <h5>
              <span>
                Medical apartheid in France today - Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-malone-against-vaccine-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7553ce262fb2162d9d50185b9f0f8af5.jpg}">
            <h5>
              <span>
                Dr Malone Against Vaccine -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-resist-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/59cdb4f36fa5d29564183422314369ac.jpg}">
            <h5>
              <span>
                Australia Resist! -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../j-elliot-of-iconic-podcast-on-the-scamdemic-sep-7-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/891b546716dac61d48b91cd3710dcdb6.jpg}">
            <h5>
              <span>
                J Elliot of ICONIC podcast on the scamdemic - Sep 7 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../sweden-normal-jul-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3e2b7f7283d368f9afff5143d340c4b8.jpg}">
            <h5>
              <span>
                Sweden Normal - Jul 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-mp-on-ivermectin-jun-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6745ace5d271650a40474a21617a53a2.jpg}">
            <h5>
              <span>
                Australia MP on Ivermectin -Jun 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-at-the-olympics-aug-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b71d0aac707d2e10df8084736908cd62.jpg}">
            <h5>
              <span>
                Covid at the Olympics -Aug 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-causes-myocarditis-and-sterility-jul-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Vax causes myocarditis & sterility - Jul 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-wodarg-why-doctors-dont-produce-reliable-numbers-jul-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f70171b2370d5dc0391bbc11046f31e3.jpg}">
            <h5>
              <span>
                Dr. Wodarg - why doctors don't produce reliable numbers - Jul 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../holocaust-survivor-on-following-aug-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5b71882066caed6d6d9b7cf8c3ab8199.jpg}">
            <h5>
              <span>
                Holocaust Survivor on Following -Aug 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-pass-exemption-loophole-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f3cf86c2b8b8d019874107bf37f40dfe.jpg}">
            <h5>
              <span>
                Covid Pass Exemption Loophole -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../chet-hanks-keeps-it-real-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ad25de236f28317d08d0cc04082ae045.jpg}">
            <h5>
              <span>
                Chet Hanks Keeps it Real -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../were-not-gonna-take-it-anymore-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2a09d47b2e8ba99479181ababf98ef36.jpg}">
            <h5>
              <span>
                We're Not Gonna Take It Anymore! -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-jensen-i-wonder-why-feb-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Dr Jensen "I wonder why" -Feb 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../corona-facts-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a8e585386460cdfa136e810046f95dcf.jpg}">
            <h5>
              <span>
                Corona Facts -Feb 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../doctors-endorse-smoking-1960s">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a8ef641d3a88a8effecdf6762da6e4bb.jpg}">
            <h5>
              <span>
                Doctors endorse smoking -1960s<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../russel-brand-on-experts-may-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a9ec9a611f695d12a65fab440e59b810.jpg}">
            <h5>
              <span>
                Russel Brand on Experts -May 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../einstein-said-feb-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1db5db1807ac1919b63bbd4110653062.jpg}">
            <h5>
              <span>
                Einstein said -Feb 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../uk-column-news-where-corona-thrives-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6d56dcab1fcd7ea5b9d1cb7af115f59e.jpg}">
            <h5>
              <span>
                UK Column News "Where Corona Thrives" -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../masks-are-common-sense-apr-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/606b8aa6971bf10e33eb212faada3510.jpg}">
            <h5>
              <span>
                Masks are Common Sense -Apr 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fact-checking-covid-hypothesis-apr-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7d09b6f39a94147a7e922867cb558926.jpg}">
            <h5>
              <span>
                Fact Checking Covid Hypothesis -Apr 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ignorance-is-bliss-apr-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/91b814d2b886074bc5fede411c3f45df.jpg}">
            <h5>
              <span>
                Ignorance is Bliss -Apr 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../eric-schmidt-the-most-important-thing-in-life-mar-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/81ebd04147c03ca0cbee78db67a49ef6.jpg}">
            <h5>
              <span>
                Eric Schmidt "the Most Important Thing in Life" -Mar 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../third-shot-needed-then-yearly-says-pfizer-ceo-apr-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6bc53ca60599cf72d52f507b73de1712.jpg}">
            <h5>
              <span>
                Third Shot Needed, Then Yearly, Says Pfizer CEO -Apr 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Asymptomatic Transmission "No Scientific Basis" -May 5 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>