---
title: "Israeli Lawyer explains why Sweden did it right"
home_url: ../../../
page_title: "Israeli Lawyer explains why Sweden did it right"
page_descr: "video.description"
all_vid_count: 114
vid_count: " "
top_right: " "
subcategory: "Enough is Enough"
category: "protest"
template: "../../../video.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe src="//www.youtube.com/embed/a7OjIGTDpeU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  </div>
</div>

--- name:carousel pipeline:erb
<span class="scat_in_cat">ENOUGH IS ENOUGH<a href="../">&gt;&gt;&gt;</a></span>
<div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../bobby-kennedy-jnr-gives-freedom-speech-in-berlin">
          <div class="image">
            <img src="https://i.ytimg.com/vi/2qvh-FniKw8/mqdefault.jpg">
            <h5><span>Bobby Kennedy Jnr gives 'Freedom speech' in Berlin<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hk-danser-encore-officiel">
          <div class="image">
            <img src="https://i.ytimg.com/vi/SyBEMRyt6Qg/mqdefault.jpg">
            <h5><span>HK - Danser encore (Officiel)<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israeli-lawyer-explains-why-sweden-did-it-right">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2d9a742171dd46b6ad529b01d30096e3.jpg}">
            <h5><span>Israeli Lawyer explains why Sweden did it right<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../m-levitt-short-videos-number-1-exponential-growth">
          <div class="image">
            <img src="https://i.ytimg.com/vi/3pxxFmwr_Kw/mqdefault.jpg">
            <h5><span>M Levitt short videos #1  Exponential Growth<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../m-levitt-number-2-concepts-of-curve-fitting">
          <div class="image">
            <img src="https://i.ytimg.com/vi/8XrLiLgUhKw/mqdefault.jpg">
            <h5><span>M  Levitt #2 Concepts of curve fitting<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../with-love-from-kassel-20th-march-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1d3b4ba52eb33afa735322a9c09c613e.jpg}">
            <h5><span>With Love from Kassel - 20th March 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../swiss-artists-against-covid-measures">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c5e94a9ee48d234e638983a3be956560.jpg}">
            <h5><span>Swiss Artists Against Covid Measures<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../corona-committee-number-7-mask-wearing-causes-deaths">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1d6f001504a827a69ae349742ef4aa1f.jpg}">
            <h5><span>Corona Committee #7  - "Mask wearing causes deaths"<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../a-stimulating-discussion">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1bda1f5f0f17a522b386219085a67462.jpg}">
            <h5><span>A stimulating discussion<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../anti-lockdown-protests-erupt-across-europe-as-tempers-fray-over-tightening-restrictions">
          <div class="image">
            <img src="https://i.ytimg.com/vi/-mkvFk1tlJc/mqdefault.jpg">
            <h5><span>Anti-lockdown protests erupt across Europe as tempers fray over tightening restrictions<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../pastor-kicks-out-police-trying-to-shut-down-easter-service">
          <div class="image">
            <img src="https://i.ytimg.com/vi/BC1o4__XZM4/mqdefault.jpg">
            <h5><span>Pastor kicks out police trying to shut down Easter Service<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../doctor-calls-alarm-over-notion-of-a-vaccine-passport-april-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/68af72918183fe1ee53f56f748a0a274.jpg}">
            <h5><span>Doctor calls Alarm over notion of a Vaccine Passport - April 16, 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../boris-you-are-a-wet-wipe-feb-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cf6712d81958df6fd3d8090fadc4ec35.jpg}">
            <h5><span>"Boris you are a wet wipe" -Feb 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
</div> 

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../corona-committee"><button class="categories"><span class="categories">CORONA COMMITTEE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../new-speak"><button class="categories"><span class="categories">NEW SPEAK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ethics-and-morals"><button class="categories"><span class="categories">ETHICS & MORALS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine-passport"><button class="categories"><span class="categories">VACCINE PASSPORT</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>