---
title: "Canadian MP on Authoritarian Overreach &amp; Misinformation -June 19 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "More"
category: "big brother"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Canadian-MP-on-Authoritarian-Overreach---Misinformation--June-19-2021/587c9bcbd72b19a5f96297556f9f5a24c7502a0b?r=8WbC57z5HFN9m8cuhY31p6wv6bHj575h" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">MORE &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../canadian-mp-on-authoritarian-overreach-and-misinformation-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ec2b606ad917f0b8e44bd284ba95c3a0.jpg}">
            <h5>
              <span>
                Canadian MP on Authoritarian Overreach & Misinformation -June 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../socialism-and-violence-july-16-2021">
          <div class="image">
            <img src="https://i.ytimg.com/vi/n_r9CKdrmIA/mqdefault.jpg">
            <h5>
              <span>
                Socialism & Violence -July 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../stossel-life-liberty-and-happiness-july-3-2018">
          <div class="image">
            <img src="https://i.ytimg.com/vi/8FtxLpA1lqY/mqdefault.jpg">
            <h5>
              <span>
                Stossel: Life, Liberty & Happiness -July 3 2018<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../stossel-happy-thanksgiving-nov-21-2017">
          <div class="image">
            <img src="https://i.ytimg.com/vi/jZERvJemQLc/mqdefault.jpg">
            <h5>
              <span>
                Stossel: Happy Thanksgiving! -Nov 21 2017<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-new-censors-oct-6-2020">
          <div class="image">
            <img src="https://i.ytimg.com/vi/punjBhQG__s/mqdefault.jpg">
            <h5>
              <span>
                The New Censors -Oct 6 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../infowars-on-bioterrosism-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3f3a3d582c7119aeab43245b5c5204a8.jpg}">
            <h5>
              <span>
                InfoWars on BioTerrosism -June 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../milton-friedman-enemies-of-the-free-market-1991">
          <div class="image">
            <img src="https://i.ytimg.com/vi/vhgaPVO8aw8/mqdefault.jpg">
            <h5>
              <span>
                Milton Friedman - Enemies of the Free Market -1991<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../milton-friedman-the-choice-1978">
          <div class="image">
            <img src="https://i.ytimg.com/vi/F4L-2wQcCI8/mqdefault.jpg">
            <h5>
              <span>
                Milton Friedman: the Choice -1978<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../walter-e-williams-tyranny-of-the-elites">
          <div class="image">
            <img src="https://i.ytimg.com/vi/WQbUPNZTEiI/mqdefault.jpg">
            <h5>
              <span>
                Walter E Williams - Tyranny of the Elites<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../risks-of-monopolies-and-centralized-government-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d6d2dc705ff6fd3fea5b1391cdc0559a.jpg}">
            <h5>
              <span>
                Risks of Monopolies & Centralized Government -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../who-dies-from-covid-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9a16bdfdfe3bc9456532f0b9efad963b.jpg}">
            <h5>
              <span>
                Who Dies from Covid? -July 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../control-or-protection-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/16d7b5c872d83f88dc4fd2adc8158c51.jpg}">
            <h5>
              <span>
                Control or Protection? -July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cdcs-vax-flip-flop-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d910a255edafa33fc5b75fb696b07f57.jpg}">
            <h5>
              <span>
                CDC's Vax Flip Flop -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../doctors-endorse-smoking-1960s">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a8ef641d3a88a8effecdf6762da6e4bb.jpg}">
            <h5>
              <span>
                Doctors endorse smoking -1960s<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-fauci-no-reason-for-me-mar-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/25c5d47091c1fcb932fbf1a78d02ad71.jpg}">
            <h5>
              <span>
                Dr Fauci "No Reason for Me" –Mar 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../desantis-defends-free-speech-apr-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/577533c78c01ff3d37cb7a4a8a51dcb2.jpg}">
            <h5>
              <span>
                DeSantis Defends Free Speech -Apr 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nhs-vaccine-whistleblower-p3-shut-up-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/df30bc1d7f08621c4cecee0be33b93da.jpg}">
            <h5>
              <span>
                NHS Vaccine Whistleblower p3 "Shut Up!" -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../microchip-implants-no-longer-conspiracy-theory-apr-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0f763354893c3621c2c8c1d836008734.jpg}">
            <h5>
              <span>
                Microchip Implants No Longer Conspiracy Theory -Apr 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../new-york-to-change-covid-death-status-retroactively-apr-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a008766f46fd6801b2ceb87a368f90d1.jpg}">
            <h5>
              <span>
                New York to Change Covid Death Status Retroactively -Apr 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-police-attack-protesters-feb-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f48cb27d20c117b70966b67f302e0d8c.jpg}">
            <h5>
              <span>
                Dutch Police Attack Protesters -Feb 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hitchens-thanking-big-brother-for-a-beer-apr-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a380a52f0a542963424267734191b115.jpg}">
            <h5>
              <span>
                Hitchens "Thanking Big Brother for a Beer" -Apr 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../police-officer-suspended-for-not-following-orders-apr-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f56b7577c188d0f57a8456499ba12e82.jpg}">
            <h5>
              <span>
                Police Officer Suspended for Not Following Orders -Apr 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../george-carlin-they-own-you-nov-5-2005">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bcfb6ba38abc15e248a83e181a7ca4eb.jpg}">
            <h5>
              <span>
                George Carlin "They Own You" -Nov 5 2005<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-changes-herd-immunity-standards-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2935374c8513d8d818068c0bd8ff77bc.jpg}">
            <h5>
              <span>
                Fauci Changes Herd Immunity Standards -Apr 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ivor-cummins-on-india-data-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8c9635e40c3d98110e73435fdb838a43.jpg}">
            <h5>
              <span>
                Ivor Cummins on India Data -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../police-illegally-harrass-man-without-mask-may-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/79c5cc5901a5e68cace851d440c356a6.jpg}">
            <h5>
              <span>
                Police Illegally Harrass Man Without Mask -May 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../anti-lockdown-judge-investigated-by-police-may-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1bcd9684d8347f130f12da1a1e0be03a.jpg}">
            <h5>
              <span>
                Anti Lockdown Judge investigated by Police -May 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-eberhard-the-psychology-of-lockdowns-p1-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8b8c19b9b5dd7c31d0296a2e6069f775.jpg}">
            <h5>
              <span>
                Dr Eberhard: the Psychology of Lockdowns p1 -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-eberhard-the-psychology-of-lockdowns-p2-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9ea6a9f848ec97aee85818ac95e76c76.jpg}">
            <h5>
              <span>
                Dr Eberhard: the Psychology of Lockdowns p2 -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../yeadon-this-is-our-last-chance-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1b766d5f624fe97a12fba94285bc8228.jpg}">
            <h5>
              <span>
                Yeadon "This is our Last Chance" -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-is-a-covid19-death-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f2935b0672ddd5ca387dcd72eeed01f3.jpg}">
            <h5>
              <span>
                What is a Covid19 Death -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-exactly-is-a-covid19-death-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/595212a854591d1b35025cbc41851818.jpg}">
            <h5>
              <span>
                What exactly is a Covid19 Death? -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../accuracy-of-covid-death-numbers-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cf2fe88ed50f1ed7097372000c90512d.jpg}">
            <h5>
              <span>
                Accuracy of Covid Death Numbers -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../where-has-the-flu-gone-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/41e8e0d1dedadd5e4c12979e3ecc13e4.jpg}">
            <h5>
              <span>
                Where has the Flu Gone -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ray-winstone-they-dont-want-us-to-go-anywhere-may-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/14d769de5268d0d555dedc0c2d1fa844.jpg}">
            <h5>
              <span>
                Ray Winstone "They Don't Want us to Go Anywhere" -May 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-experts-vs-no-lockdown-states-may-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0cf2a8be32fc3f78993a8fc6ecb1f3a3.jpg}">
            <h5>
              <span>
                The "Experts" vs No Lockdown States -May 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../science-is-based-on-challenge-of-ideas-may-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e6aeffec8d81e294d06c79b54bfe4295.jpg}">
            <h5>
              <span>
                Science is Based on Challenge of Ideas -May 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rfk-jr-on-fauci-who-and-bill-gates-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2e9bf4f2e034c233c48ec9ded405fbdd.jpg}">
            <h5>
              <span>
                RFK jr on Fauci, WHO & Bill Gates -Apr 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../no-epidemic-ever-driven-by-asymptomatic-carriers-jan-28-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/84d343419b49f1f10db255727a57d5f6.jpg}">
            <h5>
              <span>
                No Epidemic ever Driven by Asymptomatic Carriers -Jan 28 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-warns-about-people-in-power-telling-you-to-do-things-oct-22-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d7e87132555a369a73c2c6a2908b9f4b.jpg}">
            <h5>
              <span>
                Dr warns "about people in power telling you to do things" -Oct 22, 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-mask-shaming-as-political-tool-feb-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bab868933a6fb494b7df77a0952bf693.jpg}">
            <h5>
              <span>
                Fauci Mask Shaming As Political Tool -Feb 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../general-butler-few-profit-many-pay-1930s">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/57cc4ae11e373b42cb075387c1f8129f.jpg}">
            <h5>
              <span>
                General Butler "Few profit, many pay" -1930s<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../kary-mullis-wanted-to-unmask-fauci-may-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cacfc03e289ef669e21de44e2a5ee87f.jpg}">
            <h5>
              <span>
                Kary Mullis Wanted To Unmask Fauci -May 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../how-the-cdc-counted-cases-before-and-after-the-vaccines-may-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/922f91e5ff9d7ff8d6c81f59e15f397e.jpg}">
            <h5>
              <span>
                How The CDC Counted Cases Before & After The Vaccines -May 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../new-normal-doc-government-doesnt-give-us-our-rights-jan-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d568c284ad11ab610fc67fbc3b4d8724.jpg}">
            <h5>
              <span>
                New Normal Doc "Government Doesn't Give Us Our Rights" -Jan 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rand-paul-on-vaccine-logic-and-mandates-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/683e68e655574f6009119502cf348623.jpg}">
            <h5>
              <span>
                Rand Paul on Vaccine Logic & Mandates -May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-death-counting-changes-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/deb632e4cd592e6e03f98fc83d93e118.jpg}">
            <h5>
              <span>
                Covid Death Counting Changes -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../munich-university-lockdown-had-no-effect-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3596b7425e8e38853b4b8d22230fac58.jpg}">
            <h5>
              <span>
                Munich University "Lockdown had NO Effect" -June 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../faucis-email-releases-and-truth-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/565d34d6160c5264f703cc7e09ac1a57.jpg}">
            <h5>
              <span>
                Fauci's Email Releases & Truth -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../government-guidelines-make-sure-you-keep-up-the-act-feb-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/23b53ab6bc77065eb407a2bc779961f3.jpg}">
            <h5>
              <span>
                Government Guidelines "Make Sure You Keep Up The Act" -Feb 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-jensen-on-faucis-emails-and-deceits-june-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7c0b809ffa2f8ba7756d4e874db1924c.jpg}">
            <h5>
              <span>
                Dr Jensen on Fauci’s Emails & Deceits -June 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-zelenko-explains-misleading-term-gain-of-function-june-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7347b8304b136ce1ae2af1527077d63c.jpg}">
            <h5>
              <span>
                Dr Zelenko Explains Misleading Term Gain-Of-Function -June 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-mccullough-on-bio-terrorism-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e792a706d36ee27b649dd610b1113272.jpg}">
            <h5>
              <span>
                Dr McCullough on "Bio-Terrorism" -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nurse-bullied-by-hospital-and-government-lies-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cb2c99908c68de6fcf994a7e9f3dfc56.jpg}">
            <h5>
              <span>
                Nurse Bullied By Hospital & Government Lies -June 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-attacking-me-is-attacking-science-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/75cd81ff1e5f6bbf2d871b524bca17f0.jpg}">
            <h5>
              <span>
                Fauci "Attacking Me is Attacking Science!"-June 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../public-vs-private-fauci-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9e57c667c328869c5712d62d4afa4916.jpg}">
            <h5>
              <span>
                Public vs Private Fauci -June 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-fleming-on-emergency-approval-requirements-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2cf47fc6c93d9397aa4b919acf547d7b.jpg}">
            <h5>
              <span>
                Dr Fleming on Emergency Approval Requirements -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rfk-jr-my-father-told-me-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9d1912ea89f6a7c47c6709b4416488b6.jpg}">
            <h5>
              <span>
                RFK jr "My Father Told Me" -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../colleges-mandate-vax-for-students-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e3a18f23de02dc051b62fd2910fc9b67.jpg}">
            <h5>
              <span>
                Colleges Mandate Vax for Students -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Canadian MP on Authoritarian Overreach & Misinformation -June 19 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>