---
title: "Corona Committee on Civil Disobedience -Dec 19 2020"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "More"
category: "protest"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Corona-Committee---Civil-disobedience./b42fb83a4f455dfcc167a13d1c31be97194fa07e?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">MORE &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../corona-committee-on-civil-disobedience-dec-19-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/21017c3d2cb15c2c5d6fcd8ee7d55f1f.jpg}">
            <h5>
              <span>
                Corona Committee on Civil Disobedience -Dec 19 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../priest-protests-lockdowns-p2-apr-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/02b8e8a83de63884921b3b1f528d9fe7.jpg}">
            <h5>
              <span>
                Priest protests Lockdowns p2-Apr 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../priest-protests-lockdowns-p1-apr-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/aa4aaba1c0795f0a1c9cad868fafe489.jpg}">
            <h5>
              <span>
                Priest Protests Lockdowns p1 -Apr 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-truths-censored-apr-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2b1429099b8d1e1d711eddd060cdc0f9.jpg}">
            <h5>
              <span>
                Vaccine Truths Censored -Apr 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../tucker-carlsen-on-covid-logic-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a91e3d74adaaa89bef6fdb7f2a2078ba.jpg}">
            <h5>
              <span>
                Tucker Carlsen on Covid Logic -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-tapper-covid-in-perspective-apr-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/39c1b4dc9c1a2c1b811c11f794f2140c.jpg}">
            <h5>
              <span>
                Dr Tapper: Covid in Perspective -Apr 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-coleman-fear-is-the-most-dangerous-disease-mar-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ea7be73dec0155447fe58201a0cf9cd7.jpg}">
            <h5>
              <span>
                Dr Coleman "Fear is the Most Dangerous Disease" –Mar 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-most-dangerous-disease-in-the-world-oct-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/555f00545833e922b2dae480fe414d4d.jpg}">
            <h5>
              <span>
                The Most Dangerous Disease in the World -Oct 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-fiechtner-constitutionally-citizens-have-the-right-to-resist-jan-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0008f8933d6fa5d789039ca326c17d8e.jpg}">
            <h5>
              <span>
                Dr. Fiechtner "Constitutionally Citizens have the Right to Resist" -Jan 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-fiechtner-slams-endless-propaganda-jan-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/712c837dc6e1c8cbb7f83499cfa9dc91.jpg}">
            <h5>
              <span>
                Dr. Fiechtner Slams Endless Propaganda -Jan 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../woman-calls-press-hyenas-in-dutch-jan-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/73eb870a3c341163855abe00a5f20054.jpg}">
            <h5>
              <span>
                Woman Calls Press "Hyenas" (in Dutch) -Jan 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../i-dont-need-advice-how-to-live-my-life-apr-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0bcd68cd627921550bebab7ecf673938.jpg}">
            <h5>
              <span>
                "I Don't Need Advice how to live My Life" -Apr 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hitchens-thanking-big-brother-for-a-beer-apr-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a380a52f0a542963424267734191b115.jpg}">
            <h5>
              <span>
                Hitchens "Thanking Big Brother for a Beer" -Apr 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../police-sergeant-refuses-orders-apr-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c108f6ba40b4717c08e781098bbbe822.jpg}">
            <h5>
              <span>
                Police Sergeant Refuses Orders -Apr 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../police-officer-suspended-for-not-following-orders-apr-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f56b7577c188d0f57a8456499ba12e82.jpg}">
            <h5>
              <span>
                Police Officer Suspended for Not Following Orders -Apr 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ignorance-is-bliss-apr-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/91b814d2b886074bc5fede411c3f45df.jpg}">
            <h5>
              <span>
                Ignorance is Bliss -Apr 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../grace-anne-kelly-variants-apr-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9fd58a05b553a0968684402ba6fd476c.jpg}">
            <h5>
              <span>
                Grace-Anne Kelly "Variants" -Apr 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../celebritits-should-go-first-apr-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/50ee9c85b41d3d5ec368ccb68104103e.jpg}">
            <h5>
              <span>
                "CelebriTITS Should Go First!" -Apr 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../pre-covid-conspiracy-theory-comes-true-sep-21-2019">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/66ee074938b33a7df793a087dd7f6e79.jpg}">
            <h5>
              <span>
                Pre-Covid Conspiracy Theory Comes True -Sep 21 2019<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../italian-mp-heckled-for-lockdowns-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/37a95d673e962dffba4fc77757743755.jpg}">
            <h5>
              <span>
                Italian MP Heckled for Lockdowns -Apr 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../arizona-parents-unite-to-remove-masks-in-schools-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5c7713ae3541bc328a132924498e9f88.jpg}">
            <h5>
              <span>
                Arizona Parents Unite to Remove Masks in Schools -Apr 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../tucker-carlsen-masks-are-repulsive-and-abuse-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/668381ac50ca8743812bb60b5647ce27.jpg}">
            <h5>
              <span>
                Tucker Carlsen Masks are "Repulsive" & "Abuse" -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../chris-sky-no-way-may-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0e04e24f27edcbb31b8a3039afbf460a.jpg}">
            <h5>
              <span>
                Chris Sky "No Way" -May 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../new-york-mask-burning-after-mandate-ends-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/08983ce8c677c0ec01934447ba26ddf3.jpg}">
            <h5>
              <span>
                New York, Mask Burning after Mandate Ends -May 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../unmask-the-kids-may-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c598a1a40aaa31468e9e4fa478f70bfb.jpg}">
            <h5>
              <span>
                Unmask the Kids -May 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-narrative-has-to-stop-may-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/43f7a9bfde31a22b619ed7161dfc08b8.jpg}">
            <h5>
              <span>
                "The Narrative has to Stop!" -May 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../french-farmers-dump-manure-on-city-hall-mar-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e2e9446f52609e18171865ba702df18f.jpg}">
            <h5>
              <span>
                French Farmers Dump Manure On City Hall -Mar 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-shiva-challenges-msm-about-the-science-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d489bb9ad469e0f0c29675dd678a7a1e.jpg}">
            <h5>
              <span>
                Dr Shiva Challenges MSM about the Science -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../irish-politicians-finally-say-enough-may-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3f0f84cb63a20d3f7671fa7c24aaaee2.jpg}">
            <h5>
              <span>
                Irish Politicians Finally Say Enough -May 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../irish-politicians-finally-blame-lockdowns-may-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/51793a06cd7bde2bd693c35627f92e54.jpg}">
            <h5>
              <span>
                Irish Politicians Finally Blame Lockdowns -May 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australian-senator-says-no-to-mandated-vaccines-may-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/81e991a886e0dab38d184f2d98dea737.jpg}">
            <h5>
              <span>
                Australian Senator says NO to Mandated Vaccines -May 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bbc-is-no-longer-credible-may312021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cdd97f004b6a393ed1ba9b239c60defb.jpg}">
            <h5>
              <span>
                "BBC Is No Longer Credible" -May312021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../msm-grossly-lies-about-protest-events-may-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/110b76b45bad910544428ea7027ee5d7.jpg}">
            <h5>
              <span>
                MSM Grossly Lies about Protest Events -May 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../beverly-turner-stands-up-to-msm-may-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1fb5c5c37dbaae793397357075f0dd2b.jpg}">
            <h5>
              <span>
                Beverly Turner Stands Up To MSM -May 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../us-senate-under-reporting-of-vaccine-deaths-june-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/40a7a6f3c873a45aa2be01093a2a2b75.jpg}">
            <h5>
              <span>
                US Senate: Under-Reporting of Vaccine Deaths -June 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-politician-thierry-baudet-on-lockdown-nonsense-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/696d94ba7c89e14b58d1adf9a3bc5217.jpg}">
            <h5>
              <span>
                Dutch Politician Thierry Baudet on Lockdown Nonsense -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../my-vax-adverse-reactions-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ab932dc5f390dc40f79492221b02f65c.jpg}">
            <h5>
              <span>
                My Vax Adverse Reactions -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../my-mother-died-from-moderna-vaccine-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/32087b89d3c605f54c2cede9beb400bb.jpg}">
            <h5>
              <span>
                My Mother Died From Moderna Vaccine -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-bartlett-no-covid-patients-only-vax-adverse-reactions-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2931534e06f4d166e79751a68dcca25e.jpg}">
            <h5>
              <span>
                Dr Bartlett "No Covid Patients, Only Vax Adverse Reactions" -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ano-turtiainen-mp-on-vaccine-crime-june-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/abdc1274a6c6b60c2c486842a7aa8235.jpg}">
            <h5>
              <span>
                Ano Turtiainen MP on Vaccine Crime -June 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../health-care-workers-refusing-to-get-the-jab-feb-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6338f1dc5239e544384f585898018bfc.jpg}">
            <h5>
              <span>
                Health Care Workers Refusing To Get The Jab -Feb 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../when-you-attack-dr-fauci-youre-attacking-science-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/88aa6471eddc306e7393dd4c927daac5.jpg}">
            <h5>
              <span>
                “When You Attack Dr Fauci, you're Attacking Science” -June 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../doctor-tells-fauci-to-resign-18-years-ago-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f4c390aa8f72a5306317001e16e25ea3.jpg}">
            <h5>
              <span>
                Doctor Tells Fauci to Resign (18 Years Ago) -June 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../msm-public-shaming-of-vaccine-refusers-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f0e91700a8e68eaaaafee60089a4db97.jpg}">
            <h5>
              <span>
                MSM Public Shaming of Vaccine Refusers -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rfk-jr-my-father-told-me-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9d1912ea89f6a7c47c6709b4416488b6.jpg}">
            <h5>
              <span>
                RFK jr "My Father Told Me" -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../coronavirus-overreach-apr-21-2020">
          <div class="image">
            <img src="https://i.ytimg.com/vi/HuzPrhnaiYE/mqdefault.jpg">
            <h5>
              <span>
                Coronavirus Overreach -Apr 21 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../police-without-masks-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Police Without Masks -June 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../its-a-mad-world-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d37bfb2f5f5ee30789085cde9e38ca9c.jpg}">
            <h5>
              <span>
                "It's a Mad World" -June 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../scientists-file-to-stop-vaccines-june-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0f0b3cef13432691351412b6d0e63fed.jpg}">
            <h5>
              <span>
                Scientists File to Stop Vaccines -June 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../van-tam-ignores-citizens-questions-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dd64e1a0c72631aa3e66dab4dfb80091.jpg}">
            <h5>
              <span>
                Van-Tam Ignores Citizen's Questions -June 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../64-yr-old-no-jab-for-me-research-it-july-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/95d4fceb3815aaf237a487206d96833e.jpg}">
            <h5>
              <span>
                64 yr old "No jab for me, research it!" - July 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../stossel-life-liberty-and-happiness-july-3-2018">
          <div class="image">
            <img src="https://i.ytimg.com/vi/8FtxLpA1lqY/mqdefault.jpg">
            <h5>
              <span>
                Stossel: Life, Liberty & Happiness -July 3 2018<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-slippery-slope-towards-slavery-june-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3003bab83a4650d57b96504d063f5104.jpg}">
            <h5>
              <span>
                The Slippery Slope Towards Slavery - June 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mp-mcvey-isnt-it-time-we-stopped-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ebd5031a6630ea276b35b1b9b9a27d78.jpg}">
            <h5>
              <span>
                MP McVey "Isn't it Time We Stopped" -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../no-vax-past-this-point-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8eb81bd364589f248e15e647a09ff38f.jpg}">
            <h5>
              <span>
                No Vax Past This Point -June 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../12-year-old-maddie-after-the-vaccine-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5e8907e4e7cc52a1266c6cdab9e8deec.jpg}">
            <h5>
              <span>
                12-Year-old Maddie After the Vaccine -June 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mike-yeadon-take-old-normal-back-july-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/832f34b22c15bc9b7c49508dbce1575f.jpg}">
            <h5>
              <span>
                Mike Yeadon -Take old normal back - July 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../small-acts-of-defiance-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1c7946132682a79f51e7ff9bf0249625.jpg}">
            <h5>
              <span>
                Small Acts of Defiance -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../stossel-jordan-peterson-june-19-2018">
          <div class="image">
            <img src="https://i.ytimg.com/vi/jnJEEdp6W24/mqdefault.jpg">
            <h5>
              <span>
                Stossel: Jordan Peterson -June 19 2018<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../pandemic-nonsense-with-dr-thomas-binder-may-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c9410789243fecf385e26192e3ea33a3.jpg}">
            <h5>
              <span>
                Pandemic Nonsense with Dr. Thomas Binder - May 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../neil-oliver-grieves-over-freedom-day-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a85488df32bbd3cf0cab92698792a6ad.jpg}">
            <h5>
              <span>
                Neil Oliver Grieves over Freedom Day -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nfl-players-against-vax-mandates-july-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/745c74f6db16b6dbff5ad5a9b90bd071.jpg}">
            <h5>
              <span>
                NFL Players Against Vax Mandates -July 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../france-hospital-staff-strikes-july-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/40a68c4acb6d93103cf70c09a4997db5.jpg}">
            <h5>
              <span>
                France Hospital Staff Strikes -July 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../montelimar-hospital-staff-vax-strike-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1cd86ce267d474b06ce3b2e255e6d25d.jpg}">
            <h5>
              <span>
                Montélimar Hospital Staff Vax Strike -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-politician-on-great-reset-july-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7afce270f64ce982daee02d5223b0087.jpg}">
            <h5>
              <span>
                Dutch Politician on Great Reset -July 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-p-breggin-the-jewish-response-july-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e63a43166784a627265466d204605775.jpg}">
            <h5>
              <span>
                Dr. P Breggin - The Jewish response - July 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-pm-against-free-speech-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fe817ef731f95c048bd0c7e21639060b.jpg}">
            <h5>
              <span>
                Australia PM Against Free Speech -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nhs-and-human-rights-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/aed5592faf83c4a93b6ee9c4bd55eb30.jpg}">
            <h5>
              <span>
                NHS & Human Rights -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-makes-this-nation-special-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a8edca6ec438cf452b1572d47600f20d.jpg}">
            <h5>
              <span>
                What Makes This Nation Special -July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-shelton-speaks-out-on-vax-deaths-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9b83bf25e13e24a8b5b4227e86491d1b.jpg}">
            <h5>
              <span>
                Dr Shelton Speaks Out on Vax Deaths -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../weve-seen-tons-of-evidence-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ca43849a4691ce06cb0d86e2f75e5401.jpg}">
            <h5>
              <span>
                We've Seen Tons of Evidence -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../sen-johnson-on-gods-of-information-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d71975a7bec15f25301898ba59eda461.jpg}">
            <h5>
              <span>
                Sen Johnson on "Gods of Information" -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../italian-parliament-no-green-pass-protest-jul-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/503efc13da7cb969be3f1f899cb6e298.jpg}">
            <h5>
              <span>
                Italian parliament - No Green Pass Protest - Jul 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../medical-apartheid-in-france-today-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e11dab28c166e5755b932ed53da31b4c.jpg}">
            <h5>
              <span>
                Medical apartheid in France today - Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../german-resistance-from-the-coldwellian-times-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dc8f15026d9c7adf16cff51bfc730ca2.jpg}">
            <h5>
              <span>
                German resistance from The Coldwellian Times! - Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australias-bad-joke-1-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d6ae9a2b96a674290675ff72a89a211e.jpg}">
            <h5>
              <span>
                Australia's Bad Joke 1-Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australias-bad-joke-2-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d92a82c534150a3151ff39f3f2663eff.jpg}">
            <h5>
              <span>
                Australia's Bad Joke 2 -Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../italian-mp-fights-for-freedom-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/21a7b5c65547b067a9bcb9e619b73e1a.jpg}">
            <h5>
              <span>
                Italian MP Fights for Freedom -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ted-nugent-on-freedom-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c93f05dc2ee6874c41969adfb98ef789.jpg}">
            <h5>
              <span>
                Ted Nugent on Freedom -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../n-korean-defector-on-cancel-culture-july-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e1ac93356cf6ce6badb982528ad789e6.jpg}">
            <h5>
              <span>
                N Korean Defector on Cancel Culture -July 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../pushing-fear-on-5-yr-olds-aug-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d74d6f4d636697bf35d2eabb777eb2a0.jpg}">
            <h5>
              <span>
                Pushing Fear on 5 yr Olds -Aug 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../sen-paul-urges-people-to-resist-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/49b5b7121e07ce4e15891c0ac8a9c4f2.jpg}">
            <h5>
              <span>
                Sen Paul Urges people to resist -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../msm-how-do-you-sleep-at-night-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8509c098cd62bfc2a1d5d90bfe281fae.jpg}">
            <h5>
              <span>
                MSM How do you sleep at night? - Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../california-vax-pass-protest-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f0a4f190f967007adaaaf9ced9fab9c6.jpg}">
            <h5>
              <span>
                California Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../end-this-madness-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/98a34828304a8e61427f38c759875ea1.jpg}">
            <h5>
              <span>
                "End This Madness!" -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../chet-hanks-keeps-it-real-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ad25de236f28317d08d0cc04082ae045.jpg}">
            <h5>
              <span>
                Chet Hanks Keeps it Real -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-patients-fill-hospital-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e9baaa067aba5db608c295472529277d.jpg}">
            <h5>
              <span>
                Vax patients fill hospital - Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mother-for-freedom-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c21936aadb1a17fbd181c87a7b312feb.jpg}">
            <h5>
              <span>
                Mother For Freedom -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nurse-on-pcr-tests-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/59b1d88fa40d75525e322776c4857a88.jpg}">
            <h5>
              <span>
                Nurse on PCR Tests -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../did-you-get-your-vaccine-yet-mar-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c9c15fb045a47c79a7c6ca5abe8af4b0.jpg}">
            <h5>
              <span>
                "Did You Get Your Vaccine Yet?" –Mar 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dont-force-me-to-take-it-mar-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/efdf405b9b8e798cbe9235015837a4ea.jpg}">
            <h5>
              <span>
                Don’t force me to take it –Mar 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lawyer-we-wont-turn-schools-into-vax-centres-apr-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/eb33287f23869cff9f83ee9841d4df1d.jpg}">
            <h5>
              <span>
                Lawyer "We Won't Turn Schools into Vax Centres" -Apr 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-gold-on-treatment-deception-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2c0af1ed5b95f49ec5bb1913b427f020.jpg}">
            <h5>
              <span>
                Dr Gold on Treatment Deception –Feb 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-jensen-on-misattribution-of-deaths-mar-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/59429a334abaa6575eb873293a294809.jpg}">
            <h5>
              <span>
                Dr Jensen on Misattribution of Deaths –Mar 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-says-stay-away-from-the-vaccine-feb-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/43c0882a7fef442d66a5bceeb327cfc2.jpg}">
            <h5>
              <span>
                Dr says "Stay Away from the Vaccine" -Feb 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../teenager-questions-the-fear-campaign-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4a8e19cbfb779a1da6d7b8eb6e5c7115.jpg}">
            <h5>
              <span>
                Teenager Questions the Fear Campaign -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Corona Committee on Civil Disobedience -Dec 19 2020

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>