---
title: "College Athletes &amp; Vax Injury -July 28 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Vaccines for Kids"
category: "vaccine"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/c19vaxreactions.com-3/4b39bcdc54ef3722123bf9f861fc50553e5cdeb2?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">VACCINES FOR KIDS &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../college-athletes-and-vax-injury-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/edc1428befcda2df0989fc7bacf0c164.jpg}">
            <h5>
              <span>
                College Athletes & Vax Injury -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-tyson-kids-die-from-vax-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ced2e85dd6eecf6b6ec277213cbe94d4.jpg}">
            <h5>
              <span>
                Dr Tyson "Kids Die From Vax" -July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../jab-for-uk-16-and-17-yr-olds-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/701d6a5b9d417c3eb26fd5aa0e2b7256.jpg}">
            <h5>
              <span>
                Jab for UK 16 & 17 yr olds - Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-causes-inflamatory-syndrome-in-kids-jul-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7bf37e71ca54cc9de6eb4d9e6b586a6d.jpg}">
            <h5>
              <span>
                Vax causes inflamatory-syndrome in kids - Jul 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../pushing-fear-on-5-yr-olds-aug-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d74d6f4d636697bf35d2eabb777eb2a0.jpg}">
            <h5>
              <span>
                Pushing Fear on 5 yr Olds -Aug 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mother-for-freedom-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c21936aadb1a17fbd181c87a7b312feb.jpg}">
            <h5>
              <span>
                Mother For Freedom -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ca-legal-attorney-says-we-will-not-turn-our-schools-into-vaccination-centres">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0baa2c0d2f2e2f624a8b982422102e2f.jpg}">
            <h5>
              <span>
                CA legal attorney says "We will not turn our schools into vaccination centres"<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-trials-on-kids-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/53f5c819f01a5af3f068b7a7243fb786.jpg}">
            <h5>
              <span>
                Vaccine Trials on Kids -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../sesame-street-vaccine-propaganda-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c3308a0cba6cb4eab53bded94abe2a77.jpg}">
            <h5>
              <span>
                Sesame Street Vaccine Propaganda -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../usa-kids-to-be-vaccinated-without-parental-consent-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5f367fcaedd4f1a2961e4d55cd41991e.jpg}">
            <h5>
              <span>
                USA Kids to be Vaccinated Without Parental Consent -May 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-kids-are-next-mar-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/892748eee3dadabc7b4dd4c7f49d505b.jpg}">
            <h5>
              <span>
                Fauci "Kids Are Next" –Mar 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../msm-push-to-get-kids-vaccinated-may-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e30398bbafdb33d22e03e5952e8c64d2.jpg}">
            <h5>
              <span>
                MSM Push to get Kids Vaccinated -May 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ron-paul-why-this-push-to-vaccinate-kids-may-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/90378b158388ced44f54a275c1ec143c.jpg}">
            <h5>
              <span>
                Ron Paul "Why This Push To Vaccinate Kids" -May 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../children-are-dying-from-the-vaccine-may-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e00c2fa5bec84e6307af7afde3c0763e.jpg}">
            <h5>
              <span>
                Children Are Dying from the Vaccine -May 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-and-heart-problems-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3b42d043702b0d0bb4525fcc72d05882.jpg}">
            <h5>
              <span>
                Vaccine & Heart Problems -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccines-and-teen-heart-attacks-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/32cb771a2af4112a45cabc4f963db1ef.jpg}">
            <h5>
              <span>
                Vaccines & Teen Heart Attacks -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-and-heart-problems-in-teens-may-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/507adf6a4aacab69dab3a422984d4475.jpg}">
            <h5>
              <span>
                Vaccine & Heart Problems in Teens -May 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hancock-stumbles-as-he-says-vax-not-for-children-nov-10-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b678770f55b4b44507c4bc9de6b9c312.jpg}">
            <h5>
              <span>
                Hancock Stumbles as he says "Vax not for Children" -Nov 10 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-gold-on-the-legality-of-vaccinating-kids-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1fcc6011469daa2d0c02686cbe2aa36d.jpg}">
            <h5>
              <span>
                Dr Gold on the Legality of Vaccinating Kids -May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cdc-director-misrepresents-data-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/db247b7b30ffcf70ff9c097ce914aeb6.jpg}">
            <h5>
              <span>
                CDC Director Misrepresents Data -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../microsoft-health-pass-for-kids-feb-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a6f6288f863f02d3eca0edb80403431b.jpg}">
            <h5>
              <span>
                Microsoft Health Pass for Kids –Feb 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-hodkinson-state-sanctioned-child-abuse-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/925cd30b34dcf89e57137b2bfedfb23f.jpg}">
            <h5>
              <span>
                Dr Hodkinson "State Sanctioned Child Abuse" - June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-is-the-motive-to-vaccinate-kids-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e79375879ea50a4f7ff00eb89a0b1edf.jpg}">
            <h5>
              <span>
                "What is the Motive to Vaccinate Kids?" -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-and-fatal-heart-disorder-in-kids-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/287e80d2fd46c17b7a19d7d37ba33db4.jpg}">
            <h5>
              <span>
                Vax & Fatal Heart Disorder in Kids -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../del-bigtree-questions-vax-100-percent-effective-claim-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f49583b7013360e737f95f4af9d7d923.jpg}">
            <h5>
              <span>
                Del Bigtree Questions Vax 100% Effective Claim -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccines-not-safe-for-kids-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8cdf6822aec3b9e8df9e2c13b7bafd73.jpg}">
            <h5>
              <span>
                Vaccines Not Safe For Kids -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccinated-teens-and-heart-deaths-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7d6bdde3dff2d14652b0ae43a1972b39.jpg}">
            <h5>
              <span>
                Vaccinated Teens & Heart Deaths -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccinated-kids-and-heart-problems-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e946a8bbc55482245714a0a2e62ae124.jpeg}">
            <h5>
              <span>
                Vaccinated Kids & Heart Problems -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cure-is-more-dangerous-than-disease-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dead124e37c363577159da4ad999e18c.jpg}">
            <h5>
              <span>
                "Cure is More Dangerous than Disease" -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../new-zealand-wants-to-vax-kids-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/35dcf239e20a3164688d1b77039d7894.jpg}">
            <h5>
              <span>
                New Zealand Wants to Vax Kids - June 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-risks-worse-than-thought-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d37da0bca13de4213a7a844c965d5561.jpg}">
            <h5>
              <span>
                Vax Risks Worse Than Thought -June 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israel-fear-pushes-vax-on-kids-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2a900e6df0b312baf32eee78ef9bfa94.jpg}">
            <h5>
              <span>
                Israel: Fear Pushes Vax on Kids - June 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../who-says-vax-is-dangerous-to-kids-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7ec7111226f368c76eff634328970889.jpg}">
            <h5>
              <span>
                WHO says Vax is Dangerous to Kids -June 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../12-year-old-maddie-after-the-vaccine-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5e8907e4e7cc52a1266c6cdab9e8deec.jpg}">
            <h5>
              <span>
                12-Year-old Maddie After the Vaccine -June 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-hodkinson-vaccinating-kids-is-state-sanctioned-child-abuse-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1c569850b32f8042b4c87db81bcbfd75.jpg}">
            <h5>
              <span>
                Dr. Hodkinson - Vaccinating kids is State Sanctioned Child Abuse - June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ukcolumnnews-child-vaccine-victim-july-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e2133f493c991a640ed1762c3e2a6ede.jpg}">
            <h5>
              <span>
                UKColumnNews - child vaccine victim - July 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../teen-after-vaccine-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1a3302566b9754301fdc912a8ff863e1.jpg}">
            <h5>
              <span>
                Teen After Vaccine -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../accidental-vaccination-of-163-kids-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b63fbae025ea6840a1b1920277e701a7.jpg}">
            <h5>
              <span>
                "Accidental" Vaccination of 163 Kids -July 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-saphier-on-vaccine-logic-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a6e07fa42e13b603ce8ffab1af7bd225.jpg}">
            <h5>
              <span>
                Dr Saphier on Vaccine Logic -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lawsuit-for-vax-on-kids-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/55b5f93da14b0804ad64796d26b40d60.jpg}">
            <h5>
              <span>
                Lawsuit for Vax on Kids -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  College Athletes & Vax Injury -July 28 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>