---
title: "Centralization of control by elites via economic crisis -Mar 26 2021"
home_url: ../../../
page_title: "Centralization of control by elites via economic crisis -Mar 26 2021"
page_descr: "video.description"
all_vid_count: 205
vid_count: " "
top_right: " "
subcategory: "New World Order"
category: "big brother"
template: "../../../video.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Centralization-of-control-by-elites-via-economic-crisis--Mar-26-2021/e9eaf0a4571b1ccdbd709bf56dd1d4cc39bdf90c?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

--- name:carousel pipeline:erb
<span class="scat_in_cat">NEW WORLD ORDER<a href="../">&gt;&gt;&gt;</a></span>
<div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../a-stimulating-discussion">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1bda1f5f0f17a522b386219085a67462.jpg}">
            <h5><span>A stimulating discussion<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bespoke-facilities-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b811acfb31c503f55749440cedd2a59e.jpg}">
            <h5><span>"Bespoke facilities" -Feb 12 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../artificial-intelligence-and-the-new-normal">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/da442e68c6f0443ae4805cc59c6657ba.jpg}">
            <h5><span>Artificial Intelligence & the New Normal<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../centralization-of-control-by-elites-via-economic-crisis-mar-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2b8a158f793fe5b35da60716feee2314.jpg}">
            <h5><span>Centralization of control by elites via economic crisis -Mar 26 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../china-social-credit-sytem-pushes-you-to-be-a-better-citizen-feb-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/aa512207d66bbacaf4a7f1987b124918.jpg}">
            <h5><span>China Social Credit Sytem "pushes you to be a better citizen" -Feb 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
</div> 

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../thought-police"><button class="categories"><span class="categories">THOUGHT POLICE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../common-sense"><button class="categories"><span class="categories">COMMON SENSE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>