---
title: "Professor Bhakdi on Vaccines &amp; Pregnancy -June 12 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "More"
category: "alt media"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Dr-Bhakdi-Vaccines---Pregnancy--June-12-2021/28d2f8eea6da8983373d2633bb0c311690bea225?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">MORE &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../professor-bhakdi-on-vaccines-and-pregnancy-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9460c6ac623e60f1d1f379eefc38d932.jpg}">
            <h5>
              <span>
                Professor Bhakdi on Vaccines & Pregnancy -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccinated-teens-and-heart-deaths-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7d6bdde3dff2d14652b0ae43a1972b39.jpg}">
            <h5>
              <span>
                Vaccinated Teens & Heart Deaths -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-passport-is-unacceptable-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ae7877004a2c3e870b041ec5a6c5aa95.jpg}">
            <h5>
              <span>
                Vaccine Passport is Unacceptable -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-reiner-fuellmich-on-the-trueman-show-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d7b67af48f5b307943cb2c3763c6e4f8.jpg}">
            <h5>
              <span>
                Dr. Reiner Fuellmich on the Trueman Show - June 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../msm-many-channels-one-script-sept-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b0d182fda4f18ffc332d5ccce3900409.jpg}">
            <h5>
              <span>
                MSM Many Channels, One Script -Sept 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../iconic-podcast-on-vaccine-fact-and-fiction-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2d58720da08c142056d545498ded5ee8.jpg}">
            <h5>
              <span>
                Iconic Podcast on Vaccine Fact & Fiction -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../neil-oliver-on-maskless-and-happy-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/68cbf6762d29ffd80ef12fe8e803ee12.jpg}">
            <h5>
              <span>
                Neil Oliver on "Maskless & Happy" -June 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-new-normal-propaganda-formula-sept-1-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/285d5a7923f0ab47413d2c774aff71da.jpg}">
            <h5>
              <span>
                The New Normal Propaganda Formula -Sept 1 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-mccullough-vax-safety-issues-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/be540bf30287a861ab5cd0c67a191539.jpg}">
            <h5>
              <span>
                Dr McCullough Vax Safety Issues -June 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-inventor-we-dont-know-the-risks-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c2455dd24c41354b13884c56f0fc5cc3.jpg}">
            <h5>
              <span>
                Vax Inventor "We Don't Know the Risks" -June 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../infowars-on-bioterrosism-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3f3a3d582c7119aeab43245b5c5204a8.jpg}">
            <h5>
              <span>
                InfoWars on BioTerrosism -June 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../inventor-of-mrna-vax-discusses-risks-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e5c26de08e3a2b956bd572ef9f46236c.jpg}">
            <h5>
              <span>
                Inventor of mRNA Vax Discusses Risks -June 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../who-says-vax-is-dangerous-to-kids-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7ec7111226f368c76eff634328970889.jpg}">
            <h5>
              <span>
                WHO says Vax is Dangerous to Kids -June 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../swedens-different-pandemic-response-june-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Sweden's Different Pandemic Response -June 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../george-galloway-is-this-labour-tv-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5d346bf1be45e6a9e13242fdcd2e1e2a.jpg}">
            <h5>
              <span>
                George Galloway "Is this Labour TV?" -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-kory-on-ivermectin-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/535e45293603d0e806945f56dfcac23f.jpg}">
            <h5>
              <span>
                Dr Kory on Ivermectin -June 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-had-malice-intent-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2125fd705972b43dbcc2ea667519da5c.jpg}">
            <h5>
              <span>
                "Fauci Had Malice Intent" -June 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mit-scientist-on-vaccine-risks-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2ff093b6a394d09d7dfc08aae32101d4.jpg}">
            <h5>
              <span>
                MIT Scientist on Vaccine Risks -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-tyson-on-ivermectin-and-hcq-july-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/84bb7c7e8f515d6ff6d07e36859526a2.jpg}">
            <h5>
              <span>
                Dr Tyson on Ivermectin & HCQ -July 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bret-weinstein-on-big-tech-and-big-pharma-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/00ac2fca55c696aac5e44a22d292f2a3.jpg}">
            <h5>
              <span>
                Bret Weinstein on Big Tech & Big Pharma -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../doctor-of-neurology-on-vaccine-injuries-june-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b5763d28b662338e2c34cd89cb59768f.jpg}">
            <h5>
              <span>
                Doctor of Neurology on Vaccine Injuries -June 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../francis-hoar-on-london-protest-the-awakening-june-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/917283a02c2d503be982b04c10955972.jpg}">
            <h5>
              <span>
                Francis Hoar on London Protest "The Awakening" -June 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../12-year-old-maddie-after-the-vaccine-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5e8907e4e7cc52a1266c6cdab9e8deec.jpg}">
            <h5>
              <span>
                12-Year-old Maddie After the Vaccine -June 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../medical-apartheid-in-ireland-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4fb1202b2adee4795dc879a896b059d2.jpg}">
            <h5>
              <span>
                Medical Apartheid in Ireland -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../alan-jones-on-fear-peddling-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/839c8e8341bef322bcab402661f729e7.jpg}">
            <h5>
              <span>
                Alan Jones on Fear Peddling -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../not-your-body-not-your-choice-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e4089f30924a1ae1cbd8163cee227f7a.jpg}">
            <h5>
              <span>
                Not Your Body, Not Your Choice! -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-ioannidis-on-lockdown-fallacies-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9a8298d479199cf3919d758ec6d57632.jpg}">
            <h5>
              <span>
                Prof Ioannidis on Lockdown Fallacies -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-saphier-on-vaccine-logic-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a6e07fa42e13b603ce8ffab1af7bd225.jpg}">
            <h5>
              <span>
                Dr Saphier on Vaccine Logic -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-madej-vaccine-advise-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b9a47524a691699cfb4f5d3108a59860.jpg}">
            <h5>
              <span>
                Dr Madej Vaccine Advise -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-ioannidis-on-lockdown-damages-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/45f49bed3e58d9498fef3d93ae58f6f1.jpg}">
            <h5>
              <span>
                Prof Ioannidis on Lockdown Damages -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-happened-to-me-after-vax-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7c87b188617899c651e2af38353b32e7.jpg}">
            <h5>
              <span>
                What Happened To Me After Vax -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../white-house-and-big-tech-censorship-july-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/67b35a36e81ecc74cd9b72e138faf175.jpg}">
            <h5>
              <span>
                White House & Big Tech Censorship -July 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../masks-also-for-vaccinated-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7fc492f9c75790f759e7558ea491a68c.jpg}">
            <h5>
              <span>
                Masks Also for Vaccinated -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../monthly-vaccines-anyone-july-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c7fe06151f68902a25960bd0bef50c24.jpg}">
            <h5>
              <span>
                Monthly Vaccines Anyone? -July 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../who-dies-from-covid-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9a16bdfdfe3bc9456532f0b9efad963b.jpg}">
            <h5>
              <span>
                Who Dies from Covid? -July 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../who-really-spreads-misinformation-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/01092d3b3c94be8a356767f6eade4361.jpg}">
            <h5>
              <span>
                Who Really Spreads Misinformation? -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../neil-oliver-grieves-over-freedom-day-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a85488df32bbd3cf0cab92698792a6ad.jpg}">
            <h5>
              <span>
                Neil Oliver Grieves over Freedom Day -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../g-wisnewski-we-must-all-do-something-jun-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/30eef174ed289aa64f97fc00b14521a9.jpg}">
            <h5>
              <span>
                G. Wisnewski - We must all do something - Jun 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../we-dont-know-anything-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ddc43efc90518780106c3f729bfa0c84.jpg}">
            <h5>
              <span>
                "We Don't Know Anything" -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nfl-players-against-vax-mandates-july-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/745c74f6db16b6dbff5ad5a9b90bd071.jpg}">
            <h5>
              <span>
                NFL Players Against Vax Mandates -July 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-fleming-on-door-to-door-vax-july-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6305dbeaf39587ad1a0a710a2bdd4c43.jpg}">
            <h5>
              <span>
                Dr Fleming on Door to Door Vax -July 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-mccullough-natural-immunity-is-best-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/659044e896cc068297edc86e5d55ceb3.jpg}">
            <h5>
              <span>
                Dr McCullough Natural Immunity is Best -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israel-vax-millions-unused-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f8eb3533b42818c67eb5c2ca65c17258.jpg}">
            <h5>
              <span>
                Israel Vax Millions Unused -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bidens-misinformation-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5013abb6610cb6a76a649d3985553a5e.jpg}">
            <h5>
              <span>
                Biden's Misinformation -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../inventor-mrna-vaccines-and-safety-jul-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/228c1298db2aedccf8bfbe2a09ce645d.jpg}">
            <h5>
              <span>
                Inventor mRNA Vaccines &Safety -Jul 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cdc-unelected-head-of-state-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f0a38f208621b54c29df9d9af8a7c0e7.jpg}">
            <h5>
              <span>
                CDC Unelected Head of State? -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-malone-vax-dangers-and-group-think-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c4d502a10fdb1799364798348168f6fe.jpg}">
            <h5>
              <span>
                Dr Malone Vax Dangers & Group Think -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../pfizers-small-print-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/28e8e8c48d1db88b1abc9870ae1c53eb.jpg}">
            <h5>
              <span>
                Pfizer's Small Print -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../climate-change-truths-and-lies-july-9-2021">
          <div class="image">
            <img src="https://i.ytimg.com/vi/__0vveW3VkY/mqdefault.jpg">
            <h5>
              <span>
                Climate Change Truths & Lies -July 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../crime-against-children-july-09-201">
          <div class="image">
            <img src="https://i.ytimg.com/vi/E8RLtCGQLQU/mqdefault.jpg">
            <h5>
              <span>
                Crime against Children -July 09 201<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../delta-wave-scare-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Delta Wave Scare -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../government-mis-guidance-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cc7f291014cfa899a8a73e140463164b.jpg}">
            <h5>
              <span>
                Government Mis-Guidance -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-vax-myth-of-freedom-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f3741e72c7ee73b9c437af344d4c3f48.jpg}">
            <h5>
              <span>
                The Vax Myth of Freedom -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../wonder-drugs-dont-work-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4ab6286e01ed72fe5237cddee90f0518.jpg}">
            <h5>
              <span>
                Wonder Drugs Don't Work -July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../german-newspaper-apologizes-for-lockdowns-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/44b7976402e70dc56b8180f6b0798bc0.jpg}">
            <h5>
              <span>
                German NewsPaper Apologizes for Lockdowns -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-disaster-dec-4-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/36d6ba8069417dcefc09fbd71c0ebec8.jpg}">
            <h5>
              <span>
                Vaccine Disaster -Dec 4 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../j-elliot-of-iconic-podcast-on-the-scamdemic-sep-7-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/891b546716dac61d48b91cd3710dcdb6.jpg}">
            <h5>
              <span>
                J Elliot of ICONIC podcast on the scamdemic - Sep 7 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../german-resistance-from-the-coldwellian-times-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dc8f15026d9c7adf16cff51bfc730ca2.jpg}">
            <h5>
              <span>
                German resistance from The Coldwellian Times! - Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../freedom-wins-in-alberta-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/11841933f3077220441183409081ea08.jpg}">
            <h5>
              <span>
                Freedom Wins in Alberta -Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-pass-and-medical-tyranny-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/81c7775783d10646514d48b07e3cd50b.jpg}">
            <h5>
              <span>
                Vax Pass & Medical Tyranny -Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ted-nugent-on-freedom-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c93f05dc2ee6874c41969adfb98ef789.jpg}">
            <h5>
              <span>
                Ted Nugent on Freedom -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../doing-the-right-thing-nov-22-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/248c2b9225496d2b1c4459e50e10f654.jpg}">
            <h5>
              <span>
                Doing the Right Thing -Nov 22 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../spending-more-on-tests-than-care-apr-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a7fdd52c23b4e21e288097ef91139feb.jpg}">
            <h5>
              <span>
                "Spending More on Tests than Care" -Apr 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-craig-on-asymptomatic-transmission-dec-8-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ad06178c5fca1f84724aceda1d0312f3.jpg}">
            <h5>
              <span>
                Dr Craig on Asymptomatic Transmission -Dec 8 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../tucker-carlsen-masks-are-repulsive-and-abuse-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/668381ac50ca8743812bb60b5647ce27.jpg}">
            <h5>
              <span>
                Tucker Carlsen Masks are "Repulsive" & "Abuse" -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../thought-police-feb-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/58153888f7ae13e3c1c283cd82c803d0.jpg}">
            <h5>
              <span>
                Thought Police -Feb 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../yeadon-this-is-our-last-chance-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1b766d5f624fe97a12fba94285bc8228.jpg}">
            <h5>
              <span>
                Yeadon "This is our Last Chance" -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../school-nurse-masks-harm-kids-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/71e8a93fe210721e79a7e39b45f8653d.jpg}">
            <h5>
              <span>
                School Nurse "Masks Harm Kids" -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bret-weinstein-on-joe-rogan-and-vaccine-science-may-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/eab3aa93104c129a09ee7484e8b71960.jpg}">
            <h5>
              <span>
                Bret Weinstein on Joe Rogan & Vaccine Science -May 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../science-is-based-on-challenge-of-ideas-may-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e6aeffec8d81e294d06c79b54bfe4295.jpg}">
            <h5>
              <span>
                Science is Based on Challenge of Ideas -May 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-bakhdi-zero-science-mar-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7cd91dab31dfeaee0cfab46822625bc0.jpg}">
            <h5>
              <span>
                Prof Bakhdi "Zero Science" –Mar 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../charles-walker-mocks-health-passport-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d1328bb63019a2c5b0464784e8d4dcd1.jpg}">
            <h5>
              <span>
                Charles Walker Mocks Health Passport -Apr 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../polish-pm-vows-to-defend-free-speech-jan-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f000a848058728b9da4e71671f4a73ad.jpg}">
            <h5>
              <span>
                Polish PM Vows to Defend Free Speech -Jan 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rand-paul-on-faucis-noble-lies-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bf54181f38fccefa8002dbb46f6820ee.jpg}">
            <h5>
              <span>
                Rand Paul on Fauci's Noble Lies -Mar 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../former-ons-head-of-health-analysis-data-is-misleading-mar-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6bf94d2d666dd57201a092a3a8b8e1da.jpg}">
            <h5>
              <span>
                Former ONS Head of Health Analysis "Data is Misleading" –Mar 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ron-paul-why-this-push-to-vaccinate-kids-may-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/90378b158388ced44f54a275c1ec143c.jpg}">
            <h5>
              <span>
                Ron Paul "Why This Push To Vaccinate Kids" -May 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../children-are-dying-from-the-vaccine-may-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e00c2fa5bec84e6307af7afde3c0763e.jpg}">
            <h5>
              <span>
                Children Are Dying from the Vaccine -May 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ron-paul-how-texas-killed-covid-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/887ffdfb9de2d1e85f03f11815c179b6.jpg}">
            <h5>
              <span>
                Ron Paul "How Texas Killed Covid" -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../asymptomatic-transmission-no-scientific-basis-may-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/552c9f52fd031b48a3f54b154dc052e2.jpg}">
            <h5>
              <span>
                Asymptomatic Transmission "No Scientific Basis" -May 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccines-and-teen-heart-attacks-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/32cb771a2af4112a45cabc4f963db1ef.jpg}">
            <h5>
              <span>
                Vaccines & Teen Heart Attacks -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../naomi-wolf-and-james-delingpole-discuss-censorship-may-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5acdec1372f6eef72fcb03ae564428ef.jpg}">
            <h5>
              <span>
                Naomi Wolf & James Delingpole discuss Censorship -May 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../how-the-cdc-counted-cases-before-and-after-the-vaccines-may-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/922f91e5ff9d7ff8d6c81f59e15f397e.jpg}">
            <h5>
              <span>
                How The CDC Counted Cases Before & After The Vaccines -May 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cdc-alters-case-definition-may-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7fa00cd6ce70a081f0a7e3fbae83b8e6.jpg}">
            <h5>
              <span>
                CDC Alters Case Definition -May 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-kaufman-on-virus-isolation-apr-29-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bb7e6e4d0aa46a12e9604b3b1cff675e.jpg}">
            <h5>
              <span>
                Dr Kaufman on Virus Isolation -Apr 29 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../new-normal-doc-government-doesnt-give-us-our-rights-jan-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d568c284ad11ab610fc67fbc3b4d8724.jpg}">
            <h5>
              <span>
                New Normal Doc "Government Doesn't Give Us Our Rights" -Jan 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rand-paul-on-vaccine-logic-and-mandates-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/683e68e655574f6009119502cf348623.jpg}">
            <h5>
              <span>
                Rand Paul on Vaccine Logic & Mandates -May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-mccullough-vaccine-dangerous-for-kids-june-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/619d95bdc21dcd6c15b83ed8987e10fd.jpg}">
            <h5>
              <span>
                Dr McCullough "Vaccine Dangerous for Kids" -June 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../no-vaccine-studies-on-pregnancy-june-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ac953c123e8f789803a050dbeee1b3de.jpg}">
            <h5>
              <span>
                No Vaccine Studies on Pregnancy -June 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-vaccine-vs-ivermectin-double-standard-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/843c816bbfc9cf354aa12bfa2f31f341.jpg}">
            <h5>
              <span>
                The Vaccine vs Ivermectin Double Standard-June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-mccullough-vaccine-injury-data-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d071d56fbb3f075b22cd92795a9ec699.jpg}">
            <h5>
              <span>
                Dr McCullough Vaccine Injury Data -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cdc-director-misrepresents-data-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/db247b7b30ffcf70ff9c097ce914aeb6.jpg}">
            <h5>
              <span>
                CDC Director Misrepresents Data -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-death-counting-changes-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/deb632e4cd592e6e03f98fc83d93e118.jpg}">
            <h5>
              <span>
                Covid Death Counting Changes -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../munich-university-lockdown-had-no-effect-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3596b7425e8e38853b4b8d22230fac58.jpg}">
            <h5>
              <span>
                Munich University "Lockdown had NO Effect" -June 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../faucis-email-releases-and-truth-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/565d34d6160c5264f703cc7e09ac1a57.jpg}">
            <h5>
              <span>
                Fauci's Email Releases & Truth -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-and-government-control-mar-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/44a93ec63b86e042f9b8bdce4021211b.jpg}">
            <h5>
              <span>
                Vaccine & Government Control –Mar 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../governments-are-crushing-their-own-economies-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/369fde7c7a7302dee0ac5cbb83500c1a.jpg}">
            <h5>
              <span>
                "Governments Are Crushing Their Own Economies" -Feb 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-kendrick-half-of-excess-deaths-are-result-of-lockdown-mar-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e0475f804530d9ec0b8f64a7567a1615.jpg}">
            <h5>
              <span>
                Dr Kendrick "Half of Excess Deaths are Result of Lockdown" –Mar 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-cahill-the-people-in-power-will-be-held-to-account-may-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2560ea218a3ed253c2303e9de0bb8350.jpg}">
            <h5>
              <span>
                Dr Cahill "The People in Power Will Be Held To Account" -May 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-yeadon-asymptomatic-transmission-facts-and-lies-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fa37ef13eb36eab821038fec17efb762.jpg}">
            <h5>
              <span>
                Dr Yeadon "Asymptomatic" Transmission Facts & Lies -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../big-pharma-censorship-of-ivermectin-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f52aa5b7364c18329e8b4a831f777313.jpg}">
            <h5>
              <span>
                Big Pharma Censorship of Ivermectin -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-zelenko-explains-misleading-term-gain-of-function-june-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7347b8304b136ce1ae2af1527077d63c.jpg}">
            <h5>
              <span>
                Dr Zelenko Explains Misleading Term Gain-Of-Function -June 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../death-graphs-post-vaccine-apr-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a4a2d0c4070e68685659cd50ddb754ec.jpg}">
            <h5>
              <span>
                Death Graphs Post Vaccine -Apr 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../educational-short-is-the-vaccine-safe-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/48be7e7c25b50b01491506a4d1e3d3a2.jpg}">
            <h5>
              <span>
                Educational Short: Is the Vaccine Safe? -May 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../is-the-vaccine-efective-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/506e83fe04f91cbe3db170d2c56bb285.jpg}">
            <h5>
              <span>
                Is the Vaccine Efective? -May 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-is-in-the-vaccine-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ae65914b96f4d029fdd3b39830db9404.jpg}">
            <h5>
              <span>
                What is in the Vaccine? -May 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../whistleblower-vax-adverse-reactions-not-recorded-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/556d5ccd3940378b62516a5ff4b0780a.jpg}">
            <h5>
              <span>
                Whistleblower "Vax Adverse Reactions Not Recorded" -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../libertarian-pbs">
          <div class="image">
            <img src="https://i.ytimg.com/vi/cE4tEkUqPrk/mqdefault.jpg">
            <h5>
              <span>
                Libertarian PBS<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../how-dangerous-is-covid-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f6559e7cfde99f752a0e11bc83f4ecb2.jpg}">
            <h5>
              <span>
                How Dangerous is Covid? -May 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-attacking-me-is-attacking-science-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/75cd81ff1e5f6bbf2d871b524bca17f0.jpg}">
            <h5>
              <span>
                Fauci "Attacking Me is Attacking Science!"-June 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../senator-rand-fauci-lied-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/44eec27b08ccf91823eca46b7fb72787.jpg}">
            <h5>
              <span>
                Senator Rand "Fauci Lied" -June 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../2010-rockefeller-report-outlines-covid-measures-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b4c0a958ee4f076cfcb04675712e5fb1.jpg}">
            <h5>
              <span>
                2010 Rockefeller Report Outlines Covid Measures -June 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../public-vs-private-fauci-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9e57c667c328869c5712d62d4afa4916.jpg}">
            <h5>
              <span>
                Public vs Private Fauci -June 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-fleming-on-vaccine-effectiveness-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/00900437fd361ee89881464f29baad68.jpg}">
            <h5>
              <span>
                Dr Fleming on Vaccine Effectiveness -June 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-and-fatal-heart-disorder-in-kids-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/287e80d2fd46c17b7a19d7d37ba33db4.jpg}">
            <h5>
              <span>
                Vax & Fatal Heart Disorder in Kids -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-fleming-on-vaccine-injuries-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Dr Fleming on Vaccine Injuries -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../animal-vaccine-testing-and-results-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5abce113bcc805a92797e8fb9a2f464c.jpg}">
            <h5>
              <span>
                Animal Vaccine Testing & Results -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../professor-bhakdi-on-vax-dangers-to-ovaries-and-placenta-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5637275799445b070ad34ca6e3d1da5f.jpg}">
            <h5>
              <span>
                Professor Bhakdi on Vax Dangers to Ovaries & Placenta -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../colleges-mandate-vax-for-students-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e3a18f23de02dc051b62fd2910fc9b67.jpg}">
            <h5>
              <span>
                Colleges Mandate Vax for Students -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccines-not-safe-for-kids-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8cdf6822aec3b9e8df9e2c13b7bafd73.jpg}">
            <h5>
              <span>
                Vaccines Not Safe For Kids -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Professor Bhakdi on Vaccines & Pregnancy -June 12 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>