---
title: "Indian Actor Mansoor Ali Khan protests Vaccines -Apr 20 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Enough is Enough"
category: "protest"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Indian-Actor-Mansoor-Ali-Khan-protests-Vaccines--Apr-20-2021/5bf4264f4cfaf5e56f7af917d44534b81c081acf?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">ENOUGH IS ENOUGH &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../indian-actor-mansoor-ali-khan-protests-vaccines-apr-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b781c23d0cbcd8817e0a4256d14c4950.jpg}">
            <h5>
              <span>
                Indian Actor Mansoor Ali Khan protests Vaccines -Apr 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ethyline-oxide-major-ingredient-on-covid-self-tests-mar-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f5931bcbd13e09cccd093994a77e285a.jpg}">
            <h5>
              <span>
                Ethyline Oxide major ingredient on Covid Self Tests -Mar 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israel-repeating-history-mar-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cdb98282366f6e9d2c6d244c826f5d26.jpg}">
            <h5>
              <span>
                Israel Repeating History -Mar 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-coleman-on-vitamin-d-and-lockdowns-apr-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f5af4eb63b617e958f8f65cc4234fa0e.jpg}">
            <h5>
              <span>
                Dr Coleman on Vitamin D & Lockdowns -Apr 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../sailing-to-certain-disaster-apr-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f95ca2a6a04652e8679d0b76d65b200f.jpg}">
            <h5>
              <span>
                "Sailing To Certain Disaster" -Apr 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-lee-on-rational-discussion-apr-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/34a7cb9544cf6060d35ec3fe7bfe7a9b.jpg}">
            <h5>
              <span>
                Dr Lee on Rational Discussion -Apr 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../f-star-star-k-covid-apr-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a90c84f1e7ab8e63a58fd72c9061460f.jpg}">
            <h5>
              <span>
                "F**K Covid!" -Apr 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../pfizer-former-vp-yeadon-on-liberty-apr-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7cb59f2c4bbc3ff0e985aebaa9163f8e.jpg}">
            <h5>
              <span>
                Pfizer former VP Yeadon on Liberty -Apr 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../london-anti-lockdown-protest-may-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/27eacbd3df0a6adac3442e4d14f658a6.jpg}">
            <h5>
              <span>
                London Anti Lockdown Protest - May 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../store-bans-masks-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/907c377c0c6f24cfe2895b830b50370a.jpg}">
            <h5>
              <span>
                Store Bans Masks -Apr 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../warning-from-israel-fight-the-green-pass-may-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0fccfd748481a100f33fc48208320cbc.jpg}">
            <h5>
              <span>
                Warning from Israel "Fight the Green Pass!" -May 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../third-shot-needed-then-yearly-says-pfizer-ceo-apr-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6bc53ca60599cf72d52f507b73de1712.jpg}">
            <h5>
              <span>
                Third Shot Needed, Then Yearly, Says Pfizer CEO -Apr 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../third-jab-crimal-company-pfizer-wants-more-money-apr-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/68834da05d9e12a6ac109ff5530739dc.jpg}">
            <h5>
              <span>
                Third Jab, Crimal company 'Pfizer' wants more money! -Apr 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../four-steps-to-normal-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/722368d5f3ded3bba5b6c828e0748705.jpg}">
            <h5>
              <span>
                Four Steps to Normal -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ray-winstone-they-dont-want-us-to-go-anywhere-may-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/14d769de5268d0d555dedc0c2d1fa844.jpg}">
            <h5>
              <span>
                Ray Winstone "They Don't Want us to Go Anywhere" -May 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-kaufman-on-asymptomatic-carriers-feb-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/551fa6f173cd2694eec4f31ea32a9b34.jpg}">
            <h5>
              <span>
                Dr Kaufman "On Asymptomatic Carriers" -Feb 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../10-year-old-on-mask-logic-may-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/52abf4d5609d2caf4457c501fb566975.jpg}">
            <h5>
              <span>
                10 Year Old on Mask Logic -May 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../before-it-gets-too-late-feb-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d5eb607d21597fd7d6476ef85035f334.jpg}">
            <h5>
              <span>
                "Before It Gets Too Late" -Feb 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../how-to-avoid-mask-rules-in-halls-feb-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/939e43f29af75194718d292d3937114b.jpg}">
            <h5>
              <span>
                How to Avoid Mask Rules in Halls -Feb 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../assaulted-cafe-owner-someone-has-to-fight-feb-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/86dd543d1833db6bcb3afa08b3a63ada.jpg}">
            <h5>
              <span>
                Assaulted Cafe Owner "Someone Has To Fight" -Feb 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../artist-on-free-speech-and-censorship-feb-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c9d499946bb5db6564fd994251615bf9.jpg}">
            <h5>
              <span>
                Artist on Free Speech & Censorship -Feb 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../polish-pm-vows-to-defend-free-speech-jan-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f000a848058728b9da4e71671f4a73ad.jpg}">
            <h5>
              <span>
                Polish PM Vows to Defend Free Speech -Jan 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-does-it-take-feb-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e093e223f505054102e0ff3ba47a87e4.jpg}">
            <h5>
              <span>
                What Does It Take? -Feb 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../allow-those-who-want-to-live-to-live-again-feb-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/82784b313db2e35e90707e910df441be.jpg}">
            <h5>
              <span>
                Allow Those Who Want To Live, To Live Again-Feb 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../little-girl-defends-freedom-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/42fc59273e24e232261e21ba8af353e1.jpg}">
            <h5>
              <span>
                Little Girl Defends Freedom -May 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mumbai-india-all-is-normal-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b83239b16d1715c1907eec456c96b573.jpg}">
            <h5>
              <span>
                Mumbai, India All is Normal -May 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../my-mum-had-the-vaccine-may-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cd4f38cf4a1930cd24d22c3eb75e2e68.jpg}">
            <h5>
              <span>
                My Mum had the Vaccine -May 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../firefighter-tests-mask-safety-feb-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3c025bf61ba4f20c85fab3db5230788a.jpg}">
            <h5>
              <span>
                Firefighter tests mask safety -Feb 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../williams-how-can-that-make-any-sense-apr-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6287a0a3cda9329a5d0089e082ffbd25.jpg}">
            <h5>
              <span>
                Williams "How Can That Make Any Sense?" -Apr 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../gates-donations-are-personal-business-gains-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bae1973d28c329cd01b6f327349f5424.jpg}">
            <h5>
              <span>
                Gates Donations Are Personal Business Gains –Mar 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../at-the-tipping-point-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                "At the Tipping Point" -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lets-hit-the-government-where-it-hurts-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/afc9950e964e9a6d8a82a17c8493ef0f.jpg}">
            <h5>
              <span>
                "Let's Hit the Government where it Hurts!" -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../psychological-warfare-june-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6c02584418da0b2f8cfa33f146f6c087.jpg}">
            <h5>
              <span>
                Psychological Warfare -June 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../uk-primary-care-physician-resigns-from-his-practice-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/71fd244f7de2acbbb9a45013f6d0cce9.jpg}">
            <h5>
              <span>
                UK Primary Care Physician resigns from his practice - June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../if-something-happens-to-you-dot-dot-dot-mar-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/00541b316361dec62078389f5bb4775d.jpg}">
            <h5>
              <span>
                "If Something Happens to You..." –Mar 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-jensen-on-faucis-emails-and-deceits-june-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7c0b809ffa2f8ba7756d4e874db1924c.jpg}">
            <h5>
              <span>
                Dr Jensen on Fauci’s Emails & Deceits -June 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../doctor-quits-over-lockdown-lies-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5fe9f63548943cf71c655d302b336bf0.jpg}">
            <h5>
              <span>
                Doctor Quits over Lockdown Lies -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../medical-apartheid-in-ireland-mar-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/63321d503321d32021fa64af7309e8b0.jpg}">
            <h5>
              <span>
                Medical Apartheid in Ireland -Mar 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../theyre-doing-it-for-their-health-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cf4ee7bee465b7ae57836d2c12a29c61.jpg}">
            <h5>
              <span>
                "They're Doing It For Their Health!" -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../these-signs-have-no-place-in-this-country-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2e75adc47479247ab21e350e87187f30.jpg}">
            <h5>
              <span>
                "These Signs have No Place in This Country" -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dont-mention-that-name-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/40862bde15b12ff4b798c60bc8e1baaf.jpg}">
            <h5>
              <span>
                "Don't Mention That Name!" -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../macys-health-advice-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1ee4f0be86b004f1d7b030f3d637d836.jpg}">
            <h5>
              <span>
                Macy's Health Advice -Feb 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lockdown-rant-from-australia-june-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cecaa3f86438cbc7887ae8599c2357e2.jpg}">
            <h5>
              <span>
                Lockdown Rant from Australia - June 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../boris-leave-us-kids-alone-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/47194a42c5f8b42da0d2b3e57a75121e.jpg}">
            <h5>
              <span>
                "Boris Leave Us Kids Alone!" -June 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../when-you-will-get-your-freedoms-back-june-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/595e70fb67c4b14889c3f3e01867b8ce.jpg}">
            <h5>
              <span>
                "When You Will Get Your Freedoms Back?" -June 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../92-yr-old-holocaust-survivor-speaks-march-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/798f22bb0d76cf2e1f536b25f4464002.jpg}">
            <h5>
              <span>
                92 yr old Holocaust survivor speaks - March 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../totally-beyond-understanding-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/996554f5e4f8554902459c254abba288.jpg}">
            <h5>
              <span>
                "Totally Beyond Understanding" -June 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../francis-hoar-on-london-protest-the-awakening-june-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/917283a02c2d503be982b04c10955972.jpg}">
            <h5>
              <span>
                Francis Hoar on London Protest "The Awakening" -June 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../we-should-look-in-the-mirror-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b4821e853f48faa8356c09f92778dfd4.jpg}">
            <h5>
              <span>
                "We Should Look in the Mirror" -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../medical-apartheid-in-ireland-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4fb1202b2adee4795dc879a896b059d2.jpg}">
            <h5>
              <span>
                Medical Apartheid in Ireland -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-in-perspective-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ddf5202240cbbcf88a466eb9f739d3e0.jpg}">
            <h5>
              <span>
                Covid in Perspective -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../why-should-we-trust-big-pharma-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/583ea6b672ad9d408d7aafdd7e72b437.jpg}">
            <h5>
              <span>
                Why Should We Trust Big Pharma? -Mar 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israeli-fascism-or-democracy-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e54bd3bb322ddf2a145621807960214c.jpg}">
            <h5>
              <span>
                Israeli Fascism or Democracy? -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../americas-frontline-doctors-enough-is-enough-july-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4d617dcf715129d254054c33f6ae0d10.jpg}">
            <h5>
              <span>
                America's Frontline Doctors "Enough is Enough" -July 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../meet-the-vax-injured-july-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c51f0498b60bd1a6f1d4cbee284cbbd1.jpg}">
            <h5>
              <span>
                Meet the Vax Injured -July 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-power-of-no-aug-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0ac22bfd2afdbf47b35dc8be7d2c3339.jpg}">
            <h5>
              <span>
                The Power of NO! -Aug 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hospitals-vs-the-people-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/32994eb8dae36f7e8ab0f88d130547b8.jpg}">
            <h5>
              <span>
                Hospitals vs the People -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mexico-president-on-big-pharma-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f26b6a75dd980cf81bfa0a65ac3e21a0.jpg}">
            <h5>
              <span>
                Mexico President on Big Pharma -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-resist-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/59cdb4f36fa5d29564183422314369ac.jpg}">
            <h5>
              <span>
                Australia Resist! -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../holocaust-survivor-on-following-aug-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5b71882066caed6d6d9b7cf8c3ab8199.jpg}">
            <h5>
              <span>
                Holocaust Survivor on Following -Aug 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../holocaust-survivor-on-fear-agenda-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3f95737a8e9757670186ddc775d140e0.jpg}">
            <h5>
              <span>
                Holocaust Survivor on Fear Agenda -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bobby-kennedy-jnr-gives-freedom-speech-in-berlin">
          <div class="image">
            <img src="https://i.ytimg.com/vi/2qvh-FniKw8/mqdefault.jpg">
            <h5>
              <span>
                Bobby Kennedy Jnr gives 'Freedom speech' in Berlin<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../swiss-artists-against-covid-measures">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c5e94a9ee48d234e638983a3be956560.jpg}">
            <h5>
              <span>
                Swiss Artists Against Covid Measures<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../pastor-kicks-out-police-trying-to-shut-down-easter-service">
          <div class="image">
            <img src="https://i.ytimg.com/vi/BC1o4__XZM4/mqdefault.jpg">
            <h5>
              <span>
                Pastor kicks out police trying to shut down Easter Service<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../doctor-calls-alarm-over-notion-of-a-vaccine-passport-april-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/68af72918183fe1ee53f56f748a0a274.jpg}">
            <h5>
              <span>
                Doctor calls Alarm over notion of a Vaccine Passport - April 16, 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../boris-you-are-a-wet-wipe-feb-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cf6712d81958df6fd3d8090fadc4ec35.jpg}">
            <h5>
              <span>
                "Boris you are a wet wipe" -Feb 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bryce-mitchell-we-didnt-vote-for-that-nov-2-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5652e6acde4b7b47c36a415083b47ba9.jpg}">
            <h5>
              <span>
                Bryce Mitchell We didn't vote for that - Nov 2, 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../business-man-all-i-want-is-my-life-back-dec-27-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cdba3ef5e2b2849e4ac49e5f4513e07c.jpg}">
            <h5>
              <span>
                Business man "All I want is my life back" - Dec 27, 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-businessman-protests-every-week-feb-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/293611f3ff45e752d643be4fbe771c7e.jpg}">
            <h5>
              <span>
                Dutch businessman protests every week -Feb 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../but-you-could-catch-a-variant-mar-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c20dd0510be3cd86ca7f9d84b51d45e3.jpg}">
            <h5>
              <span>
                But you could catch a variant! –Mar 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../call-to-action-for-all-the-self-employed-mar-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/14f96e4f6cba53433549e0bb6623a2f2.jpg}">
            <h5>
              <span>
                Call to Action for all the Self Employed -Mar 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../canadians-wake-up-mar-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7b33a80223d9b530bfd5996d16b1ad55.jpg}">
            <h5>
              <span>
                Canadians Wake Up! –Mar 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-jensen-i-wonder-why-feb-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Dr Jensen "I wonder why" -Feb 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../influencers-paid-to-sell-vaccines-may-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c0ca1f39fa0345f44d7fb756a1681d6c.jpg}">
            <h5>
              <span>
                Influencers Paid to Sell Vaccines -May 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../irish-journalist-dont-be-afraid-apr-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cca512931c2d7531146a0e4b126fa2ae.jpg}">
            <h5>
              <span>
                Irish Journalist “Don’t Be Afraid” -Apr 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../corona-facts-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a8e585386460cdfa136e810046f95dcf.jpg}">
            <h5>
              <span>
                Corona Facts -Feb 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-is-the-flu-remarketed-mar-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1a557f48d9132f446ea630425224b8e7.jpg}">
            <h5>
              <span>
                Covid is the Flu Remarketed -Mar 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-zero-is-britain-zero-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a3aa68836dd13c511ff1671a6b69df54.jpg}">
            <h5>
              <span>
                "Covid-Zero is Britain-Zero" -Feb 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../we-must-debate-the-measures-feb-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d4ae758aae26ae72f5aa7fef96976fe7.jpg}">
            <h5>
              <span>
                "We Must Debate the Measures"-Feb 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../police-chief-dont-be-a-sheep-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/233b16abf3b050e59893219d7bd8a062.jpg}">
            <h5>
              <span>
                Police Chief "Don't be a Sheep" -Feb 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-cahill-on-virus-and-personal-attacks-feb-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Dr Cahill on Virus & Personal Attacks -Feb 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-coleman-bbc-suppresses-truth-feb-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/258a666d60a3b84c6b79567ec7e00cac.jpg}">
            <h5>
              <span>
                Dr Coleman "BBC Suppresses Truth" -Feb 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-coleman-on-vaccine-safety-feb-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/61f619d8e05f33274d196d4bb060564a.jpg}">
            <h5>
              <span>
                Dr Coleman on Vaccine Safety -Feb 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-coleman-tragic-coincidences-mar-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/74b15352bf979f6d91129d583af2027b.jpg}">
            <h5>
              <span>
                Dr Coleman "Tragic Coincidences" –Mar 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-jensen-on-data-corruption-mar-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4e050643674e92745c4c498219b10b7e.jpg}">
            <h5>
              <span>
                Dr Jensen on "Data Corruption" –Mar 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../civil-disobedience-is-now-justified-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ec35e75a95b51be096d5bd168e59e71d.jpg}">
            <h5>
              <span>
                "Civil Disobedience is Now Justified" -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ltf-tests-2-percent-accuracy-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/be82d4ebb723c8582d17bebbe5840931.jpg}">
            <h5>
              <span>
                LTF tests 2% Accuracy -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../individual-vaccine-protest-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/eac9aff29f620f79f3608c6d60a8dd7a.jpg}">
            <h5>
              <span>
                Individual Vaccine Protest  -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-schiffmann-on-children-dying-mar-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7c733f2b8fb3951e32bfc31caa34d8c6.jpg}">
            <h5>
              <span>
                Dr Schiffmann on Children Dying -Mar 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../masks-are-common-sense-apr-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/606b8aa6971bf10e33eb212faada3510.jpg}">
            <h5>
              <span>
                Masks are Common Sense -Apr 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fact-checking-covid-hypothesis-apr-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7d09b6f39a94147a7e922867cb558926.jpg}">
            <h5>
              <span>
                Fact Checking Covid Hypothesis -Apr 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Indian Actor Mansoor Ali Khan protests Vaccines -Apr 20 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>