---
title: "None"
home_url: ../../
page_title: "NONE"
vid_count: 4
all_vid_count: 104
page_descr: "For videos that have no subcategory"
top_right: " "
template: "../../subcategory.template"
---

<div class="grid_wrap">
<div class="grid">
   <div class="grid-item">
    <a href="./doctor-calls-alarm-over-notion-of-a-vaccine-passport-april-16-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/68af72918183fe1ee53f56f748a0a274.jpg}">
        <h5><span>Doctor calls Alarm over notion of a Vaccine Passport - April 16, 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./fauci-changes-herd-immunity-standards-apr-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c3ba8bf848b14c6190e4d0df518ad1d1.jpg}">
        <h5><span>Fauci changes Herd Immunity standards -Apr 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./big-tech-has-all-the-power-feb-15-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/72964a9c6dd2ec38855d1594599b90e0.jpg}">
        <h5><span>"Big Tech has all the power" -Feb 15 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./bobby-kennedy-jnr-gives-freedom-speech-in-berlin">
      <div class="image">
        <img src="https://i.ytimg.com/vi/2qvh-FniKw8/mqdefault.jpg">
        <h5><span>Bobby Kennedy Jnr gives 'Freedom speech' in Berlin<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
</div>
</div>

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../new-speak"><button class="categories"><span class="categories">NEW SPEAK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../vaccine-passport"><button class="categories"><span class="categories">VACCINE PASSPORT</span></button></a>
    </div>
    <div class="categories">
      <a href="../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>