---
title: "German lawyer Fuellmich on biased media -Mar 16 2021"
home_url: ../../../
page_title: "German lawyer Fuellmich on biased media -Mar 16 2021"
page_descr: "video.description"
all_vid_count: 104
vid_count: " "
top_right: " "
subcategory: "None"
category: "corona committee"
template: "../../../video.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    https://open.lbry.com/@shortXXvids:e/Biased-media--Mar-16-2021:9
  </div>
</div>

--- name:carousel pipeline:erb
<span class="scat_in_cat">NONE<a href="../">&gt;&gt;&gt;</a></span>
<div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../israeli-lawyer-explains-why-sweden-did-it-right">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2d9a742171dd46b6ad529b01d30096e3.jpg}">
            <h5><span>Israeli Lawyer explains why Sweden did it right<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../german-lawyer-fuellmich-on-biased-media-mar-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a3228500793574c664f9185be7f411d6.jpg}">
            <h5><span>German lawyer Fuellmich on biased media -Mar 16 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
</div> 

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../corona-committee"><button class="categories"><span class="categories">CORONA COMMITTEE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../new-speak"><button class="categories"><span class="categories">NEW SPEAK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ethics-and-morals"><button class="categories"><span class="categories">ETHICS & MORALS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine-passport"><button class="categories"><span class="categories">VACCINE PASSPORT</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>