<a href=/roda/categories>
  <button type="button">
    All categories
  </button>
</a>
<a href=/roda/categories/new>
  <button type="button">
    Add a new category
  </button>
</a>
<a href=/roda/videos>
  <button type="button">
    All videos
  </button>
</a>
<a href=/roda/videos/new>
  <button type="button">
    Add a new video
  </button>
</a>

