<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Short XXX Vids management</title>
   <link rel="stylesheet"  href="/roda/css/Skeleton-2.0.4/css/normalize.css" />  
   <link rel="stylesheet"  href="/roda/css/Skeleton-2.0.4/css/skeleton.css" />  

  </head>
  <body>
    <div class="container">
       <section>
         <%= yield %>
       </section>
    </div>
  </body>
</html>
