---
title: "Medical Apartheid in Ireland -June 30 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "New World Order"
category: "big brother"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Medical-Apartheid-in-Ireland--June-30-2021/41a25240c1f8b4cd9762e785ab43149e2dab1596?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">NEW WORLD ORDER &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../medical-apartheid-in-ireland-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4fb1202b2adee4795dc879a896b059d2.jpg}">
            <h5>
              <span>
                Medical Apartheid in Ireland -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../eugenics-agenda-in-mainstream-medicine-july-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b56423a99985bbb49bbb1f5991d38553.jpg}">
            <h5>
              <span>
                Eugenics Agenda in mainstream medicine - July 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israeli-mother-talks-vaccine-horror-march-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ba11c4716fdc02b26824afe6af7163f7.jpg}">
            <h5>
              <span>
                Israeli mother talks Vaccine Horror - March 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../methods-of-psychological-warfare">
          <div class="image">
            <img src="https://i.ytimg.com/vi/xEXI_suHgnY/mqdefault.jpg">
            <h5>
              <span>
                Methods of psychological warfare<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../white-house-and-big-tech-censorship-july-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/67b35a36e81ecc74cd9b72e138faf175.jpg}">
            <h5>
              <span>
                White House & Big Tech Censorship -July 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../masks-also-for-vaccinated-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7fc492f9c75790f759e7558ea491a68c.jpg}">
            <h5>
              <span>
                Masks Also for Vaccinated -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../g-wisnewski-we-must-all-do-something-jun-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/30eef174ed289aa64f97fc00b14521a9.jpg}">
            <h5>
              <span>
                G. Wisnewski - We must all do something - Jun 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../uk-social-credit-system-july-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0f0414f11d103f973bda6560cb7c203f.jpg}">
            <h5>
              <span>
                UK Social Credit System -July 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-politician-on-great-reset-july-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7afce270f64ce982daee02d5223b0087.jpg}">
            <h5>
              <span>
                Dutch Politician on Great Reset -July 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../can-socialism-work-feb-23-2009">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e762a35d41b4d9dff1d0a1e74f6c2cea.jpg}">
            <h5>
              <span>
                Can Socialism Work? -Feb 23 2009<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../climate-change-truths-and-lies-july-9-2021">
          <div class="image">
            <img src="https://i.ytimg.com/vi/__0vveW3VkY/mqdefault.jpg">
            <h5>
              <span>
                Climate Change Truths & Lies -July 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../liberty-builds-civilization-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a9aff3f017164f7abb223d3e12ffaa6d.jpg}">
            <h5>
              <span>
                Liberty Builds Civilization -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../china-social-credit-system-to-usa-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a9481e51cfd558f76c22da4c828571dd.jpg}">
            <h5>
              <span>
                China Social Credit System to USA -Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australias-new-world-order-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/36f724e3b6a29d10d6104f54ef03b004.jpg}">
            <h5>
              <span>
                Australia's New World Order - July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../france-anti-pass-protest-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7943b75575d2b3411e070595644fe93e.jpg}">
            <h5>
              <span>
                France Anti Pass Protest -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../paris-anti-pass-protest-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1df19219919ab9f027a8bd22d4787b6b.jpg}">
            <h5>
              <span>
                Paris Anti Pass Protest -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../global-civil-war-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3ddc0f33fb1f182d994a2af1596f3f3d.jpg}">
            <h5>
              <span>
                Global Civil War -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../us-msm-denounces-free-speech-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f0963968cd7648e0c3f0edd484ddff37.jpg}">
            <h5>
              <span>
                US MSM Denounces Free Speech -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-resist-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/59cdb4f36fa5d29564183422314369ac.jpg}">
            <h5>
              <span>
                Australia Resist! -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australias-bad-joke-1-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d6ae9a2b96a674290675ff72a89a211e.jpg}">
            <h5>
              <span>
                Australia's Bad Joke 1-Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../for-your-safety-aug-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/79fd1d12f50c8ca9893c4e31be63334e.jpg}">
            <h5>
              <span>
                For your Safety -Aug 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../berlin-protesters-evade-police-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7c78ae7d686403d7856a5df57f671e59.jpg}">
            <h5>
              <span>
                Berlin Protesters Evade Police -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../n-korean-defector-on-cancel-culture-july-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e1ac93356cf6ce6badb982528ad789e6.jpg}">
            <h5>
              <span>
                N Korean Defector on Cancel Culture -July 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-on-military-lockdown-aug-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Australia on Military Lockdown -Aug 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-fear-strategy-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a8fb0229724967ade232c41909cb85ba.jpg}">
            <h5>
              <span>
                The Fear Strategy -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../how-to-spot-a-tyrant-feb-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9e3a7e6f67196b6665d8ef41bfddace0.jpg}">
            <h5>
              <span>
                How to Spot a Tyrant -Feb 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../a-stimulating-discussion">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1bda1f5f0f17a522b386219085a67462.jpg}">
            <h5>
              <span>
                A stimulating discussion<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bespoke-facilities-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b811acfb31c503f55749440cedd2a59e.jpg}">
            <h5>
              <span>
                "Bespoke facilities" -Feb 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../artificial-intelligence-and-the-new-normal">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/da442e68c6f0443ae4805cc59c6657ba.jpg}">
            <h5>
              <span>
                Artificial Intelligence & the New Normal<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../centralization-of-control-by-elites-via-economic-crisis-mar-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2b8a158f793fe5b35da60716feee2314.jpg}">
            <h5>
              <span>
                Centralization of control by elites via economic crisis -Mar 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../china-social-credit-sytem-pushes-you-to-be-a-better-citizen-feb-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/aa512207d66bbacaf4a7f1987b124918.jpg}">
            <h5>
              <span>
                China Social Credit Sytem "pushes you to be a better citizen" -Feb 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../blair-sells-vaccine-passport-mar-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e5f2d9ca3d29f96588ed3b9f58bf2747.jpg}">
            <h5>
              <span>
                Blair sells Vaccine Passport -Mar 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../criminals-or-covid-patients-feb-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5370413e28e27c6782ef575ab126d6ec.jpg}">
            <h5>
              <span>
                Criminals or Covid patients -Feb 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../curfew-for-men-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e36cd7a734dbe0ca12375e3f058abc10.jpg}">
            <h5>
              <span>
                Curfew for Men –Mar 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../russian-colonel-covid-not-a-health-issue-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0abc591d236e911678694aefa2455d23.jpg}">
            <h5>
              <span>
                Russian Colonel "Covid Not a Health Issue" -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../pentagon-announces-covid-microchip-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Pentagon Announces Covid Microchip -Apr 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-build-back-better-conspiracy-jan-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5b1821c1480c6fa1264ac6be46a0ae63.jpg}">
            <h5>
              <span>
                "the "Build, Back, Better" conspiracy -Jan 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../conspiracy-theory-microchip-implant-is-now-a-fact-apr-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7c26ad38853d7ac2ceddca1b7c5a829d.jpg}">
            <h5>
              <span>
                Conspiracy Theory Microchip Implant is now a Fact -Apr 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dystopian-band-mar-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4e05568ee46eedea0dc4c203145adf56.jpg}">
            <h5>
              <span>
                Dystopian Band-Mar 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dystopian-prom-dance-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9fa3eaa1c2dba9a7a1cec02b244fe24a.jpg}">
            <h5>
              <span>
                Dystopian Prom Dance -2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lord-deben-excited-by-the-new-world-order-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/76143ce8739f76415348b552b6f5f79a.jpg}">
            <h5>
              <span>
                Lord Deben excited by the New World Order -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../joe-biden-new-world-order-speech-may-29-2014">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/90f6a4b18e070106f8ab38741ba04c3b.jpg}">
            <h5>
              <span>
                Joe Biden New World Order Speech -May 29, 2014<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../george-bush-new-world-order-sept-11-1991">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/641c950725f6f45ba20b552b331573c0.jpg}">
            <h5>
              <span>
                George Bush New World Order -Sept 11 1991<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../george-bush-dreams-of-a-new-world-order-1988-92">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4f2fd1a19bb302abe42055b96d2c99a4.jpg}">
            <h5>
              <span>
                George Bush Dreams of a New World Order -1988-92<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../trudeau-normalizes-the-vaccine-passport-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f5615a87b32962f64160c7338fe45b86.jpg}">
            <h5>
              <span>
                Trudeau "Normalizes" the Vaccine Passport -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mask-causes-lack-of-oxygen-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/84dd88217f7da638943b04590913bccc.jpg}">
            <h5>
              <span>
                Mask causes LACK of Oxygen -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../warning-from-israel-fight-the-green-pass-may-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0fccfd748481a100f33fc48208320cbc.jpg}">
            <h5>
              <span>
                Warning from Israel "Fight the Green Pass!" -May 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bill-cooper-why-you-are-losing-the-war-may-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/02b64baf4e089dfa422e1eff31d0d134.jpg}">
            <h5>
              <span>
                Bill Cooper "Why You are Losing the War" -May 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../germany-launches-thought-police-may-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f1f80749a0da88bd4aea4f627b8ce918.jpg}">
            <h5>
              <span>
                Germany launches Thought Police -May 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../none-of-your-business-may-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9429d607d948438cdd527b01a6b9d168.jpg}">
            <h5>
              <span>
                "None of your Business!" -May 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-dangerous-conspiracy-virus-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c481eb430a5afc89ed755d521504f95f.jpg}">
            <h5>
              <span>
                The Dangerous "Conspiracy Virus" -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../preachers-arrested-for-preaching-may-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/03cb07f2df4d9c1bf0386c4a8edeb8c4.jpg}">
            <h5>
              <span>
                Preachers Arrested for Preaching -May 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../german-police-arrest-senior-on-mothers-day-may-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/afffa35ee5783076d2a5dfee4eb4f012.jpg}">
            <h5>
              <span>
                German Police Arrest Senior on Mothers Day -May 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../build-back-better-compilation-may-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5e43f0a8cec616d31143a0567b4b987e.jpg}">
            <h5>
              <span>
                "Build Back Better" Compilation -May 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cdc-says-no-more-masks-yet-people-still-wear-them-may-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7534ec52a04d9bfda2ae04d327838962.jpg}">
            <h5>
              <span>
                CDC says "No More Masks" yet People Still Wear Them -May 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../austria-chancellor-vaccines-wont-return-liberty-mar-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5100a0d195622b6ac22ab6c98258ac81.jpg}">
            <h5>
              <span>
                Austria Chancellor "Vaccines Won't Return Liberty" –Mar 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-health-passport-feb-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/489e800495eabbb14be59cc255373556.jpg}">
            <h5>
              <span>
                Australia Health Passport -Feb 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../aaron-russo-on-one-world-government-2000">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/315053dd1a549cde73f0aac0e7438587.jpg}">
            <h5>
              <span>
                Aaron Russo on One World Government -2000<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../15-police-arrest-1-man-for-crime-of-snacking-feb-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/13b0a378f7427b84b6ad30668c0d60f0.jpg}">
            <h5>
              <span>
                15 police arrest 1 man for crime of snacking -Feb 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../six-more-years-maybe-longer-feb-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1feaf5a663aa6de6e0144b1959287257.jpg}">
            <h5>
              <span>
                Six More Years, maybe longer -Feb 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-mask-police-may-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c00862642dfc0fff0c412e1f9e852d51.jpg}">
            <h5>
              <span>
                Australia Mask Police -May 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-vax-pass-may-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6ed1287ea12b3f738eda6c54d698e470.jpg}">
            <h5>
              <span>
                Australia Vax Pass -May 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../griffin-how-to-implement-socialism-1969">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/368faeabb7450147b411eaa829994410.jpg}">
            <h5>
              <span>
                Griffin "How to Implement Socialism" -1969<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../griffin-we-dream-of-socialism-1969">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3a2de9559311aea97b964b3611df83a6.jpg}">
            <h5>
              <span>
                Griffin "We Dream of Socialism" -1969<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../griffin-on-crypto-currency-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4318f938f3baa209db480900c1e1a57a.jpg}">
            <h5>
              <span>
                Griffin on Crypto Currency -Apr 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../griffin-on-central-banks-and-economic-policy-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/41aa696a785a27265151df1b4484891a.jpg}">
            <h5>
              <span>
                Griffin on Central Banks & Economic Policy -Apr 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../griffin-on-why-are-they-doing-this-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/be5a9bb6e7da2c326b254f6b1cd3754f.jpg}">
            <h5>
              <span>
                Griffin on Why are "They" Doing This? -Apr 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../game-day-in-the-re-united-states-of-america-feb-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/db7d5b0b829243549351ed2188068d4f.jpg}">
            <h5>
              <span>
                "Game Day in the Re-united States of America" -Feb 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mattie-mcgrath-challenges-green-passports-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4b38fce9c3bca7021dcc1b9bfa1440b7.jpg}">
            <h5>
              <span>
                Mattie McGrath Challenges Green Passports -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../naomi-wolf-and-james-delingpole-on-the-vaccine-passport-trap-may-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a87bc130e42c4321702f13064a6982b8.jpg}">
            <h5>
              <span>
                Naomi Wolf & James Delingpole on the Vaccine Passport Trap -May 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../naomi-wolf-and-james-delingpole-on-the-uk-as-a-petri-dish-may-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d8703ae9ecc836865367a86a9686ed94.jpg}">
            <h5>
              <span>
                Naomi Wolf & James Delingpole on the UK as a Petri Dish -May 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brian-gerrish-on-common-purpose-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/72e935efe5c1a13c61f5d2da296343d7.jpg}">
            <h5>
              <span>
                Brian Gerrish on Common Purpose - May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../uk-column-news-banned-from-youtube-may-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4b28c83cc2b3dcf5ab23eed5ca503a53.jpg}">
            <h5>
              <span>
                UK Column News Banned from Youtube -May 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../boris-johnson-wants-world-wide-total-surveillance-may-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ff2740228c4388c3c89fc5ef0bf7f3c3.jpg}">
            <h5>
              <span>
                Boris Johnson Wants World Wide Total Surveillance -May 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../victoria-purpose-built-quarantine-facility-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8fc730fde86f4d5964d586cc17e6f701.jpg}">
            <h5>
              <span>
                Victoria Purpose Built Quarantine Facility -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../netanyahu-wants-to-microchip-kids-june-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/19f7eb39522fe5275b244b1c978cd073.jpg}">
            <h5>
              <span>
                Netanyahu Wants to MICROCHIP Kids -June 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../james-corbett-on-universal-income-may-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fb8054ac9e48012d2305da625e71a4be.jpg}">
            <h5>
              <span>
                James Corbett on Universal Income -May 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-bilderberg-group-meetings-2010-and-2016">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cd911ccd94e99c76ba2e48d690fe0c69.jpg}">
            <h5>
              <span>
                The Bilderberg group - Meetings 2010 & 2016<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../governments-changing-position-on-vaccine-passports-mar-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/44689d277b18050714e8e5724fe61551.jpg}">
            <h5>
              <span>
                Government's Changing Position On Vaccine Passports –Mar 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-and-government-control-mar-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/44a93ec63b86e042f9b8bdce4021211b.jpg}">
            <h5>
              <span>
                Vaccine & Government Control –Mar 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../governments-are-crushing-their-own-economies-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/369fde7c7a7302dee0ac5cbb83500c1a.jpg}">
            <h5>
              <span>
                "Governments Are Crushing Their Own Economies" -Feb 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccinate-the-world-says-former-pm-gordon-brown-june-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                'Vaccinate the World' says former PM Gordon Brown - June 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../blair-wants-to-remove-human-rights-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/78b659adc135f0693d9cc563a807a442.jpg}">
            <h5>
              <span>
                Blair Wants To Remove Human Rights -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../global-plans-june-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9aed73d75bd9cba3f5bd99ef26d3df7f.jpg}">
            <h5>
              <span>
                Global Plans - June 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-bilderberg-influence-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a036dc3164c76112281edb508cda231e.jpg}">
            <h5>
              <span>
                The Bilderberg Influence -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-covid-smokescreen">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2bbd5214b66aec3053980ca38eff6e08.jpg}">
            <h5>
              <span>
                The COVID smokescreen<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../health-security-governance-of-2009-feb-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6eb59053af67c6c59c304dd1ce72b8ce.jpg}">
            <h5>
              <span>
                "Health Security Governance" of 2009 –Feb 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../henry-kissinger-on-the-new-world-order-apr-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/16a42d46af3979d31e5604bb4ae54360.jpg}">
            <h5>
              <span>
                Henry Kissinger on the New World Order -Apr 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../india-police-give-badges-separating-vaxed-and-unvaxed-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5fd2700da9dee643e1cb6e74c598cd7a.jpg}">
            <h5>
              <span>
                India Police Give Badges Separating Vaxed & Unvaxed -June 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-vax-pass-arrives-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/168b16f042b38126dac5d4bfe308f29e.jpg}">
            <h5>
              <span>
                Australia Vax Pass Arrives -June 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../uk-health-adviser-wants-permanent-new-normal-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/07d2531a6b337cced13b39ae6aa27412.jpg}">
            <h5>
              <span>
                UK Health Adviser Wants Permanent New Normal -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-warnings-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c81f449ef7af10b30743fb73b6a886e4.jpg}">
            <h5>
              <span>
                Vax Warnings -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-passport-is-unacceptable-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ae7877004a2c3e870b041ec5a6c5aa95.jpg}">
            <h5>
              <span>
                Vaccine Passport is Unacceptable -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../g7-public-and-private-images-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c68acd0cbe12593c477cfeae64438ea5.jpg}">
            <h5>
              <span>
                G7 Public & Private Images -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../infowars-on-medical-slavery-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/54b0c8c84a7b601cd09f20c2306e5b05.jpg}">
            <h5>
              <span>
                InfoWars on Medical Slavery -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-manipulating-mainstream-media-covid-era-outbreaks-june-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/487ef89e98348a53533e1b64b2716529.jpg}">
            <h5>
              <span>
                The Manipulating Mainstream Media - Covid Era Outbreaks - June 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../iconic-podcast-on-brainwashing-kids-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0974def8836ac3fe1a3316ece392dbea.jpg}">
            <h5>
              <span>
                Iconic Podcast on Brainwashing Kids -June 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dublin-freedom-protest-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f22815c534a7f602e99eff8b7885c6e5.jpg}">
            <h5>
              <span>
                Dublin Freedom Protest -June 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-new-normal-propaganda-formula-sept-1-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/285d5a7923f0ab47413d2c774aff71da.jpg}">
            <h5>
              <span>
                The New Normal Propaganda Formula -Sept 1 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../millions-against-medical-mandates-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/260dab92b70b5235f46a6c825552ab22.jpg}">
            <h5>
              <span>
                Millions Against Medical Mandates - June 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../authoritarianism-in-france-and-new-zealand-july-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9f376ee8ac21b95ec0eda5679f238baf.jpg}">
            <h5>
              <span>
                Authoritarianism in France & New Zealand -July 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../chinas-tech-totalitarianism-april-14-2020">
          <div class="image">
            <img src="https://i.ytimg.com/vi/zDCVf0_FY3Q/mqdefault.jpg">
            <h5>
              <span>
                China's Tech Totalitarianism -April 14 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-slippery-slope-towards-slavery-june-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3003bab83a4650d57b96504d063f5104.jpg}">
            <h5>
              <span>
                The Slippery Slope Towards Slavery - June 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rand-paul-civil-asset-forfeiture">
          <div class="image">
            <img src="https://i.ytimg.com/vi/Ffyyi6p-jsQ/mqdefault.jpg">
            <h5>
              <span>
                Rand Paul - Civil Asset Forfeiture<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../john-stossel-green-road-to-serfdom-2011">
          <div class="image">
            <img src="https://i.ytimg.com/vi/4U5ctOcR_WM/mqdefault.jpg">
            <h5>
              <span>
                John Stossel - Green Road To Serfdom -2011<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../milton-friedman-persuasion-vs-coercion-1978">
          <div class="image">
            <img src="https://i.ytimg.com/vi/_5Ue1ivG6Qg/mqdefault.jpg">
            <h5>
              <span>
                Milton Friedman - Persuasion vs Coercion -1978<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-to-mandate-vaccines-june-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3c937e17599348f932f4fbe934a6e834.jpg}">
            <h5>
              <span>
                Australia To Mandate Vaccines -June 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Medical Apartheid in Ireland -June 30 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>