---
title: "&quot;cherylboruszko&quot; Print Ready Protest Stickers -May 25 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "The Corbett Report"
category: "alt media"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/cherylboruszko-Print-Ready-Protest-Stickers--May-25-2021/c8d46c120f215d627ae3fa9e291f85adf249ed3c?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">THE CORBETT REPORT &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../cherylboruszko-print-ready-protest-stickers-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/88c7ab18a685e58063422e5b9bfaf3bb.jpg}">
            <h5>
              <span>
                "cherylboruszko" Print Ready Protest Stickers -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../james-corbett-on-universal-income-may-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fb8054ac9e48012d2305da625e71a4be.jpg}">
            <h5>
              <span>
                James Corbett on Universal Income -May 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../henry-kissinger-on-the-new-world-order-apr-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/16a42d46af3979d31e5604bb4ae54360.jpg}">
            <h5>
              <span>
                Henry Kissinger on the New World Order -Apr 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../global-civil-war-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3ddc0f33fb1f182d994a2af1596f3f3d.jpg}">
            <h5>
              <span>
                Global Civil War -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  "cherylboruszko" Print Ready Protest Stickers -May 25 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>