---
title: "France World Freedom Rally –Mar 20 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "World Freedom Rally"
category: "protest"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/France-World-Freedom-Rally-%E2%80%93Mar-20-2021/a480302b4d5a9838ed9801a1d0c8418a9873cf18?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">WORLD FREEDOM RALLY &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../france-world-freedom-rally-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d47ba941063b05ae431d4dcfc1a68dcf.jpg}">
            <h5>
              <span>
                France World Freedom Rally –Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../france-worldwide-freedom-rally-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9c64b6142c0d0340cd592ce1ae375f60.jpg}">
            <h5>
              <span>
                France Worldwide Freedom Rally –Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../germany-world-freedom-rally-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d2e520cbdced913d88fbb7890c82b5ea.jpg}">
            <h5>
              <span>
                Germany World Freedom Rally -Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../germany-world-freedom-rally-police-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9d94554acf120d23a426801b53952657.jpg}">
            <h5>
              <span>
                Germany World Freedom Rally Police -Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../germany-world-freedom-rally-singing-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a170e221379494eb899c619ca665689f.jpg}">
            <h5>
              <span>
                Germany World Freedom Rally Singing –Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../japan-freedom-protest-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cd339eecda27fac4dd1aeb22dd1f87bb.jpg}">
            <h5>
              <span>
                Japan Freedom Protest -June 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../banned-world-freedom-rally-vid-apr-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/61193c3c9799f7c9571d1143191e77aa.jpg}">
            <h5>
              <span>
                Banned World Freedom Rally vid -Apr 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../belgrade-world-freedom-rally-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9b3e1bf6d442a97c328acad45e858446.jpg}">
            <h5>
              <span>
                Belgrade World Freedom Rally –Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brisbane-worldwide-freedom-rally-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0d502ba441fd5771420f3de241da5056.jpg}">
            <h5>
              <span>
                Brisbane Worldwide Freedom Rally -Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brussels-world-freedom-rally-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a174b45ac01e9fe84b855390a171332e.jpg}">
            <h5>
              <span>
                Brussels World Freedom Rally –Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../with-love-from-kassel-20th-march-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1d3b4ba52eb33afa735322a9c09c613e.jpg}">
            <h5>
              <span>
                With Love from Kassel - 20th March 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../croatia-worldwide-freedom-rally-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5d6abefd951f331f2b7cd18f48a327fa.jpg}">
            <h5>
              <span>
                Croatia Worldwide Freedom Rally –Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../argentina-world-freedom-rally-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c1a51c62e30534020ae14d3abaa38d8a.jpg}">
            <h5>
              <span>
                Argentina World Freedom Rally –Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../amsterdam-world-freedom-rally-singing-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f624067cfb8cbaf15745fb40a6313d6a.jpg}">
            <h5>
              <span>
                Amsterdam World Freedom Rally Singing –Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../amsterdam-protest-veterans-stand-against-police-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/922042b93f3394efc57ecb8acc48a2e5.jpg}">
            <h5>
              <span>
                Amsterdam Protest Veterans Stand Against Police –Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../amsterdam-protest-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8f2f4ca4cedc05cb8222e0b0fefd0aa2.jpg}">
            <h5>
              <span>
                Amsterdam Protest –Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../finland-world-freedom-rally-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e92021a8c6b7aae4eae36d85c5111add.jpg}">
            <h5>
              <span>
                Finland World Freedom Rally –Mar 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  France World Freedom Rally –Mar 20 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>