---
title: "Bologna youth protest -Apr 2 2021"
home_url: ../../../
page_title: "Bologna youth protest -Apr 2 2021"
page_descr: "video.description"
all_vid_count: 205
vid_count: " "
top_right: " "
subcategory: "Mass Protest"
category: "protest"
template: "../../../video.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Bologna-youth-protest--Apr-2-2021/c3ca65953609150b339fc922c342a5145c365d4d?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

--- name:carousel pipeline:erb
<span class="scat_in_cat">MASS PROTEST<a href="../">&gt;&gt;&gt;</a></span>
<div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../with-love-from-kassel-20th-march-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1d3b4ba52eb33afa735322a9c09c613e.jpg}">
            <h5><span>With Love from Kassel - 20th March 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../swiss-artists-against-covid-measures">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c5e94a9ee48d234e638983a3be956560.jpg}">
            <h5><span>Swiss Artists Against Covid Measures<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-anti-coronavirus-lockdown-protesters-clash-with-police-as-dozens-arrested-itv-news">
          <div class="image">
            <img src="https://i.ytimg.com/vi/KHBfOJcUvYc/mqdefault.jpg">
            <h5><span>Covid: Anti-coronavirus lockdown protesters clash with police as dozens arrested | ITV News<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../germany-anti-lockdown-protesters-take-to-berlin-streets-to-mark-one-year-since-first-march">
          <div class="image">
            <img src="https://i.ytimg.com/vi/y_G4Y1l1fQw/mqdefault.jpg">
            <h5><span>Germany: Anti-lockdown protesters take to Berlin streets to mark one year since first march<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../thousands-protest-lockdown-restrictions-in-german-city-of-stuttgart">
          <div class="image">
            <img src="https://i.ytimg.com/vi/lQN6v-EgNQQ/mqdefault.jpg">
            <h5><span>Thousands Protest Lockdown Restrictions in German City of Stuttgart<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-19-20-arrested-in-anti-measures-protests-in-finland-denmark-and-norway">
          <div class="image">
            <img src="https://i.ytimg.com/vi/WSKAr89tY60/mqdefault.jpg">
            <h5><span>COVID-19: 20 arrested in anti-measures protests in Finland, Denmark & Norway<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hundreds-in-montreal-protest-earlier-curfew">
          <div class="image">
            <img src="https://i.ytimg.com/vi/6ouLMpO4Uik/mqdefault.jpg">
            <h5><span>Hundreds in Montreal protest earlier curfew<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../italy-restaurant-owners-scuffle-with-police-again-in-rome-lockdown-protest">
          <div class="image">
            <img src="https://i.ytimg.com/vi/lQDDZ3ClTwc/mqdefault.jpg">
            <h5><span>Italy: Restaurant owners scuffle with police again in Rome lockdown protest<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../belgium-protest-apr-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6e885ef6b7fa1d3055318acdec8d40e6.jpg}">
            <h5><span>Belgium Protest -Apr 1 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../belgrade-protest-apr-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b4103e6182bae52d80ec0fd60c94788e.jpg}">
            <h5><span>Belgrade Protest -Apr 3 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../berlin-germany-protest-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2abc67e1777a65103f120e4339961479.jpg}">
            <h5><span>Berlin Germany Protest –Mar 13 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../berlin-ice-dance-protest-party-feb-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/215aa75cb22a4e1b962e27d9ff4f963d.jpg}">
            <h5><span>Berlin Ice Dance Protest Party -Feb 14 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bologna-protest-feb-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/05fa552591c6bc806542e3a4b96ce42c.jpg}">
            <h5><span>Bologna Protest -Feb 21 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bologna-youth-protest-apr-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bcf9b4f628a426f728e5f8f462db3d46.jpg}">
            <h5><span>Bologna youth protest -Apr 2 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brazil-motorway-protest-mar-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b1260a148b66ae45a06e582181084bef.jpg}">
            <h5><span>Brazil Motorway Protest –Mar 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brazil-protest-mar-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a0c106778b01681b30b9d5789f7e4cf2.jpg}">
            <h5><span>Brazil Protest –Mar 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brazil-protest-mar-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/417b8f252dee8ecf356690a078d1a66f.jpg}">
            <h5><span>Brazil protest –Mar 11 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brazil-protest-mar-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/10eb538a8a159efb0499171a7062f947.jpg}">
            <h5><span>Brazil Protest –Mar 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brazil-protesters-desperate-for-work-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8f9ac41ca5cc9857eb03bda247e58df4.jpg}">
            <h5><span>Brazil protesters desperate for work –Mar 13 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brisbane-protest-feb-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5bf91b5c75e5a6a5df95f34709edebc7.jpg}">
            <h5><span>Brisbane Protest -Feb 20 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brisbane-protest-my-body-my-choice-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1242842b9bd32d7ce0652af0a00d34f0.jpg}">
            <h5><span>Brisbane Protest "My body, My choice" –Mar 20 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bristol-protest-mar-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a266a2dafe74e2b77b64e49862c50467.jpg}">
            <h5><span>Bristol Protest -Mar 26 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../buss-world-freedom-rally-mar-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/945937461044a6f4f07ff807c94da12e.jpg}">
            <h5><span>Buss World Freedom Rally –Mar 20 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../protest-march-in-berlin-aug-1-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5><span>Protest march in Berlin - Aug 1 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../thousands-march-in-berlin-aug-1-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ff434c6027eb3d3a665e1b2a34931be1.jpg}">
            <h5><span>Thousands March in Berlin -Aug 1 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../canada-protest-mar-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f702b9f36231a256212585e3113c1f72.jpg}">
            <h5><span>Canada Protest –Mar 14 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../argentina-protest-apr-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7a78bbaabe0da444542c40dbfaabeb1d.jpg}">
            <h5><span>Argentina Protest -Apr 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
</div> 

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../thought-police"><button class="categories"><span class="categories">THOUGHT POLICE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../common-sense"><button class="categories"><span class="categories">COMMON SENSE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>