---
title: "Coercion is illegal use of force -Apr 3 2021"
home_url: ../../../
page_title: "Coercion is illegal use of force -Apr 3 2021"
page_descr: "video.description"
all_vid_count: 205
vid_count: " "
top_right: " "
subcategory: "None"
category: "vaccine pass"
template: "../../../video.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Coercian-is-illegal-use-of-force--Apr-3-2021/41f7759ca77d163a6373abafbea067b1e807f5c6?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

--- name:carousel pipeline:erb
<span class="scat_in_cat">NONE<a href="../">&gt;&gt;&gt;</a></span>
<div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../doctor-calls-alarm-over-notion-of-a-vaccine-passport-april-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/68af72918183fe1ee53f56f748a0a274.jpg}">
            <h5><span>Doctor calls Alarm over notion of a Vaccine Passport - April 16, 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-changes-herd-immunity-standards-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c3ba8bf848b14c6190e4d0df518ad1d1.jpg}">
            <h5><span>Fauci changes Herd Immunity standards -Apr 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../big-tech-has-all-the-power-feb-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/72964a9c6dd2ec38855d1594599b90e0.jpg}">
            <h5><span>"Big Tech has All the Power" -Feb 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bobby-kennedy-jnr-gives-freedom-speech-in-berlin">
          <div class="image">
            <img src="https://i.ytimg.com/vi/2qvh-FniKw8/mqdefault.jpg">
            <h5><span>Bobby Kennedy Jnr gives 'Freedom speech' in Berlin<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../china-social-credit-sytem-pushes-you-to-be-a-better-citizen-feb-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/aa512207d66bbacaf4a7f1987b124918.jpg}">
            <h5><span>China Social Credit Sytem "pushes you to be a better citizen" -Feb 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cna-skelton-warns-about-vaccine-side-effects-jan-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/774d9f7f1317551b70167ec8b8efb530.jpg}">
            <h5><span>CNA Skelton warns about Vaccine side effects -Jan 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../coercion-is-illegal-use-of-force-apr-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e8802904edb8f1c4c2aba5945b05cd45.jpg}">
            <h5><span>Coercion is illegal use of force -Apr 3 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../influencers-paid-to-sell-vaccines-may-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c0ca1f39fa0345f44d7fb756a1681d6c.jpg}">
            <h5><span>Influencers Paid to Sell Vaccines -May 6 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../harvard-prof-vaccine-passports-not-needed-apr-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dbb4f05b1d0d97b8ada3e208486e4923.jpg}">
            <h5><span>Harvard Prof Vaccine Passports not needed -Apr 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-passports-must-be-stopped-apr-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6d9071bf9d1b90620ffd89d6bde8c749.jpg}">
            <h5><span>"Vaccine passports" must be stopped! -Apr 5 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-livermore-says-vaccine-pass-not-needed-apr-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/40384a16b113ca21d38dde78aa2d382f.jpg}">
            <h5><span>Prof Livermore says Vaccine Pass not needed -Apr 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
</div> 

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../thought-police"><button class="categories"><span class="categories">THOUGHT POLICE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../common-sense"><button class="categories"><span class="categories">COMMON SENSE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>