  <h2> Video attributes </h2>
  <b>Title:</b> <cite><q><%= @video.title %></q></cite>
  <p>
  <b>Source:</b> <%= @video.provider%> (<%=@video.url%>)
  <br>
  <b>Date added:</b> <%= @video.date_added%> 
  <b>Date shot:</b> <%= @video.date_shot%> 
  <br>
  <b>Tags :</b> <%= @video.tags%> 
  <br>
  <b>Embed_url :</b> <%= @video.embed_url%> 
  <br>
  <b>Embed_code :</b> <%= @video.embed_code%> 
  <p>
  <%video_associations=@video.associations%>
  <% if video_associations.count!=0 %>
    <h4> Video classification </h4>
    <b> Categories </b> &mdash; <em> Subcategories</em><br>
    <%video_associations.each do |category,subcategory| %>
      <div>
        <b><%= category %></b> &mdash; <em><%= subcategory %> </em>
      </div>
    <% end %>
  <% else %>
    <h4><em> This video has not yet been categorized </em> </h4>
  <% end %>
  </p>
