<section>
  <% form @video, action: video_create_route, enctype: "multipart/form-data" do |f| %>
    <%= csrf_tag(csrf_path(video_create_route)) %>
    <%=   f.input :title %>
    <br>
    <%=   f.input :url %>
    <%=   f.input :provider %>
    <%=   f.input :original_url %>
    <%=   f.input :embed_url %>
    <%=   f.input :embed_code, :type=>"textarea" %>
    <br>
    <%=   f.input :tags, :label=>"Tags (list of comma-separated keywords)" %>
    <br>
    <%=   f.input :date_added, :as=>:select, :select_options=>{:year=>2020..Time.now.year} %>
    <%=   f.input :date_shot, :as=>:select %>
    <br>
    <%=   f.input :url_thumb_sml, :label=>"URL of small thumb-nail"  %>
    <%=   f.input :url_thumb_med, :label=>"URL of medium thumb-nail"  %>
    <%=   f.input :url_thumb_lrg, :label=>"URL of large thumb-nail"  %>
    <%=   f.input :image, type: :hidden, value: @video.cached_image_data %>
    <%=   f.input :image, :label=>"Upload a thumb-nail of your own", type: :file %>
    <%=   f.button "Create Video" %>
  <% end %>
</section>

<section>
  <p>
    <% if @video.image_url %>
      <figure>
        <figcaption> Uploaded thumbnail (fitted to 50% screen size) </figcaption>
        <img src=/roda/<%=@video.image_url%> style="width:50vw;min-width:330px;"   />
      </figure>
      <figure>
        <figcaption> Uploaded thumbnail (shown in original size) </figcaption>
        <img src=/roda/<%=@video.image_url %> />
      </figure>
    <% elsif @video.url_thumb_sml %>
      <figure>
        <figcaption> Small thumbnail from <%=@video.provider %> (shown in original size) </figcaption>
        <img src=<%=@video.url_thumb_sml %> />
      </figure>
    <% else %>
      <cite>No thumbnails present <br> Please upload one or more thumbnails</cite>
    <% end %>
  </p>
</section>
