<%= partial("header") %>

<h1> Categorize the video </h1>

<b>Title:</b> <cite><q><%= @video.title %></q></cite>
<p>
 <b>Source:</b> <%= @video.provider %>
</p>
<p>
  <b>Url:</b> <%= @video.url %>
</p>
<p>
<%video_associations=@video.associations%>
<% if video_associations.count!=0 %>
  <h4> Video classification </h4>
  <b> Categories </b> &mdash; <em> Subcategories</em><br>
  <%video_associations.each do |category,subcategory| %>
    <div>
      <b><%= category %></b> &mdash; <em><%= subcategory %> </em>
    </div>
  <% end %>
<% else %>
  <h4><em> This video has not yet been categorized </em> </h4>
<% end %>
</p>

<p>
  <% if @video.url_thumb_sml %>
    <figure>
      <img src=<%=@video.url_thumb_sml %> />
      <figcaption> 
        Small thumbnail from <%=@video.provider %> 
      </figcaption>
    </figure>
  <% elsif @video.image_url %>
    <figure>
      <img src=<%=@video.url_thumb_sml %> />
      <figcaption> 
        Uploaded thumbnail 
      </figcaption>
    </figure>
  <% else %>
    <cite>No thumbnails present</cite>
  <% end %>
</p>
<% vid = @video.id %>
<% f = Forme::Form.new %>
<% video_associate_route="/roda/videos/#{vid}/associate" %>

<%= f.open(:action=>video_associate_route, :method=>:post) %>
  <%= csrf_tag(csrf_path(video_associate_route)) %>
  <% @categories.each do |category| %>
     <% subcat_names = category.subcategories.map(&:name) %>
     <% sel_subcat = category.subcategory_of_video(vid) %>
     <%= f.input(:select, :label=>category.name, :name=>category.name, :options=>subcat_names, :add_blank=>true, :selected=>sel_subcat) %>
  <% end %>
  <%= f.button(:value=>'Assign Categories') %>
<%= f.close %>
