<h2> Confirm that you wish to proceeed with this action </h2>

<%= partial("videos/attributes") %>

<% video_delete_route="/roda/videos/#{@video.id}/delete" %>
<% form(@video, action: video_delete_route,:method=>:post)  do |f| %>
  <%= csrf_tag(csrf_path(video_delete_route)) %>
<%=   f.button "Delete video" %>
<% end %>

<h3> Or go back </h3>
<a href=/roda/videos>
<button type="button">
Cancel
</button></a>
