<%= partial("header") %>

<h2> Check information below and edit as needed </h2>
<p style="font-size:18px">
 You can also upload a different image for the thumbnail, if you
 are not happy with the one from the video provider.
</p>

<% video_create_route="/roda/videos/#{@video.id}/update" %>
<%= partial("videos/video_form", locals: {video_create_route: video_create_route}) %>
