<%= partial("header") %>

<h1> All Videos (<%=@videos.flatten.count%>)</h1>

<table>
  <tr>
    <th> Title </th>
    <th colspan="2"> Actions </th>
  </tr>
  <% @videos.reverse.each do |video| %>
  <tr>
    <td> 
      <a href=/roda/videos/<%=video.id%>/show>
        <%= video.title %>
      </a>
    </td>
    <td> 
      <a href=/roda/videos/<%=video.id%>/categorize>
        <button type="button">
          Categorize
        </button>
      </a>
    </td>
    <td> 
      <a href=/roda/videos/<%=video.id%>/edit>
        <button type="button">
          Edit
        </button>
      </a>
    </td>
    <td> 
      <a href=/roda/videos/<%=video.id%>/delete>
        <button type="button">
          Delete
        </button>
      </a>
    </td>
  </tr>
  <% end %>
</table>
