<%= partial("header") %>

<h1>Add a Video</h1>
<p style="font-size:18px">
First, try getting information by providing a url
</p>

<% video_fill_route="/roda/videos/fill" %>
<% f = Forme::Form.new %>
<% label="Insert URL and press 'Get Video Info'" %>

<%= f.open(:action=>video_fill_route, :method=>:post) %>
  <%= csrf_tag(csrf_path(video_fill_route)) %>
  <%= f.input(:text, :label=>label, :name=>'url_scraper') %> 
  <%= f.button(:value=>'Get Video Info') %>
  <cite> &emsp; Notice that this works only for YouTube, Vimeo, DailyMotion, and Wistia providers</cite>
<%= f.close %>

<p></p>
<section>
  <p style="font-size:18px">
    If this worked, the form below would be automagically be filled up. 
    Otherwise, fill up or edit the form below as appropriate. 
  </p>
</section>

<% video_create_route="/roda/videos/create" %>
<%= partial("videos/video_form", locals: {video_create_route: video_create_route}) %>
