<%= partial("header") %>
<section>
  <h3> Edit or Categorize the video</h3>
  <a href=/roda/videos/<%=@video.id%>/edit>
    <button type="button">
      Edit
    </button>
  </a>
  <a href=/roda/videos/<%=@video.id%>/categorize>
    <button type="button">
      Categorize
    </button>
  </a>
<%= partial("videos/attributes") %>
  <p>
    <% if @video.image_url %>
      <figure>
        <figcaption> Uploaded thumbnail (fitted to 50% screen size) </figcaption>
        <img src=/roda/<%=@video.image_url%> style="width:50vw;min-width:330px;"   />
      </figure>
      <figure>
        <figcaption> Uploaded thumbnail (shown in original size) </figcaption>
        <img src=/roda/<%=@video.image_url %> />
      </figure>
    <% elsif @video.url_thumb_sml %>
      <figure>
        <figcaption> Small thumbnail from <%=@video.provider %> (shown in original size) </figcaption>
        <img src=<%=@video.url_thumb_sml %> />
      </figure>
    <% else %>
      <cite>No thumbnails present <br> Please upload one or more thumbnails</cite>
    <% end %>
  </p>
</section>
