---
title: "Dutch Police Brutality –Mar 14 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Police Overreach"
category: "protest"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Dutch-police-brutality-%E2%80%93Mar-14-2021/52a370b4f3cf35beacfca5f04df074debb6036c6?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">POLICE OVERREACH &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../dutch-police-brutality-mar-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d0a71be6692305b68ac9a223a7387175.jpg}">
            <h5>
              <span>
                Dutch Police Brutality –Mar 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-police-protect-the-people-jan-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dff40ad0673b13e9c2557b53b93a8c4a.jpg}">
            <h5>
              <span>
                Dutch Police "Protect" the People -Jan 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-police-excessive-force-mar-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/71efb8bea9ac001c28dc0faf6e6ba038.jpg}">
            <h5>
              <span>
                Dutch Police Excessive Force –Mar 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-police-violence-mar-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e74c2445a06d7eacfb309ad6dbc53b15.jpg}">
            <h5>
              <span>
                Dutch Police Violence –Mar 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../romeos-dutch-undercover-police-with-weapons-jan-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8e92f8f9565d273778a351bf99b78d3f.jpg}">
            <h5>
              <span>
                "Romeos" Dutch Undercover Police with Weapons -Jan 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../germany-protest-and-the-wheelchair-police-apr-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/70b8f81ff49d74050dcfc4db896a4b3c.jpg}">
            <h5>
              <span>
                Germany Protest & the Wheelchair Police -Apr 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../woman-who-filmed-empty-gloucester-royal-hospital-arrested-dec-30-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c98958c137e79832a484deea2f781711.jpg}">
            <h5>
              <span>
                Woman who filmed Empty Gloucester Royal Hospital Arrested -Dec 30 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-police-attack-dance-rebels-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/93ceb44ba47023c7e053697cfb0199af.jpg}">
            <h5>
              <span>
                Dutch Police Attack Dance Rebels -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../police-illegally-harrass-man-without-mask-may-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/79c5cc5901a5e68cace851d440c356a6.jpg}">
            <h5>
              <span>
                Police Illegally Harrass Man Without Mask -May 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../preachers-arrested-for-preaching-may-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/03cb07f2df4d9c1bf0386c4a8edeb8c4.jpg}">
            <h5>
              <span>
                Preachers Arrested for Preaching -May 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../german-police-arrest-senior-on-mothers-day-may-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/afffa35ee5783076d2a5dfee4eb4f012.jpg}">
            <h5>
              <span>
                German Police Arrest Senior on Mothers Day -May 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../belgian-police-protecting-the-people-apr-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1294756c74a79cdce625eeac516dd325.jpg}">
            <h5>
              <span>
                Belgian Police "Protecting" the People -Apr 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../15-police-arrest-1-man-for-crime-of-snacking-feb-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/13b0a378f7427b84b6ad30668c0d60f0.jpg}">
            <h5>
              <span>
                15 police arrest 1 man for crime of snacking -Feb 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../greece-riots-after-police-brutality-p1-mar-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/77d2060d6aa9cfce4c682bbc4fcad48a.jpg}">
            <h5>
              <span>
                Greece Riots after Police Brutality p1–Mar 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../police-violence-in-holland-investigated-june-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/79d86b03254f3117c1cb41d6fc655d13.jpg}">
            <h5>
              <span>
                Police Violence in Holland Investigated - June 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../enough-is-enough-the-hague-july-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cc9dba02ebd2cd0ffc023c2f37392beb.jpg}">
            <h5>
              <span>
                Enough is Enough, the Hague - July 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israelis-defending-human-rights-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3d3666886617dfc478989355ddd00742.jpg}">
            <h5>
              <span>
                Israelis Defending Human Rights - July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australians-fight-for-freedom-july-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9b2690e0d18effd5271c1cbb9abeb45d.jpg}">
            <h5>
              <span>
                Australians Fight for Freedom -July 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../protests-not-tolerated-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/34d80e2c54a7be31d512e104b93fe6bb.jpg}">
            <h5>
              <span>
                Protests Not Tolerated -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australias-mask-police-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bfe0c2ffdb36626520ed9f34b87a46c0.jpg}">
            <h5>
              <span>
                Australia's Mask Police -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../police-at-berlin-demo-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/701badb7cbe5f2242f87a900667d103c.jpg}">
            <h5>
              <span>
                Police at Berlin demo - Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../for-your-safety-aug-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/79fd1d12f50c8ca9893c4e31be63334e.jpg}">
            <h5>
              <span>
                For your Safety -Aug 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../germany-police-clash-with-protesters-against-virus-measures">
          <div class="image">
            <img src="https://i.ytimg.com/vi/3FBsDrDthi0/mqdefault.jpg">
            <h5>
              <span>
                Germany Police Clash With Protesters Against Virus Measures<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../kill-the-bill-thousands-rally-in-london-to-protest-policing-bill">
          <div class="image">
            <img src="https://i.ytimg.com/vi/VmpKrp1YzHE/mqdefault.jpg">
            <h5>
              <span>
                'Kill the Bill': thousands rally in London to protest policing bill<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-19-more-than-150-arrests-as-anti-lockdown-protesters-clash-with-police-in-london">
          <div class="image">
            <img src="https://i.ytimg.com/vi/3Dt36h4jqdE/mqdefault.jpg">
            <h5>
              <span>
                COVID-19: More than 150 arrests as anti-lockdown protesters clash with police in London<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../with-love-from-kassel-20th-march-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1d3b4ba52eb33afa735322a9c09c613e.jpg}">
            <h5>
              <span>
                With Love from Kassel - 20th March 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../canada-police-brutality-and-reporter-helps-feb-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/45a6be4041812ade336ec005ee63eccc.jpg}">
            <h5>
              <span>
                Canada Police brutality & reporter helps -Feb 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../canada-protestor-on-police-treatment-feb-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/566a06e2c29b5fc61f635a78e00beb7c.jpg}">
            <h5>
              <span>
                Canada Protestor on Police Treatment -Feb 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../compilation-of-police-violating-human-rights-feb-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ada9ba83e2c43e2d0c35076ac267e5d4.jpg}">
            <h5>
              <span>
                Compilation of police violating human rights -Feb 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brave-citizen-protects-another-from-police-jan-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9b9b683b89fd0eabac0b4f7277538332.jpg}">
            <h5>
              <span>
                Brave citizen protects another from police -Jan 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-police-and-protest-jan-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d8d9469bfcb8de9d86c31d810cda5ef9.jpg}">
            <h5>
              <span>
                Dutch Police & Protest -Jan 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-police-attack-protesters-feb-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f48cb27d20c117b70966b67f302e0d8c.jpg}">
            <h5>
              <span>
                Dutch Police Attack Protesters -Feb 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dutch-police-beat-defenseless-man-mar-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d131927255d277101f8bb0d3e61615a2.jpg}">
            <h5>
              <span>
                Dutch Police Beat Defenseless Man –Mar 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Dutch Police Brutality –Mar 14 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>