---
title: "ABOUT"
home_url: ./
page_title: "ABOUT"
vid_count: 3312
all_vid_count: 
top_right: "something comes here"
template: default.template
---

--- name:categories pipeline:erb
    <div class="category">
      <a href="./protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="./legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="./science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="./vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="./thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="./big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="./ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="./lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="./alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="./vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="./alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="./old-think">OLD-THINK</a>
    </div>

--- name:page_title pipeline:erb
<div class="cat_name centered">
    ABOUT
</div>

<section>
<p></p>
<main class="about" >
  <section class="section" style="padding-top:0px; margin-top: 5rem">

<h4><em> note: This site is in the final stages of construction & is not yet optimized for smart phones </em></h4>

<h4 class="centered">The Covid Crisis has altered lives like never before in living memory.</h4>

<p>
The very fabric of our culture, ethics & morality is at stake. It is an undeniable fact that freedoms have been removed in nearly every “western democracy” in the name of “safety”: Freedom to move, to socialize, to work, to education, to medical consent, just to name a few. All these were protected by the UN, EU & US Human Rights charters since the end of WW2  but are now under unprecedented attack by censorship of even expert opinions, suppression of protests & greater police presence. We are at a tipping point & our response in this time will be judged by our children & history as either a massive failure of our generation or a victory for human rights & integrity.
</p>

<p>
ShortXXvids endeavors via short video format to present the views of intellectuals & ordinary people whose voices are being suppressed. We hope this will allow viewers to get a broad overview from which they can research further. Some of these voices are certainly emotional & perhaps “unscientific”, while others come from our most celebrated scientists. All of them share the convictions that the harms caused by the Corona Measures far outweigh the threat of the “Covid” disease. There most certainly is a scientifically valid alternative view of the Covid narrative that is counter to the “official” reports made by government & its “experts”. These ideas need to be heard & debated in open society & not suppressed.
</p>


<h4 class="centered">As children of the Enlightenment we believe that questioning is vital. </h4>

<p>
The scientific method sprung from questioning & is based on the disproving of ideas, even long held ones. This means that debate & opposing ideas need to be allowed & considered seriously. As Prof. Ioannidis of Stanford University has said, most accepted science has at some point become unaccepted & so it will go with much of what “experts” are today saying is true (see video below).
</p>

<p>
How can we therefore rush to remove our freedoms & betray our inherent values over a one-sided argument, for fear of an invisible viral enemy, one that can only be identified via a test & not from actual symptoms, one whose victim’s average age of death is higher than natural life expectancy...?
</p>

<p>
Debate, openness, inclusiveness, empathy & respect for individual rights must be our path forward if we are to protect our enlightenment values. Failing this, lockdowns, health passports, thought police, masks & fear will be a permanent “New Normal”. Both may cause deaths, but only one champions Freedoms, Human Rights & Love of all people.
</p>

<p>
Many of these videos may be controversial or suppressed by social media & mainstream news. You may not agree, but perhaps you might look again at the data & question what you are being told & by who about the true nature of the Covid crisis.
</p>

<p>
The shortXXvids Team
</p>
</section>
<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">

<iframe width="560" height="315" src="https://www.youtube.com/embed/6YpfJgVZ5ow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div

</main>


</section>