---
title: "ABOUT"
home_url: ./
page_title: "LINKS"
vid_count: 3312
all_vid_count: 
top_right: "something comes here"
template: default.template
---

--- name:categories pipeline:erb
    <div class="category">
      <a href="./protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="./legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="./science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="./vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="./thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="./big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="./ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="./lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="./alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="./vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="./alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="./old-think">OLD-THINK</a>
    </div>

--- name:page_title pipeline:erb
<div class="cat_name centered">
    LINKS
</div>

<section>
<p> </p>
<h2 id="vaccine-injury">Vaccine Injury</h2>

<p><a href="link: https://www.openvaers.com/covid-data">OpenVAERS</a></p>

<p><a href="https://www.adrreports.eu/nl/search_subst.html#">EMA</a></p>

<p><a href="https://yellowcard.ukcolumn.org/yellow-card-reports">UK Column Yellow Card</a></p>

<h2 id="legal">Legal</h2>

<p><a href="https://www.corona-ausschuss.de">Corona-Auschuss</a></p>

<p><a href="https://childrenshealthdefense.org/?lang=de">Children’s Health Defense</a></p>

<p><a href="https://t.co/DZ16zKIMsl?amp=1">America’s Frontline Doctors</a></p>

<p><a href="https://bpoc2020.nl/">BPOC 2020 (Dutch Corona Committee)</a></p>

<h2 id="data">Data</h2>

<p><a href="https://www.pandata.org/about/">PanData</a></p>

<p><a href="www.cormandrostenreview.com">Corman-Drosten Report</a></p>

<p><a href="https://thefatemperor.com/scientific-analyses-and-papers-on-lockdown-effectiveness/">Ivor Cummins docs</a></p>

<p><a href="link: https://euromomo.eu/graphs-and-maps">EuroMomo</a></p>

<h2 id="podcasts">Podcasts</h2>

<p><a href="https://thefatemperor.com/podcasts/">Ivor Cummins</a></p>

<p><a href="https://jermwarfare.com/podcast">JermWarfare</a></p>

<p><a href="https://vernoncoleman.org">Dr Vernon Coleman</a></p>

<p><a href="https://www.ukcolumn.org">UK Column News</a></p>

<p><a href="https://www.corbettreport.com">Corbett Report</a></p>

<p>[Ron Paul Liberty Report}(https://open.lbry.com/@RonPaul:d)</p>

<p><a href="https://potkaars.nl/english-about">Potkaars</a></p>

<h2 id="petitions">Petitions</h2>

<p><a href="https://gbdeclaration.org/">The Great Barrington Declaration</a></p>

<p><a href="https://mamm.org/">Millions against Medical Mandates</a></p>

</section>