---
title: "18000 Vax Deaths in EU -July 17 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "The HighWire"
category: "alt media"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/18000-Vax-Deaths-in-EU--July-17-2021/65111b270aba71a7120cf58bc823b321ba84d3e1?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">THE HIGHWIRE &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../18000-vax-deaths-in-eu-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/91b59d6c7cc2dddecbb6b5bb4082907c.jpg}">
            <h5>
              <span>
                18000 Vax Deaths in EU -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../gates-gavi-and-who-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8d0ad6741615fe709db24a5ec187bb81.jpg}">
            <h5>
              <span>
                Gates, GAVI & WHO -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israel-vax-doesnt-work-july-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4c3e16a876bea1deb1be4c19564217e7.jpg}">
            <h5>
              <span>
                Israel Vax Doesn't Work -July 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../del-bigtree-questions-vax-100-percent-effective-claim-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f49583b7013360e737f95f4af9d7d923.jpg}">
            <h5>
              <span>
                Del Bigtree Questions Vax 100% Effective Claim -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../del-bigtree-on-vaccine-risks-apr-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0e96a5c022f5e2b8b7265ff5e46bb162.jpg}">
            <h5>
              <span>
                Del Bigtree on Vaccine Risks -Apr 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rfk-jr-and-del-bigtree-on-covid-vaccine-july-7-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/520d0bc05699b2ad4b701a8eb8a2a236.jpg}">
            <h5>
              <span>
                RFK Jr. & Del Bigtree on Covid Vaccine -July 7 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-malone-on-fda-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/482d8c6c88b65fc57276e3e8d8ee58c9.jpg}">
            <h5>
              <span>
                Dr Malone on FDA -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../del-bigtree-summarizes-vax-dangers-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/828c0ecc694f43ed6c57b1b0be516112.jpg}">
            <h5>
              <span>
                Del Bigtree Summarizes Vax Dangers -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  18000 Vax Deaths in EU -July 17 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>