---
title: "Paris Dance Protest - Gare de L'est - April 8 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Protests of Joy"
category: "protest"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/French-Dance-Protest/1be75704505b38adc21d66a612f775e43632806b?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">PROTESTS OF JOY &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../paris-dance-protest-gare-de-lest-april-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Paris Dance Protest - Gare de L'est - April 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../berlin-protest-apr-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d4eafa653bc2a0e2c6f2de6955d47b4b.jpg}">
            <h5>
              <span>
                Berlin Protest -Apr 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../switzerland-protest-apr-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5389719072273f8f279c9353f7092aa9.jpg}">
            <h5>
              <span>
                Switzerland Protest -Apr 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../paris-protest-apr-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ab349b3d2ef50b0684ecdd8b424ef687.jpg}">
            <h5>
              <span>
                Paris Protest -Apr 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../election-dance-party-holland-mar-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dcea68bb33dea7d109764af110bfc369.jpg}">
            <h5>
              <span>
                Election Dance Party Holland –Mar 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dance-at-london-protest-apr-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2b433575453be1608712b2e47b7c13f0.jpg}">
            <h5>
              <span>
                Dance at London Protest -Apr 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../salthill-beach-rebels-apr-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e5845626487327fe47c6ec83ee98a265.jpg}">
            <h5>
              <span>
                Salthill Beach Rebels -Apr 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../paris-dance-protest-apr-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/513a9da9a95993116eb53b1aac3c6781.jpg}">
            <h5>
              <span>
                Paris Dance Protest -Apr 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../napoli-protest-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/53e0130822189c4a1db14cfe485bf17c.jpg}">
            <h5>
              <span>
                Napoli Protest -Apr 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../luxembourg-song-protest-liberte-may-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c87b44f9394e9edb718c2de2633707dd.jpg}">
            <h5>
              <span>
                Luxembourg Song Protest "Liberte" -May 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../amsterdam-snow-rebels-feb-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c0a59ef22aadf9f0148974cbe5acec17.jpg}">
            <h5>
              <span>
                Amsterdam Snow Rebels -Feb 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../france-rebel-snow-party-feb-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a81904ff6401f3e8a3561a0b2a7b7251.jpg}">
            <h5>
              <span>
                France Rebel Snow Party -Feb 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../france-snow-rebels-feb-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4faaa8e9376de8a6966345200bf41012.jpg}">
            <h5>
              <span>
                France Snow Rebels -Feb 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bologna-italy-protest-may-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d0727b7df4c4d8172bf266581ccbacf7.jpg}">
            <h5>
              <span>
                Bologna Italy Protest -May 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../naples-italy-party-protest-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bafa36328fea0b2f15d2c56cdcce0b7b.jpg}">
            <h5>
              <span>
                Naples Italy Party Protest -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ireland-protest-party-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/678f43598a640c2f82912468a29bd768.jpg}">
            <h5>
              <span>
                Ireland Protest Party -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cork-protesters-sing-mar-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0fcf097d59c42ccbf8d025e6341e1efd.jpg}">
            <h5>
              <span>
                Cork Protesters Sing –Mar 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hk-danser-encore-officiel">
          <div class="image">
            <img src="https://i.ytimg.com/vi/SyBEMRyt6Qg/mqdefault.jpg">
            <h5>
              <span>
                HK - Danser encore (Officiel)<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../paris-dance-protest-gare-de-lest-april-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5ca0d32ac3dca6c2746cafcb6c7e879d.jpg}">
            <h5>
              <span>
                Paris Dance Protest - Gare de L'est - April 8, 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Paris Dance Protest - Gare de L'est - April 8 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>