---
title: "India Crematoriums: Overwhelmed or Not? -May 4 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "India Normal"
category: "all's well"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/India-Crematoriums-overwhelmed-or-not--May-4-2021/47750a3194e3dd490e4db8d1abc2e82f38df5250?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">INDIA NORMAL &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../india-crematoriums-overwhelmed-or-not-may-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/21b9177816813f234d404e90532d15e9.jpg}">
            <h5>
              <span>
                India Crematoriums: Overwhelmed or Not? -May 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mumbai-india-all-is-normal-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b83239b16d1715c1907eec456c96b573.jpg}">
            <h5>
              <span>
                Mumbai, India All is Normal -May 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ivor-cummins-on-india-data-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8c9635e40c3d98110e73435fdb838a43.jpg}">
            <h5>
              <span>
                Ivor Cummins on India Data -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  India Crematoriums: Overwhelmed or Not? -May 4 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>