---
title: "UK Column News Banned from Youtube -May 31 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "UK Column News"
category: "alt media"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Ukcolumnews-May312021%2BYoutubebanned-1/cc10ea418722d5164c15eb95a7f764d1740f7ed6?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">UK COLUMN NEWS &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../uk-column-news-banned-from-youtube-may-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4b28c83cc2b3dcf5ab23eed5ca503a53.jpg}">
            <h5>
              <span>
                UK Column News Banned from Youtube -May 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../myth-of-asymptomatic-spread-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/332971302b2c3459ba54e7b0607909ef.jpg}">
            <h5>
              <span>
                Myth of Asymptomatic Spread - June 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ukcolumn-covid-cats-pcr-asymptomatics-july-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/adaf581dff814aa837b21bae6c83aa9a.jpg}">
            <h5>
              <span>
                UKColumn - Covid Cats, PCR, Asymptomatics - July 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-sam-white-vs-the-nhs-july-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/77b3c5a2b814ff2cb700e107067de544.jpg}">
            <h5>
              <span>
                Dr. Sam White vs the NHS - July 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nhs-vaccine-propaganda-video-july-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6a474d17b202b74998cc9e1446346362.jpg}">
            <h5>
              <span>
                NHS Vaccine Propaganda Video - July 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../uk-az-victim-update-report-jul-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4625808b12675d5b0264aedf1302bbe6.jpg}">
            <h5>
              <span>
                UK AZ victim update report - Jul 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../jab-for-uk-16-and-17-yr-olds-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/701d6a5b9d417c3eb26fd5aa0e2b7256.jpg}">
            <h5>
              <span>
                Jab for UK 16 & 17 yr olds - Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../uk-government-docs-show-fear-is-policy-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4827e7afc0616247bf8efa1a4eff67ad.jpg}">
            <h5>
              <span>
                Uk government docs show Fear is Policy -Apr 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../sage-deaths-stats-change-for-vaccine-apr-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c1c1e1f53bf4aac2d5f35590ebfc1419.jpg}">
            <h5>
              <span>
                Sage: Deaths Stats Change for Vaccine -Apr 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../where-has-the-flu-gone-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/41e8e0d1dedadd5e4c12979e3ecc13e4.jpg}">
            <h5>
              <span>
                Where has the Flu Gone -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../uk-column-news-where-corona-thrives-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6d56dcab1fcd7ea5b9d1cb7af115f59e.jpg}">
            <h5>
              <span>
                UK Column News "Where Corona Thrives" -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nhs-vaccine-whistleblower-p1-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fed376bcc75e9e7dbe16caeddcf5bbdc.jpg}">
            <h5>
              <span>
                NHS Vaccine Whistleblower p1 -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nhs-vaccine-whistleblower-p2-designed-to-mislead-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ba20a8f23b1e6fb9830ed2f3a0b7acb0.jpg}">
            <h5>
              <span>
                NHS Vaccine Whistleblower p2 "Designed to Mislead" -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nhs-vaccine-whistleblower-p3-shut-up-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/df30bc1d7f08621c4cecee0be33b93da.jpg}">
            <h5>
              <span>
                NHS Vaccine Whistleblower p3 "Shut Up!" -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../anti-vaccine-song-at-london-demo-may-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/277d3e53773ef72739050d2fa289fed8.jpg}">
            <h5>
              <span>
                Anti Vaccine song at London Demo - May 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bbc-is-no-longer-credible-may312021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cdd97f004b6a393ed1ba9b239c60defb.jpg}">
            <h5>
              <span>
                "BBC Is No Longer Credible" -May312021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../msm-grossly-lies-about-protest-events-may-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/110b76b45bad910544428ea7027ee5d7.jpg}">
            <h5>
              <span>
                MSM Grossly Lies about Protest Events -May 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../harsh-reality-of-vaccines-may-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5e94a5ffc221442acdab0dc060b7d28f.jpg}">
            <h5>
              <span>
                "Harsh Reality of Vaccines" -May 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  UK Column News Banned from Youtube -May 31 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>