---
title: "France Anti Pass Protest -Aug 6 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Mandates &amp; Consent"
category: "vaccine"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/France-Anti-Pass-Protest--Aug-6-2021/f944382d2dbddae5d13c5871ac8bbea65bfce23c?r=JCPYgUuvKo7ystKXeRFm9ztHjP7gWnKZ" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">MANDATES & CONSENT &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../france-anti-pass-protest-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                France Anti Pass Protest -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../help-us-destroy-inalienable-freedoms-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2184fdb9fccf8865b02c5e4d7f1578cb.jpg}">
            <h5>
              <span>
                Help Us Destroy Inalienable Freedoms -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../trudeau-pushes-mandates-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/aa4b8bbadfc585765cd7263e8b6904bb.jpg}">
            <h5>
              <span>
                Trudeau Pushes Mandates -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../california-vax-pass-protest-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f0a4f190f967007adaaaf9ced9fab9c6.jpg}">
            <h5>
              <span>
                California Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../texas-vax-mandate-protest-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/183c129598cd09584c49a38fc5c49e24.jpg}">
            <h5>
              <span>
                Texas Vax Mandate Protest -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../coercion-is-illegal-use-of-force-apr-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e8802904edb8f1c4c2aba5945b05cd45.jpg}">
            <h5>
              <span>
                Coercion is illegal use of force -Apr 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../new-zealand-mandates-vaccines-apr-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3a100e8fe9e050d790cc0b01766b8f32.jpg}">
            <h5>
              <span>
                New Zealand Mandates Vaccines -Apr 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dont-force-me-to-take-it-mar-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/efdf405b9b8e798cbe9235015837a4ea.jpg}">
            <h5>
              <span>
                Don’t force me to take it –Mar 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../did-you-get-your-vaccine-yet-mar-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c9c15fb045a47c79a7c6ca5abe8af4b0.jpg}">
            <h5>
              <span>
                "Did You Get Your Vaccine Yet?" –Mar 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-wen-wants-to-force-open-states-to-take-vaccine-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f051c60dd0cc3715fc83b9a6d73fcc08.jpg}">
            <h5>
              <span>
                Dr Wen Wants to Force Open States to take Vaccine –Mar 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../human-rights-attorney-chapman-uni-forces-vaccines-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/15c33d62fd412da248e8dc648df0a46a.jpg}">
            <h5>
              <span>
                Human Rights Attorney, Chapman Uni Forces Vaccines -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../human-rights-attorney-on-informed-consent-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/87c5d70d40db01d5bf811c4280260f3e.jpg}">
            <h5>
              <span>
                Human Rights Attorney on Informed Consent -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-to-force-vaccinations-may-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c1083efd4c0b7b164e58827f36ece7ed.jpg}">
            <h5>
              <span>
                Australia to Force Vaccinations -May 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../texas-senator-hall-on-why-vaccine-can-not-be-mandated">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3ceba4109e175798078385401658e8e8.jpg}">
            <h5>
              <span>
                Texas Senator Hall on why vaccine CAN NOT be mandated<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-vax-pass-may-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6ed1287ea12b3f738eda6c54d698e470.jpg}">
            <h5>
              <span>
                Australia Vax Pass -May 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../most-africans-refusing-vaccine-may-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/baaba5e9f0748edf9e45488aa41337f0.jpg}">
            <h5>
              <span>
                Most Africans Refusing Vaccine -May 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hong-kong-refuses-vax-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f80a4aec90ae527d0b5e8fcdac134cd6.jpg}">
            <h5>
              <span>
                Hong Kong Refuses Vax -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australian-senator-says-no-to-mandated-vaccines-may-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/81e991a886e0dab38d184f2d98dea737.jpg}">
            <h5>
              <span>
                Australian Senator says NO to Mandated Vaccines -May 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rand-paul-on-vaccine-logic-and-mandates-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/683e68e655574f6009119502cf348623.jpg}">
            <h5>
              <span>
                Rand Paul on Vaccine Logic & Mandates -May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-is-individual-choice-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/48a761817131aa3053ca412c461cda45.jpg}">
            <h5>
              <span>
                "Vaccine is Individual Choice" -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nurse-bullied-by-hospital-and-government-lies-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cb2c99908c68de6fcf994a7e9f3dfc56.jpg}">
            <h5>
              <span>
                Nurse Bullied By Hospital & Government Lies -June 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../msm-public-shaming-of-vaccine-refusers-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f0e91700a8e68eaaaafee60089a4db97.jpg}">
            <h5>
              <span>
                MSM Public Shaming of Vaccine Refusers -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../colleges-mandate-vax-for-students-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e3a18f23de02dc051b62fd2910fc9b67.jpg}">
            <h5>
              <span>
                Colleges Mandate Vax for Students -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../keeping-his-people-safe-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/511bfc9aa282864ae0d732f5768bc890.jpg}">
            <h5>
              <span>
                Keeping his People Safe -June 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../millions-against-medical-mandates-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/260dab92b70b5235f46a6c825552ab22.jpg}">
            <h5>
              <span>
                Millions Against Medical Mandates - June 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../inventor-of-mrna-vax-discusses-risks-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e5c26de08e3a2b956bd572ef9f46236c.jpg}">
            <h5>
              <span>
                Inventor of mRNA Vax Discusses Risks -June 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../no-vax-past-this-point-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8eb81bd364589f248e15e647a09ff38f.jpg}">
            <h5>
              <span>
                No Vax Past This Point -June 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../not-your-body-not-your-choice-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e4089f30924a1ae1cbd8163cee227f7a.jpg}">
            <h5>
              <span>
                Not Your Body, Not Your Choice! -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-dictatorship-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ebf8089543a2e22986e60064f3c6713a.jpg}">
            <h5>
              <span>
                Vaccine Dictatorship -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../why-vaccine-mandates-july-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dd9c3170d4140eea58d9b8eb9516bcca.jpg}">
            <h5>
              <span>
                Why Vaccine Mandates? - July 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../motives-of-biden-censorship-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Motives of Biden Censorship -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../france-anti-vax-mandate-protest-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/81d07d6ef52b46d6807b011428c8fab5.jpg}">
            <h5>
              <span>
                France Anti Vax Mandate Protest - July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../toulouse-anti-vax-mandate-protest-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0ccedadffedf2f96a270f906a3036ba4.jpg}">
            <h5>
              <span>
                Toulouse Anti Vax Mandate Protest - July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israeli-fascism-or-democracy-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e54bd3bb322ddf2a145621807960214c.jpg}">
            <h5>
              <span>
                Israeli Fascism or Democracy? -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israel-pm-becomes-the-dictator-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1319402e30d29e68a7974b671dc17664.jpg}">
            <h5>
              <span>
                Israel PM Becomes the Dictator -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-fleming-on-door-to-door-vax-july-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6305dbeaf39587ad1a0a710a2bdd4c43.jpg}">
            <h5>
              <span>
                Dr Fleming on Door to Door Vax -July 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../france-anti-vax-protest-july-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/49ca51d9cde9b34624ba0ffc9e82b8f2.jpg}">
            <h5>
              <span>
                France Anti Vax Protest -July 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../totalitarianism-rises-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e3edb4df41730ab77ae1ba35ef1f0cc9.jpg}">
            <h5>
              <span>
                Totalitarianism Rises -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../sen-paul-on-delta-variant-and-groupthink-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/05ab05bd49202d54fdfd0d70a155ac31.jpg}">
            <h5>
              <span>
                Sen Paul on Delta Variant & GroupThink -July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israel-reimposes-green-pass-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/05148bac1e82946ddf9ca0ead2d1c4a8.jpg}">
            <h5>
              <span>
                Israel Reimposes Green Pass -July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../trento-anti-vax-pass-protest-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8ef6eff9e68db02c38d480ba3bdbc99b.jpg}">
            <h5>
              <span>
                Trento Anti Vax Pass Protest -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israel-anti-pass-protest-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6e71b7401a9bc847635f0b3dac3a0470.jpg}">
            <h5>
              <span>
                Israel Anti Pass Protest -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  France Anti Pass Protest -Aug 6 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>