<h2> Confirm that you wish to proceeed with this action </h2>

<% category_delete_route="/roda/categories/#{@category.id}/delete" %>
<% form(@category, action: category_delete_route,:method=>:post)  do |f| %>
  <%= csrf_tag(csrf_path(category_delete_route)) %>
<%=   f.input :name %>
<%=   f.button "Delete category" %>
<% end %>

<h3> Or go back </h3>
<a href=/roda/categories>
<button type="button">
Cancel
</button></a>
