<%= partial("header") %>

<h2> Check information below and edit as needed </h2>

<% category_update_route="/roda/categories/#{@category.id}/update" %>

<% form @category, action: category_update_route, method: "post" do |f| %>
    <%= csrf_tag(csrf_path(category_update_route)) %>
        <%=   f.input :name, label: "Name of category" %>
        <%=   f.input :description, label: "Brief description", class: "u-full-width" %>
    <%=   f.button "Update Category" %>
<% end %>
<h3> Or go back </h3>
<a href=/roda/categories>
<button type="button">
Cancel
</button></a>
