
<%= partial("header") %>

<%= flash['error'] %>
<h1> All Categories (<%= @categories.map {|c| c.videos}.flatten.count %>) </h1>

<table>
  <thead>
  <tr>
    <th> Name </th>
    <th> No. of videos</th>
    <th>  </th>
    <th colspan="2"> Actions </th>
  </tr>
  </thead>
  <tbody>
<% @categories.each do |category| %>
  <tr>
    <td> 
      <%= category.name %>
     </td>
    <td> 
      <%=category.videos.flatten.count%>
    </td>
    <td> 
      <a href=/roda/categories/<%=category.id%>/subcategories>
        <button type="button">
          Subcategories
        </button>
      </a>
    </td>
    <td> 
      <a href=/roda/categories/<%=category.id%>/edit>
        <button type="button">
          Edit
        </button>
      </a>
    </td>
    <td> 
      <a href=/roda/categories/<%=category.id%>/delete>
        <button type="button">
          Delete
        </button>
      </a>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
