
<%= partial("header") %>

<h1>Add a Category</h1>

<section>

<% category_create_route="/roda/categories/create" %>
<% f = Forme::Form.new %>
<%= f.open(:action=>category_create_route, :method=>:post) %>
  <%= csrf_tag(csrf_path(category_create_route)) %>
  <% (1..5).to_a.each do |i| %>
 <div class="row">
   <div class="three columns">
  <%= f.input(:text, :label=>"Name of category #{i}", :name=>"category#{i}",
:class=>"u-full-width") %>
   </div>
   <div class="nine columns">
  <%= f.input(:text, :label=>"Description", :name=>"category_description#{i}",
  :class=>"u-full-width") %>
   </div>
 </div>
  <% end %>
  <%= f.button(:value=>'Make new categories') %>
<%= f.close %>

</section>
