<%= partial("header") %>

 <% cid = @category.id %>
 <% subcategories=@category.subcategories.all %>

<% unless subcategories.empty? %>
  <h2> 
  Subcategories for <%= @category.name %>
  </h2>
<table>
  <tr>
    <th> Name </th>
    <th colspan="2"> Actions </th>
  </tr>
<% subcategories.each do |subcategory| %>
  <tr>
    <td> <%= subcategory.name %></td>
    <td> 
      <a href=/roda/categories/<%=cid%>/subcategories/<%=subcategory.id%>/edit>
        <button type="button">
          Edit
        </button>
      </a>
    </td>
    <td>
      <a href=/roda/categories/<%=cid%>/subcategories/<%=subcategory.id%>/delete>
      <button type="button">
        Delete
      </button></a>
    </td>
    <td> 
      <a href=/roda/categories/<%=cid%>/subcategories/<%=subcategory.id%>/videos>
      <button type="button">
        Show videos 
      </button></a>
     </td>
  </tr>
<% end %>
</table>
<% end %>


<h2>
Make new subcategories for <%= @category.name %>
</h2>
<% subcat_create_route="/roda/categories/#{cid}/subcategories/create" %>

<section>
<% f = Forme::Form.new %>
<%= f.open(:action=>subcat_create_route, :method=>:post) %>
    <%= csrf_tag(csrf_path(subcat_create_route)) %>
  <% (1..5).to_a.each do |i| %>
    <div class="row">
      <div class="three columns">
        <%= f.input(:text, :label=>"Subcategory#{i}", :name=>"subcat#{i}") %>
      </div>
      <div class="nine columns">
        <%= f.input(:text, :label=>"Description", :name=>"subcat_desc#{i}",
        :class=>"u-full-width") %>
      </div>
    </div>
  <% end %>
  <%= f.button(:value=>'Submit') %>
<%= f.close %>

</section>
