---
title: "Mises vs Marx Rap 3 - Oct 2019"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Liberty"
category: "old-think"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Marx-Misesrap-3-1/a3de5ecd116ca61f0c3a57916dfe339b8e081e01?r=JCPYgUuvKo7ystKXeRFm9ztHjP7gWnKZ" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">LIBERTY &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../mises-vs-marx-rap-3-oct-2019">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1bb96b8f42e88755b669a807981220af.jpg}">
            <h5>
              <span>
                Mises vs Marx Rap 3 - Oct 2019<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mises-vs-marx-rap-1-oct-2019">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1019b98af53e855d734e21f5dab23f28.jpg}">
            <h5>
              <span>
                Mises vs Marx Rap 1 -Oct 2019<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mises-vs-marx-rap-2-oct-2019">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8f1a34cef7a2801842666b755e9bc2a5.jpg}">
            <h5>
              <span>
                Mises vs Marx Rap 2 -Oct 2019<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../melbourne-anti-lockdown-protest-aug-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/07e5324256b9233a170f61d869149d43.jpg}">
            <h5>
              <span>
                Melbourne Anti Lockdown Protest -Aug 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../melbourne-freedom-protest-aug-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6a0b731e3c47b766fb7c9e3995dc7b2d.jpg}">
            <h5>
              <span>
                Melbourne Freedom Protest -Aug 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../latvia-anti-pass-protest-aug-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b1ba5d6f5ffbe94f477865bffd1b3647.jpg}">
            <h5>
              <span>
                Latvia Anti Pass Protest -Aug 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../france-for-freedom-aug-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ff683691b9fd4f8e8720a066556604fd.jpg}">
            <h5>
              <span>
                France for Freedom -Aug 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../sen-paul-urges-people-to-resist-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/49b5b7121e07ce4e15891c0ac8a9c4f2.jpg}">
            <h5>
              <span>
                Sen Paul Urges people to resist -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../california-vax-pass-protest-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f0a4f190f967007adaaaf9ced9fab9c6.jpg}">
            <h5>
              <span>
                California Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israel-vax-pass-protest-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ff6d12976de1227721a5d43393c48214.jpg}">
            <h5>
              <span>
                Israel Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../texas-vax-mandate-protest-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/183c129598cd09584c49a38fc5c49e24.jpg}">
            <h5>
              <span>
                Texas Vax Mandate Protest -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../doing-the-right-thing-nov-22-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/248c2b9225496d2b1c4459e50e10f654.jpg}">
            <h5>
              <span>
                Doing the Right Thing -Nov 22 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../florence-vax-pass-protest-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Florence Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../poland-vax-pass-protest-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fce201321733f55d1f143c4fb950b927.jpg}">
            <h5>
              <span>
                Poland Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rome-vax-pass-protest-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/28108f32d6f31f5d03bdd1d4b46c4f93.jpg}">
            <h5>
              <span>
                Rome Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../france-vax-pass-protest-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                France Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../end-this-madness-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/98a34828304a8e61427f38c759875ea1.jpg}">
            <h5>
              <span>
                "End This Madness!" -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../milan-vax-pass-protest-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c285af78ed2c213d45d765e061b4bf7e.jpg}">
            <h5>
              <span>
                Milan Vax Pass Protest -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mother-for-freedom-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c21936aadb1a17fbd181c87a7b312feb.jpg}">
            <h5>
              <span>
                Mother For Freedom -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../you-dont-care-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/970c771434c48743ab0c9729c2308dd2.jpg}">
            <h5>
              <span>
                You Don't Care! -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../milton-friedman-enemies-of-the-free-market-1991">
          <div class="image">
            <img src="https://i.ytimg.com/vi/vhgaPVO8aw8/mqdefault.jpg">
            <h5>
              <span>
                Milton Friedman - Enemies of the Free Market -1991<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rand-paul-civil-asset-forfeiture">
          <div class="image">
            <img src="https://i.ytimg.com/vi/Ffyyi6p-jsQ/mqdefault.jpg">
            <h5>
              <span>
                Rand Paul - Civil Asset Forfeiture<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../milton-friedman-the-invisible-hand-in-politics-1978">
          <div class="image">
            <img src="https://i.ytimg.com/vi/-CTCvONjfV4/mqdefault.jpg">
            <h5>
              <span>
                Milton Friedman - The Invisible Hand In Politics -1978<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../jordan-peterson-tucker-carlson-the-right-to-offend-2018">
          <div class="image">
            <img src="https://i.ytimg.com/vi/C6reiUJAVRE/mqdefault.jpg">
            <h5>
              <span>
                Jordan Peterson, Tucker Carlson - The Right to Offend -2018<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../john-stossel-green-road-to-serfdom-2011">
          <div class="image">
            <img src="https://i.ytimg.com/vi/4U5ctOcR_WM/mqdefault.jpg">
            <h5>
              <span>
                John Stossel - Green Road To Serfdom -2011<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../milton-friedman-persuasion-vs-coercion-1978">
          <div class="image">
            <img src="https://i.ytimg.com/vi/_5Ue1ivG6Qg/mqdefault.jpg">
            <h5>
              <span>
                Milton Friedman - Persuasion vs Coercion -1978<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../john-stossel-blue-laws-bootleggers-and-baptists-2015">
          <div class="image">
            <img src="https://i.ytimg.com/vi/_j-6nidOomw/mqdefault.jpg">
            <h5>
              <span>
                John Stossel - Blue Laws, Bootleggers & Baptists -2015<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../milton-friedman-the-choice-1978">
          <div class="image">
            <img src="https://i.ytimg.com/vi/F4L-2wQcCI8/mqdefault.jpg">
            <h5>
              <span>
                Milton Friedman: the Choice -1978<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../walter-e-williams-tyranny-of-the-elites">
          <div class="image">
            <img src="https://i.ytimg.com/vi/WQbUPNZTEiI/mqdefault.jpg">
            <h5>
              <span>
                Walter E Williams - Tyranny of the Elites<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../make-mine-freedom-part-1-1948">
          <div class="image">
            <img src="https://i.ytimg.com/vi/BdXIF42UC7A/mqdefault.jpg">
            <h5>
              <span>
                "Make Mine Freedom" part 1 -1948<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../walter-e-williams-self-ownership-1991">
          <div class="image">
            <img src="https://i.ytimg.com/vi/qLvZzHmxvUI/mqdefault.jpg">
            <h5>
              <span>
                Walter E Williams: Self Ownership -1991<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../milton-friedman-tolerance-and-humility-1990">
          <div class="image">
            <img src="https://i.ytimg.com/vi/5G2soUrWVEY/mqdefault.jpg">
            <h5>
              <span>
                Milton Friedman: Tolerance & Humility -1990<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../essential-nozick-the-minimal-state-oct-20-2020">
          <div class="image">
            <img src="https://i.ytimg.com/vi/pyJ95rkddQI/mqdefault.jpg">
            <h5>
              <span>
                Essential Nozick: The Minimal State -Oct 20 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bezmenov-on-media-and-police-1983">
          <div class="image">
            <img src="https://i.ytimg.com/vi/jcz_2M-U-Oo/mqdefault.jpg">
            <h5>
              <span>
                Bezmenov on Media & Police -1983<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../stossel-jordan-peterson-june-19-2018">
          <div class="image">
            <img src="https://i.ytimg.com/vi/jnJEEdp6W24/mqdefault.jpg">
            <h5>
              <span>
                Stossel: Jordan Peterson -June 19 2018<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../risks-of-monopolies-and-centralized-government-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d6d2dc705ff6fd3fea5b1391cdc0559a.jpg}">
            <h5>
              <span>
                Risks of Monopolies & Centralized Government -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../us-lawyers-on-mask-lawsuit-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4567a1e8ba90311e85784d43963851eb.jpg}">
            <h5>
              <span>
                US Lawyers on Mask Lawsuit -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-price-of-silence-june-14-2021">
          <div class="image">
            <img src="https://i.ytimg.com/vi/w_Az1PiVWvs/mqdefault.jpg">
            <h5>
              <span>
                The Price of Silence -June 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../italy-freedom-protest-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c30810a080b565eb55fe16f39f74b178.jpg}">
            <h5>
              <span>
                Italy Freedom Protest -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australians-fight-for-freedom-july-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a1d83d639626e2dfd0c13e9ce9ba8c25.jpg}">
            <h5>
              <span>
                Australians Fight for Freedom -July 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../france-antipass-protest-july-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3f3cf947d1a232d95ddf27de6e9b6665.jpg}">
            <h5>
              <span>
                France AntiPass Protest -July 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../french-protesters-storm-town-hall-july-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/95b454f54b6895c3bbcdc3ed405fbf00.jpg}">
            <h5>
              <span>
                French protesters storm town hall -July 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../liberty-builds-civilization-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a9aff3f017164f7abb223d3e12ffaa6d.jpg}">
            <h5>
              <span>
                Liberty Builds Civilization -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-power-of-no-aug-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0ac22bfd2afdbf47b35dc8be7d2c3339.jpg}">
            <h5>
              <span>
                The Power of NO! -Aug 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../french-restaurant-says-no-to-pass-july-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c14f2b6a26402bcc06292c948b222a05.jpg}">
            <h5>
              <span>
                French Restaurant Says NO to Pass -July 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-makes-this-nation-special-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a8edca6ec438cf452b1572d47600f20d.jpg}">
            <h5>
              <span>
                What Makes This Nation Special -July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../wonder-drugs-dont-work-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4ab6286e01ed72fe5237cddee90f0518.jpg}">
            <h5>
              <span>
                Wonder Drugs Don't Work -July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../free-cuba-aug-10-2021">
          <div class="image">
            <img src="https://i.ytimg.com/vi/KUx-qixH96U/mqdefault.jpg">
            <h5>
              <span>
                Free Cuba! -Aug 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../naples-anti-pass-protest-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c1dfb5d93beb0a2c585749a6506e569f.jpg}">
            <h5>
              <span>
                Naples Anti Pass Protest - July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../torino-no-green-pass-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3b39bf120639a861b6a49936aeb76892.jpg}">
            <h5>
              <span>
                Torino "No Green Pass!" -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nice-firefighters-protest-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0486aaaca73fbf1a78121240be4f84ff.jpg}">
            <h5>
              <span>
                Nice Firefighters Protest -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../global-civil-war-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3ddc0f33fb1f182d994a2af1596f3f3d.jpg}">
            <h5>
              <span>
                Global Civil War -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../italian-parliament-no-green-pass-protest-jul-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/503efc13da7cb969be3f1f899cb6e298.jpg}">
            <h5>
              <span>
                Italian parliament - No Green Pass Protest - Jul 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lawyers-challenge-emergency-measures-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/03fd40afe0fab7e63cb4e613345d02dd.jpg}">
            <h5>
              <span>
                Lawyers Challenge Emergency Measures -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../paris-anti-pass-protest-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7105339b84bbbdda531a598726d671c2.jpg}">
            <h5>
              <span>
                Paris Anti Pass Protest -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../marseille-anti-pass-protest-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Marseille Anti Pass Protest -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../police-at-berlin-demo-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/701badb7cbe5f2242f87a900667d103c.jpg}">
            <h5>
              <span>
                Police at Berlin demo - Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../desantis-its-parents-decision-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1410e955f6666722fcb1af4ab7eac7c7.jpg}">
            <h5>
              <span>
                DeSantis "It's Parents Decision!" -Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australias-bad-joke-1-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d6ae9a2b96a674290675ff72a89a211e.jpg}">
            <h5>
              <span>
                Australia's Bad Joke 1-Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australias-bad-joke-2-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d92a82c534150a3151ff39f3f2663eff.jpg}">
            <h5>
              <span>
                Australia's Bad Joke 2 -Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../italians-burning-vax-passports-aug-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6aebe6873dd3ed31c7f5ef544976d67e.jpg}">
            <h5>
              <span>
                Italians burning vax passports - Aug 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../berlin-protesters-evade-police-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7c78ae7d686403d7856a5df57f671e59.jpg}">
            <h5>
              <span>
                Berlin Protesters Evade Police -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ted-nugent-on-freedom-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c93f05dc2ee6874c41969adfb98ef789.jpg}">
            <h5>
              <span>
                Ted Nugent on Freedom -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../trudeau-pushes-mandates-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/aa4b8bbadfc585765cd7263e8b6904bb.jpg}">
            <h5>
              <span>
                Trudeau Pushes Mandates -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../torino-protest-liberta-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d73647f2b93f2057c402e5b72acaa72a.jpg}">
            <h5>
              <span>
                Torino Protest "Liberta!" -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Mises vs Marx Rap 3 - Oct 2019

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>