---
title: "Compilation of police violating human rights -Feb 6 2021"
home_url: ../../../
page_title: "Compilation of police violating human rights -Feb 6 2021"
page_descr: "video.description"
all_vid_count: 169
vid_count: " "
top_right: " "
subcategory: "None"
category: "ethics"
template: "../../../video.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Canada-Protest-Rights-out-the-window--Feb-6-2021/de8b63a30a4e9e18844face5b3ccf42b55ce854d?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

--- name:carousel pipeline:erb
<span class="scat_in_cat">NONE<a href="../">&gt;&gt;&gt;</a></span>
<div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../fauci-changes-herd-immunity-standards-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c3ba8bf848b14c6190e4d0df518ad1d1.jpg}">
            <h5><span>Fauci changes Herd Immunity standards -Apr 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bespoke-facilities-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b811acfb31c503f55749440cedd2a59e.jpg}">
            <h5><span>"Bespoke facilities" -Feb 12 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ca-legal-attorney-says-we-will-not-turn-our-schools-into-vaccination-centres">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0baa2c0d2f2e2f624a8b982422102e2f.jpg}">
            <h5><span>CA legal attorney says "We will not turn our schools into vaccination centres"<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bobby-kennedy-jnr-gives-freedom-speech-in-berlin">
          <div class="image">
            <img src="https://i.ytimg.com/vi/2qvh-FniKw8/mqdefault.jpg">
            <h5><span>Bobby Kennedy Jnr gives 'Freedom speech' in Berlin<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bryce-mitchell-we-didnt-vote-for-that-nov-2-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5652e6acde4b7b47c36a415083b47ba9.jpg}">
            <h5><span>Bryce Mitchell We didn't vote for that - Nov 2, 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../calgary-airport-officials-no-comment-on-detaining-citizens-feb-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/583885fc92a82c80290df7114c0f3f37.jpg}">
            <h5><span>Calgary Airport officials no comment on detaining citizens- Feb 3, 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../artificial-intelligence-and-the-new-normal">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/da442e68c6f0443ae4805cc59c6657ba.jpg}">
            <h5><span>Artificial Intelligence & the New Normal<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../compilation-of-police-violating-human-rights-feb-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ada9ba83e2c43e2d0c35076ac267e5d4.jpg}">
            <h5><span>Compilation of police violating human rights -Feb 6 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
</div> 

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../thought-police"><button class="categories"><span class="categories">THOUGHT POLICE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../common-sense"><button class="categories"><span class="categories">COMMON SENSE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>