---
title: "Lockdowns Worse than Covid -July 30 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Ivor Cummins"
category: "alt media"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Lockdowns-Worse-than-Covid--July-30-2021/fdf4fae78bc99a4509eab536849d6a257583e347?r=JCPYgUuvKo7ystKXeRFm9ztHjP7gWnKZ" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">IVOR CUMMINS &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../lockdowns-worse-than-covid-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/28fa7d221322fcfc2f8b0631c7b74ccc.jpg}">
            <h5>
              <span>
                Lockdowns Worse than Covid -July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ivor-cummins-on-india-data-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8c9635e40c3d98110e73435fdb838a43.jpg}">
            <h5>
              <span>
                Ivor Cummins on India Data -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ivor-cummins-on-lockdown-efficacy-may-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/067d9626fc708d746daaaa474ae4eba1.jpg}">
            <h5>
              <span>
                Ivor Cummins on Lockdown Efficacy -May 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../winter-mortality-data-update-may-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5756bf8a2d13c02621382a105dd4333e.jpg}">
            <h5>
              <span>
                Winter Mortality Data Update -May 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ivor-cummins-plus-laura-dodsworth-on-fear-campaign-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/102cb1fa09428af218e4c063a926b2e7.jpg}">
            <h5>
              <span>
                Ivor Cummins+ Laura Dodsworth on Fear Campaign -May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ivor-cummins-plus-laura-dodsworth-on-mask-fear-campaign-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f4c3816069c4ad6b315deb81c07fc2b3.jpg}">
            <h5>
              <span>
                Ivor Cummins+ Laura Dodsworth on Mask Fear Campaign -May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../clinical-trial-confirms-masks-on-children-is-deadly-ivor-cummins">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9f6ed4217c63b38b7cfaaec89432378b.jpg}">
            <h5>
              <span>
                Clinical Trial Confirms Masks on Children is DEADLY! - Ivor Cummins<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../new-jama-study-on-mask-dangers-july-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cdcb1b3751f844d92fcfaa6e2d2c7d75.jpg}">
            <h5>
              <span>
                New! JAMA Study on Mask Dangers -July 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Lockdowns Worse than Covid -July 30 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>