/*! mono.css v1 | MIT License | Copyright 2017 @kokushing */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700");
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-size: 100%;
  line-height: 1.8;
}
a {
  color: #757575;
}
a:hover {
  text-decoration: none;
}
.inner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .inner {
    max-width: initial;
  }
}
hr {
  height: 0;
  border: 0;
  margin: 56px 0;
  box-sizing: content-box;
  overflow: visible;
  border-top: 1px solid #eee;
}
.header {
  padding: 80px 0;
}
.header p {
  margin: 32px 0 0;
}
.header-logo {
  display: inline-block;
  margin: 0;
  padding: 0 8px;
  font-size: 2rem;
  line-height: 1;
  background: #000;
  color: #fff;
}
.footer {
  padding: 80px 0;
}
.footer .inner {
  display: flex;
  align-items: center;
}
.menu {
  padding: 24px 0;
  background: #000;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .menu {
    padding: 0;
  }
}
.menu .inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .menu .inner {
    padding: 0 10px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
._center .menu .inner {
  justify-content: center;
}
.menu a {
  display: block;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .menu a {
    padding: 24px 10px;
  }
}
.menu a + a {
  margin: 0 0 0 32px;
}
@media screen and (max-width: 768px) {
  .menu a + a {
    margin: 0;
  }
}
