---
title: "M  Levitt explains curve fitting using real data"
home_url: ../../../
page_title: "M  Levitt explains curve fitting using real data"
page_descr: "video.description"
all_vid_count: 209
vid_count: " "
top_right: " "
subcategory: "More"
category: "science"
template: "../../../video.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe src="//www.youtube.com/embed/xYN8YiRAH48" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  </div>
</div>

--- name:carousel pipeline:erb
<span class="scat_in_cat">MORE<a href="../">&gt;&gt;&gt;</a></span>
<div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../m-levitt-short-videos-number-1-exponential-growth">
          <div class="image">
            <img src="https://i.ytimg.com/vi/3pxxFmwr_Kw/mqdefault.jpg">
            <h5><span>M Levitt short videos #1  Exponential Growth<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../m-levitt-number-2-concepts-of-curve-fitting">
          <div class="image">
            <img src="https://i.ytimg.com/vi/8XrLiLgUhKw/mqdefault.jpg">
            <h5><span>M  Levitt #2 Concepts of curve fitting<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../m-levitt-explains-curve-fitting-using-real-data">
          <div class="image">
            <img src="https://i.ytimg.com/vi/xYN8YiRAH48/mqdefault.jpg">
            <h5><span>M  Levitt explains curve fitting using real data<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cnn-a-teens-final-days-with-the-flu">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a633944c5a6297df8a3d9d22aeea4982.jpg}">
            <h5><span>CNN a teen's final days with the flu<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../biology-after-hamer-part-1">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5><span>Biology after Hamer - Part 1<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-levitt-on-excess-death-apr-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/48bed56a98ec41d16f66558d1d929ba2.jpg}">
            <h5><span>Prof Levitt on excess death -Apr 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
</div> 

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../thought-police"><button class="categories"><span class="categories">THOUGHT POLICE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../common-sense"><button class="categories"><span class="categories">COMMON SENSE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>