---
title: "NHS Vaccine Whistleblower p2 &quot;Designed to Mislead&quot; -Apr 15 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Whistleblower"
category: "protest"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/NHS-Vaccine-Whistleblower-designed-to-mislead-p2--Apr-15-2021/a6f1ad4d6971b6270aac08318909d2e2b2ad0c7d?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">WHISTLEBLOWER &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../nhs-vaccine-whistleblower-p2-designed-to-mislead-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ba20a8f23b1e6fb9830ed2f3a0b7acb0.jpg}">
            <h5>
              <span>
                NHS Vaccine Whistleblower p2 "Designed to Mislead" -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nhs-vaccine-whistleblower-p3-shut-up-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/df30bc1d7f08621c4cecee0be33b93da.jpg}">
            <h5>
              <span>
                NHS Vaccine Whistleblower p3 "Shut Up!" -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-feely-on-health-and-speaking-out-feb-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e602aecd8ffef3eee158978945052c90.jpg}">
            <h5>
              <span>
                Dr Feely on Health & Speaking Out -Feb 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../kary-mullis-wanted-to-unmask-fauci-may-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cacfc03e289ef669e21de44e2a5ee87f.jpg}">
            <h5>
              <span>
                Kary Mullis Wanted To Unmask Fauci -May 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../french-paramedic-massive-increase-in-deaths-and-jab-june-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b283f84b097ba9dee1bdb672f194cb2f.jpg}">
            <h5>
              <span>
                French Paramedic - Massive Increase in Deaths & Jab - June 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../russel-brand-on-government-and-the-threat-of-violence-apr-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ba9bbbb4aac4a395ae3a70e1b87e247c.jpg}">
            <h5>
              <span>
                Russel Brand on Government & the Threat of Violence -Apr 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../whistleblower-vax-adverse-reactions-not-recorded-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/556d5ccd3940378b62516a5ff4b0780a.jpg}">
            <h5>
              <span>
                Whistleblower "Vax Adverse Reactions Not Recorded" -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nurse-bullied-by-hospital-and-government-lies-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cb2c99908c68de6fcf994a7e9f3dfc56.jpg}">
            <h5>
              <span>
                Nurse Bullied By Hospital & Government Lies -June 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hospital-busy-with-vax-injuries-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/95632f4f5c7ad1e46a9b137b591aff35.jpg}">
            <h5>
              <span>
                Hospital Busy with Vax Injuries -June 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-warnings-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c81f449ef7af10b30743fb73b6a886e4.jpg}">
            <h5>
              <span>
                Vax Warnings -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../canadian-mp-on-authoritarian-overreach-and-misinformation-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ec2b606ad917f0b8e44bd284ba95c3a0.jpg}">
            <h5>
              <span>
                Canadian MP on Authoritarian Overreach & Misinformation -June 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../uk-doctor-resigns-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                UK Doctor Resigns -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ukcolumnnews-child-vaccine-victim-july-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e2133f493c991a640ed1762c3e2a6ede.jpg}">
            <h5>
              <span>
                UKColumnNews - child vaccine victim - July 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-truths-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0a54fb806822dfe7138d450968fd66b3.jpg}">
            <h5>
              <span>
                Vaccine Truths -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../wayne-cunnington-update-on-vaccine-injury-july-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cb7bf82821aa753a532ae7e203953260.jpg}">
            <h5>
              <span>
                Wayne Cunnington - Update on vaccine injury - July 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../gates-gavi-and-who-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8d0ad6741615fe709db24a5ec187bb81.jpg}">
            <h5>
              <span>
                Gates, GAVI & WHO -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../inventor-mrna-vaccines-and-safety-jul-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/228c1298db2aedccf8bfbe2a09ce645d.jpg}">
            <h5>
              <span>
                Inventor mRNA Vaccines &Safety -Jul 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nurse-on-vax-injuries-and-deaths-july-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8c208f529025c05db2df9bcfb2ac3931.jpg}">
            <h5>
              <span>
                Nurse on Vax Injuries & Deaths -July 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../whistle-blower-tells-of-jab-injury-tidal-wave-in-hospitals-july-31">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/097af0e3cb3dd1e3d2734c3a29216a19.jpg}">
            <h5>
              <span>
                Whistle-Blower Tells Of Jab Injury Tidal Wave In Hospitals - July 31<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hospital-whistleblower-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/37fc6dc6f3044826f6bd93bd0a2cd265.jpg}">
            <h5>
              <span>
                Hospital Whistleblower -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nurse-on-covid-patients-and-censorship-may-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e8b863f179cb2e6d57766b87d8fa8702.jpg}">
            <h5>
              <span>
                Nurse on Covid Patients & Censorship -May 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nhs-nurse-kirsty-miller-speaks-out-apr-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ddec352793b50b76a318ade0b797a4c1.jpg}">
            <h5>
              <span>
                NHS Nurse Kirsty Miller Speaks Out -Apr 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../school-nurse-masks-harm-kids-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/71e8a93fe210721e79a7e39b45f8653d.jpg}">
            <h5>
              <span>
                School Nurse "Masks Harm Kids" -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nhs-vaccine-whistleblower-p1-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fed376bcc75e9e7dbe16caeddcf5bbdc.jpg}">
            <h5>
              <span>
                NHS Vaccine Whistleblower p1 -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  NHS Vaccine Whistleblower p2 "Designed to Mislead" -Apr 15 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>