---
title: "Prof Bakhdi &quot;Zero Science&quot; –Mar 18 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Vaccine Science"
category: "vaccine"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Bakhdi-says-it%E2%80%99s-zero-science-%E2%80%93Mar-18-2021/fa30d0849ffbd825fbcd5b2b2b88c2693645dc06?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">VACCINE SCIENCE &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../prof-bakhdi-zero-science-mar-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7cd91dab31dfeaee0cfab46822625bc0.jpg}">
            <h5>
              <span>
                Prof Bakhdi "Zero Science" –Mar 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-trial-animals-all-got-sick-or-died-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/936d6412e5548e1f7b97a8eb66dae77a.jpg}">
            <h5>
              <span>
                Vaccine trial Animals All got Sick or Died –Mar 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mrna-technology-good-for-cancer-treatment-but-not-covid-jan-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8757368cde25579dfd3ea93cad6cd5de.jpg}">
            <h5>
              <span>
                mRNA technology good for cancer treatment but not Covid? Jan 29 2021 <span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../how-m-rna-differs-from-normal-vaccines-jan-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0ee819069fcb13cf83a63ea721919d5d.jpg}">
            <h5>
              <span>
                How m-RNA differs from normal vaccines - Jan 29 2021 <span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-kaufman-on-virus-isolation-apr-29-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bb7e6e4d0aa46a12e9604b3b1cff675e.jpg}">
            <h5>
              <span>
                Dr Kaufman on Virus Isolation -Apr 29 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../is-the-vaccine-efective-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/506e83fe04f91cbe3db170d2c56bb285.jpg}">
            <h5>
              <span>
                Is the Vaccine Efective? -May 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../geneticist-on-vax-blood-clotting-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c9e021da8bd7c26da68890dffa258c77.jpg}">
            <h5>
              <span>
                Geneticist on Vax Blood Clotting -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-fleming-on-vaccine-effectiveness-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/00900437fd361ee89881464f29baad68.jpg}">
            <h5>
              <span>
                Dr Fleming on Vaccine Effectiveness -June 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../professor-bhakdi-on-vax-dangers-to-ovaries-and-placenta-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5637275799445b070ad34ca6e3d1da5f.jpg}">
            <h5>
              <span>
                Professor Bhakdi on Vax Dangers to Ovaries & Placenta -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-hodkinson-on-vaccine-sterility-risks-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/062525d4a00b2a4d7441fd6b51e0bffa.jpg}">
            <h5>
              <span>
                Dr Hodkinson on Vaccine Sterility Risks -June 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../us-congressman-doesnt-want-the-vax-june-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1cac94ebe6f7079e4893be7177f97d10.jpg}">
            <h5>
              <span>
                US Congressman Doesn't Want the Vax -June 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-bridle-on-vaccine-spike-protein-dangers-june-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fb060f6d9af21ec9b60f757f9d125f6b.jpg}">
            <h5>
              <span>
                Dr Bridle on Vaccine Spike Protein Dangers -June 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-mccullough-on-vaccine-spike-protein-dangers-june-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e937fdf715f5501198aed63fb8cfd6d4.jpg}">
            <h5>
              <span>
                Dr McCullough on Vaccine Spike Protein Dangers - June 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-martin-whats-in-vaccines-is-a-manufactured-illusion-dot-july-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d467120ee5ca5c5ac0cf91d900bac55e.jpg}">
            <h5>
              <span>
                Dr. Martin "What's in vaccines is a manufactured illusion." - July 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-inventor-we-dont-know-the-risks-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c2455dd24c41354b13884c56f0fc5cc3.jpg}">
            <h5>
              <span>
                Vax Inventor "We Don't Know the Risks" -June 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-kory-on-ivermectin-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/535e45293603d0e806945f56dfcac23f.jpg}">
            <h5>
              <span>
                Dr Kory on Ivermectin -June 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-malone-on-fda-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/482d8c6c88b65fc57276e3e8d8ee58c9.jpg}">
            <h5>
              <span>
                Dr Malone on FDA -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mit-scientist-on-vaccine-risks-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2ff093b6a394d09d7dfc08aae32101d4.jpg}">
            <h5>
              <span>
                MIT Scientist on Vaccine Risks -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../del-bigtree-summarizes-vax-dangers-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/828c0ecc694f43ed6c57b1b0be516112.jpg}">
            <h5>
              <span>
                Del Bigtree Summarizes Vax Dangers -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-wolfgang-wodarg-and-whitney-webb-on-gene-modification-therapy-july-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e85f8725adc067caf931f9380675b4d0.jpg}">
            <h5>
              <span>
                Dr. Wolfgang Wodarg & Whitney Webb on gene modification therapy - July 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-malone-on-vax-risk-benefit-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/279399ec65eedbe7ce6a7ea4b143091d.jpg}">
            <h5>
              <span>
                Dr Malone on Vax Risk Benefit -July 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-truths-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0a54fb806822dfe7138d450968fd66b3.jpg}">
            <h5>
              <span>
                Vaccine Truths -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../israel-vax-doesnt-work-july-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4c3e16a876bea1deb1be4c19564217e7.jpg}">
            <h5>
              <span>
                Israel Vax Doesn't Work -July 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../inventor-mrna-vaccines-and-safety-jul-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/228c1298db2aedccf8bfbe2a09ce645d.jpg}">
            <h5>
              <span>
                Inventor mRNA Vaccines &Safety -Jul 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-malone-vax-dangers-and-group-think-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c4d502a10fdb1799364798348168f6fe.jpg}">
            <h5>
              <span>
                Dr Malone Vax Dangers & Group Think -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../italian-mp-fights-for-freedom-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/21a7b5c65547b067a9bcb9e619b73e1a.jpg}">
            <h5>
              <span>
                Italian MP Fights for Freedom -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cdcs-vax-flip-flop-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d910a255edafa33fc5b75fb696b07f57.jpg}">
            <h5>
              <span>
                CDC's Vax Flip Flop -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dangers-of-vaccination-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e8fab4e1675374fa95d3c35f298337c1.jpg}">
            <h5>
              <span>
                Dangers of Vaccination -Feb 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../the-tale-of-the-rat-jan-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/77b1e7a65456623986f81bc6370d9680.jpg}">
            <h5>
              <span>
                The Tale of the Rat -Jan 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mrna-tech-pros-and-cons-jan-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a99c4d0eebc016e755eb051dec4469b9.jpg}">
            <h5>
              <span>
                mRNA Tech Pros & Cons -Jan 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-coleman-on-vaccine-safety-feb-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/61f619d8e05f33274d196d4bb060564a.jpg}">
            <h5>
              <span>
                Dr Coleman on Vaccine Safety -Feb 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-bhakdi-vaccine-benefits-and-risks-mar-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e4b5a6a1e19a32c79a8991a342369ed6.jpg}">
            <h5>
              <span>
                Prof Bhakdi Vaccine Benefits & Risks -Mar 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../del-bigtree-on-vaccine-risks-apr-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0e96a5c022f5e2b8b7265ff5e46bb162.jpg}">
            <h5>
              <span>
                Del Bigtree on Vaccine Risks -Apr 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rfk-jr-and-del-bigtree-on-covid-vaccine-july-7-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/520d0bc05699b2ad4b701a8eb8a2a236.jpg}">
            <h5>
              <span>
                RFK Jr. & Del Bigtree on Covid Vaccine -July 7 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-bhakdi-taught-this-for-40-years-may-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f8fa94e5fe256eaf4582260ca041ab25.jpg}">
            <h5>
              <span>
                Prof Bhakdi taught this for 40 Years -May 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-schmidt-kruger-the-tale-of-the-rat-jan-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/366aeaaf64f846f92c9c98a03adc2ed1.jpg}">
            <h5>
              <span>
                Dr Schmidt-Krüger "The tale of the Rat" - Jan 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Prof Bakhdi "Zero Science" –Mar 18 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>