---
title: "Motives of Biden Censorship -July 17 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Covid Divide"
category: "protest"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Ca61%2BWhycensortexts-July172021-1/28fbc163ccecdc107802f5e417afba119327074d?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">COVID DIVIDE &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../motives-of-biden-censorship-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Motives of Biden Censorship -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-divide-on-the-train-july-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3c24031d6d2ae92ae2d1e8b8721e021b.jpg}">
            <h5>
              <span>
                Covid Divide on the Train -July 16 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../french-restaurant-says-no-to-pass-july-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c14f2b6a26402bcc06292c948b222a05.jpg}">
            <h5>
              <span>
                French Restaurant Says NO to Pass -July 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../you-dont-care-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/970c771434c48743ab0c9729c2308dd2.jpg}">
            <h5>
              <span>
                You Don't Care! -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../citizens-stand-up-to-police-and-explain-covid-truths-feb-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c24dad95615cd6e9e529bd47022f761c.jpg}">
            <h5>
              <span>
                Citizens stand up to police & explain covid truths -Feb 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../citizens-stand-up-to-police-mar-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b513bea79a8aefa3e473b47d3b32fb8b.jpg}">
            <h5>
              <span>
                Citizens stand up to Police –Mar 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-officials-kicked-out-of-restaurant-apr-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fd18a2a36095ef6eefdb808f6cb9705f.jpg}">
            <h5>
              <span>
                Covid Officials Kicked Out of Restaurant -Apr 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../girls-without-mask-mar-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/50f1e723f955f87a459fb0e27654221e.jpg}">
            <h5>
              <span>
                Girls Without Mask –Mar 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../do-you-believe-in-covid-mar-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c3d8d24336a848c21238661b6629c2f4.jpg}">
            <h5>
              <span>
                "Do you Believe in Covid?" -Mar 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../new-normal-ethics-and-medical-tyranny-apr-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3d7215c5866fb10e0639328dc83528d1.jpg}">
            <h5>
              <span>
                New Normal Ethics & Medical Tyranny -Apr 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../pub-owner-to-keir-starmer-get-out-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d2d0d2ba48ee06bc5ef04cd9b29d4a22.jpg}">
            <h5>
              <span>
                Pub Owner to Keir Starmer "Get Out!" -Apr 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../pub-owner-to-keir-starmer-you-failed-this-country-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e9a96ef77943664cf356962ec1f0bb4e.jpg}">
            <h5>
              <span>
                Pub Owner to Keir Starmer "You Failed This Country!"-Apr 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hilary-jones-mistreats-guest-for-opposing-lockdowns-apr-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a12282ead06669fd259250eb3b1ae0de.jpg}">
            <h5>
              <span>
                Hilary Jones Mistreats Guest for Opposing Lockdowns -Apr 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../msm-reporter-and-mask-logic-may-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d9bd8f688c46a9d01833f8a23418fa5c.jpg}">
            <h5>
              <span>
                MSM reporter & Mask Logic -May 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../none-of-your-business-may-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9429d607d948438cdd527b01a6b9d168.jpg}">
            <h5>
              <span>
                "None of your Business!" -May 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mask-logic-may-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/00a8031d11888fb95e8d383b4bfb4219.jpg}">
            <h5>
              <span>
                Mask Logic -May 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ozzy-bbq-protest-feb-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0865fa6b432ad5bf3dcf068ed28e6ac9.jpg}">
            <h5>
              <span>
                Ozzy BBQ Protest -Feb 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../talking-down-the-london-police-may-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/20d0ee28f78897c7563a82549ba4be73.jpg}">
            <h5>
              <span>
                Talking Down the London Police -May 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../government-guidelines-make-sure-you-keep-up-the-act-feb-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/23b53ab6bc77065eb407a2bc779961f3.jpg}">
            <h5>
              <span>
                Government Guidelines "Make Sure You Keep Up The Act" -Feb 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-is-individual-choice-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/48a761817131aa3053ca412c461cda45.jpg}">
            <h5>
              <span>
                "Vaccine is Individual Choice" -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nicola-spurrier-avoids-questions-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/81e93e0f9647df61a96b640a04ba844d.jpg}">
            <h5>
              <span>
                Nicola Spurrier Avoids Questions -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../chris-kenny-sky-news-questions-lockdowns-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1988acd25a997d30bdbbeba557cb1cfa.jpg}">
            <h5>
              <span>
                Chris Kenny Sky News Questions Lockdowns -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mistrust-of-government-is-growing-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b3a9c0033bbf4b1dc43df03cb0a653c1.jpg}">
            <h5>
              <span>
                Mistrust of Government is Growing -June 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Motives of Biden Censorship -July 17 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>