---
title: "&quot;Have Our Kids Not Suffered Enough?&quot; -Feb 23 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "TalkRadio"
category: "alt media"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Have-our-kids-not-suffered-enough-Feb-23-2021/785227a778abe3c840dc7ddd6ac45a0e55e92ae8?r=8WbC57z5HFN9m8cuhY31p6wv6bHj575h" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">TALKRADIO &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../have-our-kids-not-suffered-enough-feb-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2aaecc00f4846de4d5da24fd954c3879.jpg}">
            <h5>
              <span>
                "Have Our Kids Not Suffered Enough?" -Feb 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-heneghan-on-doomsday-predictions-nov-2-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6b7edd043cdfe0b214361f809daf851f.jpg}">
            <h5>
              <span>
                Prof Heneghan on Doomsday Predictions -Nov 2 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-pollard-covid-tests-in-schools-should-be-scrapped-june-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0bf4479ce8f67e67f522e1c54ec3438d.jpg}">
            <h5>
              <span>
                Prof Pollard "Covid Tests in Schools Should Be Scrapped!" -June 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../450-per-day-die-of-cancer-june-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c7a6a16ac86bb767b42f56e6cf11414e.jpg}">
            <h5>
              <span>
                "450 per Day Die of Cancer" -June 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-lawrie-on-vaccine-deaths-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1781cb1bbad076779d7cbe6d1c22485b.jpg}">
            <h5>
              <span>
                Dr Lawrie on Vaccine Deaths -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-craig-on-mask-efficacy-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2692dd28da3670d80dd60db14fac88bd.jpg}">
            <h5>
              <span>
                Dr Craig on Mask Efficacy -July 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-salmon-lockdowns-did-not-protect-the-vulnerable-apr-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b09216ef4e1d969131126439bee12bb8.jpg}">
            <h5>
              <span>
                Dr Salmon "Lockdowns did Not Protect the Vulnerable" -Apr 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-salmon-questions-the-label-expert-apr-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b89fd885ab1cd92d4796f9da2eb31db5.jpg}">
            <h5>
              <span>
                Dr Salmon Questions the Label "Expert" -Apr 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-sikora-pandemic-is-over-may-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6bfb11f7d4aae9b6c14e706bcd41c9e1.jpg}">
            <h5>
              <span>
                Prof Sikora "Pandemic is Over" -May 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../right-said-fred-no-to-vax-passports-may-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7363e2d107fa4fe8c49537becfec82b1.jpg}">
            <h5>
              <span>
                Right Said Fred "No to Vax Passports" -May 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../chef-tonia-buxton-questions-fear-agenda-may-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dd3c60b881135766bcab7c625dbd0710.jpg}">
            <h5>
              <span>
                Chef Tonia Buxton Questions Fear Agenda -May 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-zero-is-britain-zero-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a3aa68836dd13c511ff1671a6b69df54.jpg}">
            <h5>
              <span>
                "Covid-Zero is Britain-Zero" -Feb 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../we-must-debate-the-measures-feb-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d4ae758aae26ae72f5aa7fef96976fe7.jpg}">
            <h5>
              <span>
                "We Must Debate the Measures"-Feb 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hitchens-thanking-big-brother-for-a-beer-apr-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a380a52f0a542963424267734191b115.jpg}">
            <h5>
              <span>
                Hitchens "Thanking Big Brother for a Beer" -Apr 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../harvard-prof-vaccine-passports-not-needed-apr-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dbb4f05b1d0d97b8ada3e208486e4923.jpg}">
            <h5>
              <span>
                Harvard Prof Vaccine Passports not needed -Apr 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-livermore-says-vaccine-pass-not-needed-apr-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/40384a16b113ca21d38dde78aa2d382f.jpg}">
            <h5>
              <span>
                Prof Livermore says Vaccine Pass not needed -Apr 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../i-dont-need-advice-how-to-live-my-life-apr-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0bcd68cd627921550bebab7ecf673938.jpg}">
            <h5>
              <span>
                "I Don't Need Advice how to live My Life" -Apr 14 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../experts-say-covid-test-is-unreliable-mar-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c3cee3cc909c8ffed7bcb89b43e2a1e2.jpg}">
            <h5>
              <span>
                Experts say Covid Test is Unreliable -Mar 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nandy-vaccines-wont-end-lockdowns-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2998d77a2da0687b4aaba303e4625fd7.jpg}">
            <h5>
              <span>
                Nandy: Vaccines Won't End Lockdowns -Apr 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-craig-lockdowns-dont-work-may-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5995461bcafe9f7eee19e18472037a60.jpg}">
            <h5>
              <span>
                Dr Craig "Lockdowns Don't Work" -May 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nhs-dr-lee-government-not-looking-out-for-people-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/33be2752acc9133cb3a2fa22b97cee0f.jpg}">
            <h5>
              <span>
                NHS Dr Lee "Government Not Looking Out For People" -May 28 2021.<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lord-sumption-on-dishonest-government-propaganda-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0099a2ee06fdc0062673d974072dbe04.jpg}">
            <h5>
              <span>
                Lord Sumption on "Dishonest Government Propaganda" -May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rich-and-powerful-dont-need-to-isolate-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e0d08c532041789b19c21056dc3f1fc7.jpg}">
            <h5>
              <span>
                Rich & Powerful Don't Need to Isolate -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../surprise-2-more-weeks-of-lockdown-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2044dd7eded3b978922f5f9384ee2958.jpg}">
            <h5>
              <span>
                Surprise: 2 More Weeks of Lockdown! -June 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../i-dont-think-taking-freedoms-is-funny-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4be54d29f6175e71e1c6cf64f03f38c2.jpg}">
            <h5>
              <span>
                "I Don't Think Taking Freedoms is Funny" -June 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  "Have Our Kids Not Suffered Enough?" -Feb 23 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>