html{
/*  font-size: 62.5%; */
  font-size: 100.%;
}
.centered {text-align: center;}
.bold {font-weight: bold;}
.show_border {
  border-style: dotted;
  border-width: 5px;
}
.no_margin {
  margin: 0px 0px 0px 0px;
}
.no_padding {
  padding: 0px 0px 0px 0px;
}
div.centered {margin: auto;}
.responsive {
          width: 100%;
          max-width: 400px;
          height: auto;
 }
.categories {
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
  font-size: 0.8rem;
}
.categories button{
  background-color: #f5f5f5;
}
._header{
  margin-top: -2rem;
  margin-left: 0rem;
  padding-left: 0rem;
  padding-top: 0rem;
}

span.logo{
  padding-top: -4rem;
  margin-bottom: -2.5rem;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: #ff6600;
  vertical-align: middle;
}
a:link{
  text-decoration: none;
}
span.tall{
  font-size: 3.5rem;
  color: black;
}
span.top_right{
  float: right; 
}
.nav_menu{
  margin-top: -1.6rem;
  margin-left: 0.5em;
  font-size: 1.5rem;
  font-weight: 900;
  color: black;
}
.cat_name{
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: -1rem;
  padding-bottom: 0;
}
.vid_count{
  margin-top: -1.5rem;
}
.cat_descr{
  padding-top: 0;
  font-size: 1rem;
  font-weight: 900;
}
.scat_in_cat{
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: -1rem;
  margin-left: 1rem;
}
.grid_wrap {
  margin-left: 1rem;
  margin-right: 1rem;
}
.grid {
  margin: 0 auto;
}
div .splide{
  margin-top: 5rem;
  margin-left: 5rem;
}
.splide__slide img {
  width : 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}
.image img{ 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image h5 { 
   position: absolute; 
   top: 110px; 
   left: 0; 
   width: 80%; 
}

.image h5 span { 
   color: white; 
   font: bold 1rem;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.2);
   padding: 0.3rem; 
}
h5 span.spacer {
   padding:0 5px;
}
.play_video{
  text-align: center;
  width: 60%;
  margin: auto;
  padding-bottom: 2rem;
}
.play_video::after
{
  content: attr(dafr);
  display: block;
  position: absolute;
        right: 150px;
        top: 260px;
  font-weight: 800;
}

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.about p
{
font-weight: 50;
}
