<section>
<p>
  <% form @page, action: page_create_route, :method=>:post, enctype: "multipart/form-data" do |f| %>
    <%= csrf_tag(csrf_path(page_create_route)) %>
    <%=   f.input :content, :type=>"textarea", :class=>"u-full-width" %>
  <%=   f.button "Save" %>
  <% end %>
</p>
</section>
