
<%= partial("header") %>

<h2> Check information below and edit as needed </h2>
<p style="font-size:18px">

Click and drag on the bottom right of the form to
change its size.
</p>

<% page_create_route="/roda/pages/#{@page.title}" %>
<%= partial("pages/edit_form", locals: {page_create_route: page_create_route}) %>
