<%= partial("header") %>

<h2> Check information below and edit as needed </h2>

<% form(@subcategory, action: subcategory_modify_route,:method=>:post)  do |f| %>
  <%= csrf_tag(csrf_path(subcategory_modify_route)) %>
  <%= f.input :name %>
  <%= f.input :description, label: "Brief description", class: "u-full-width" %>
  <%= f.button "#{subcategory_modify_action} subcategory" %>
<% end %>

<%= partial("categories/subcategories/footer")%>
