<% f = Forme::Form.new %>
<%= f.open(:action=>subcat_change_route, :method=>:post) %>
    <%= csrf_tag(csrf_path(subcat_change_route)) %>
  <% (1..5).to_a.each do |i| %>
    <div class="row">
      <div class="three columns">
        <%= f.input(:text, :label=>"Subcategory#{i}", :name=>"subcat#{i}") %>
      </div>
      <div class="nine columns">
        <%= f.input(:text, :label=>"Description", :name=>"subcat_desc#{i}",
        :class=>"u-full-width") %>
      </div>
    </div>
  <% end %>
  <%= f.button(:value=>'Submit') %>
<%= f.close %>

