
<% subcategory_modify_route="/roda/categories/#{@category.id}/subcategories/#{@subcategory.id}/delete" %>
<% subcategory_modify_action="Delete" %>

<%= 
     partial("categories/subcategories/modify_form", 
     locals: {subcategory_modify_route: subcategory_modify_route, 
             subcategory_modify_action: subcategory_modify_action}) 
%>

