<%= partial("header") %>

<h2> Check information below and edit as needed </h2>

<% subcat_update_route="/roda/categories/#{@category.id}/subcategories/#{@subcategory.id}/update" %>

<section>
  <% form @subcategory, action: subcat_update_route, method: "post" do |f| %>
    <%= csrf_tag(csrf_path(subcat_update_route)) %>
        <%=   f.input :name, label: "Name of subcategory" %>
        <%=   f.input :description, label: "Brief description", class: "u-full-width" %>
    <%=   f.button "Update Subcategory" %>
<% end %>
</section>

<%= partial("categories/subcategories/footer")%>
