<a href=/roda/videos>
  <button type="button">
    All videos
  </button>
</a>
<a href=/roda/categories>
  <button type="button">
    All categories
  </button>
</a>

<%video=Video[@vid]%>
<h1> Unlinking video </h1>

<b>Category:</b> <%=@category.name%>
<br>
<b>Subcategory:</b> <%=@subcategory.name%>
<br>
<b>Title:</b> <%=video.title%> 


<%request_path="/roda/categories/#{@category.id}/subcategories/#{@subcategory.id}/unlink_video?vid=#{@vid}" %>

<% form(video, action: request_path,:method=>:post)  do |f| %>
<%= csrf_tag(csrf_path(request_path)) %> 
<%=   f.button "Unlink video" %>
 Confirm that you wish to proceeed with this action
<%end%>
