<% cid = @category.id %>
<% scid = @subcategory.id %>
<% subcategory_videos = @subcategory.videos %>

<a href=/roda/categories>
  <button type="button">
    All categories
  </button>
</a>
<a href=/roda/categories/<%=cid%>/subcategories>
  <button type="button">
    Sub-categories for <%=@category.name %> 
  </button>
</a>
<% if subcategory_videos.empty? %>
  <h2> No videos for 
    Videos under 
    Category <cite><q> <%= @category.name %> </q></cite> 
    and 
    sub-category 
    <q><cite> <%= @subcategory.name %> </cite></q>
  </h2>
<% else %>
  <h2> 
    Videos under 
    Category <cite><q> <%= @category.name %> </q></cite> 
    and 
    sub-category 
    <q><cite> <%= @subcategory.name %> </cite></q>
  </h2>
  <table>
    <tr>
      <th> Title </th>
      <th colspan="1"> Actions </th>
    </tr>
    <% subcategory_videos.each do |video| %>
      <tr>
        <td>
         <a href=/roda/videos/<%=video.id%>/show><%= video.title %></a>
        </td>
        <td>
          <a href=/roda/categories/<%=cid%>/subcategories/<%=scid%>/unlink_video?vid=<%=video.id%>>
          <button type="button">
            Unlink video
          </button></a>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
