---
title: "Prof Ioannidis on Lockdown Fallacies -July 8 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Death Numbers"
category: "science"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Prof-Ioannidis-on-Lockdown-Fallacies--July-8-2021/18d9b789146b66657644931cc61a40f2c3082900?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">DEATH NUMBERS &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../prof-ioannidis-on-lockdown-fallacies-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9a8298d479199cf3919d758ec6d57632.jpg}">
            <h5>
              <span>
                Prof Ioannidis on Lockdown Fallacies -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../who-dies-from-covid-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9a16bdfdfe3bc9456532f0b9efad963b.jpg}">
            <h5>
              <span>
                Who Dies from Covid? -July 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ilana-rachel-daniel-on-vax-in-israel-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/47f930205c715395b71113bfb33f393c.jpg}">
            <h5>
              <span>
                Ilana Rachel Daniel on Vax in Israel -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cdc-unelected-head-of-state-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f0a38f208621b54c29df9d9af8a7c0e7.jpg}">
            <h5>
              <span>
                CDC Unelected Head of State? -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../delta-wave-scare-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Delta Wave Scare -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../i-know-when-your-lying-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8868a0be9b5b0943610b9b3d3d5e2ac4.jpg}">
            <h5>
              <span>
                I Know When Your Lying -July 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../sen-paul-on-delta-variant-and-groupthink-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/05ab05bd49202d54fdfd0d70a155ac31.jpg}">
            <h5>
              <span>
                Sen Paul on Delta Variant & GroupThink -July 30 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../hospital-whistleblower-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/37fc6dc6f3044826f6bd93bd0a2cd265.jpg}">
            <h5>
              <span>
                Hospital Whistleblower -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-jensen-i-wonder-why-feb-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5>
              <span>
                Dr Jensen "I wonder why" -Feb 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-misattribution-of-death-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3742d213006e66f068bdc2cbd8a72158.jpg}">
            <h5>
              <span>
                Covid Misattribution of Death –Mar 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-craig-misattribution-of-deaths-mar-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/33cbfe46c40b0e9ae110888a17c066f4.jpg}">
            <h5>
              <span>
                Dr Craig  "Misattribution of Deaths –Mar 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-jensen-on-data-corruption-mar-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4e050643674e92745c4c498219b10b7e.jpg}">
            <h5>
              <span>
                Dr Jensen on "Data Corruption" –Mar 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-jensen-on-misattribution-of-deaths-mar-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/59429a334abaa6575eb873293a294809.jpg}">
            <h5>
              <span>
                Dr Jensen on Misattribution of Deaths –Mar 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../funeral-home-director-says-keep-questioning-apr-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9868cbdda5fbb4a3144f1848cfcc35d0.jpg}">
            <h5>
              <span>
                Funeral Home Director says "Keep Questioning" -Apr 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../doctors-on-new-cdc-death-guidelines-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e5039b1a48517a97ea65cde2cb8d3801.jpg}">
            <h5>
              <span>
                Doctors on New CDC Death Guidelines -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../india-crematoriums-overwhelmed-or-not-may-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/21b9177816813f234d404e90532d15e9.jpg}">
            <h5>
              <span>
                India Crematoriums: Overwhelmed or Not? -May 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-is-a-covid19-death-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f2935b0672ddd5ca387dcd72eeed01f3.jpg}">
            <h5>
              <span>
                What is a Covid19 Death -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-exactly-is-a-covid19-death-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/595212a854591d1b35025cbc41851818.jpg}">
            <h5>
              <span>
                What exactly is a Covid19 Death? -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../accuracy-of-covid-death-numbers-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cf2fe88ed50f1ed7097372000c90512d.jpg}">
            <h5>
              <span>
                Accuracy of Covid Death Numbers -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../anyone-ever-tested-positive-is-counted-as-covid-death-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bda0605e132fbbd17d9989ebfe2dc9b7.jpg}">
            <h5>
              <span>
                Anyone Ever Tested Positive is Counted as Covid Death -Feb 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../winter-mortality-data-update-may-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5756bf8a2d13c02621382a105dd4333e.jpg}">
            <h5>
              <span>
                Winter Mortality Data Update -May 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ron-paul-why-this-push-to-vaccinate-kids-may-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/90378b158388ced44f54a275c1ec143c.jpg}">
            <h5>
              <span>
                Ron Paul "Why This Push To Vaccinate Kids" -May 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-kohnlein-ask-the-undertakers-oct-27-2020dr-kohnlein-ask-the-undertakers-oct-27-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/155eb87ce790ed7ade9ae4abe8b65bdd.jpg}">
            <h5>
              <span>
                Dr Köhnlein "Ask the Undertakers" -Oct 27 2020Dr Köhnlein "Ask the Undertakers" -Oct 27 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../us-senate-under-reporting-of-vaccine-deaths-june-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/40a7a6f3c873a45aa2be01093a2a2b75.jpg}">
            <h5>
              <span>
                US Senate: Under-Reporting of Vaccine Deaths -June 3 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-mccullough-vaccine-injury-data-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d071d56fbb3f075b22cd92795a9ec699.jpg}">
            <h5>
              <span>
                Dr McCullough Vaccine Injury Data -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-death-counting-changes-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/deb632e4cd592e6e03f98fc83d93e118.jpg}">
            <h5>
              <span>
                Covid Death Counting Changes -June 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-kendrick-half-of-excess-deaths-are-result-of-lockdown-mar-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e0475f804530d9ec0b8f64a7567a1615.jpg}">
            <h5>
              <span>
                Dr Kendrick "Half of Excess Deaths are Result of Lockdown" –Mar 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../death-graphs-post-vaccine-apr-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a4a2d0c4070e68685659cd50ddb754ec.jpg}">
            <h5>
              <span>
                Death Graphs Post Vaccine -Apr 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-heneghan-on-doomsday-predictions-nov-2-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6b7edd043cdfe0b214361f809daf851f.jpg}">
            <h5>
              <span>
                Prof Heneghan on Doomsday Predictions -Nov 2 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-death-recount-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5ea14b8eaa453b73051addd44ca9faea.jpg}">
            <h5>
              <span>
                Covid Death Recount -July 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-had-malice-intent-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2125fd705972b43dbcc2ea667519da5c.jpg}">
            <h5>
              <span>
                "Fauci Had Malice Intent" -June 29 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Prof Ioannidis on Lockdown Fallacies -July 8 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>