---
title: "Injuries &amp; Death"
home_url: ../../
page_title: "INJURIES &amp; DEATH"
all_vid_count: 1239
top_right: " "
template: "../../default.template"
---

<div class="grid_wrap">
<div class="grid">
   <div class="grid-item">
    <a href="./cna-skelton-warns-about-vaccine-side-effects-jan-15-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/774d9f7f1317551b70167ec8b8efb530.jpg}">
        <h5><span>CNA Skelton warns about Vaccine side effects -Jan 15 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-dies-of-vaccine-pfizer-denies-feb-14-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/8ed14a698f8066c79fe0125897e53455.jpg}">
        <h5><span>Dr Dies of Vaccine, Pfizer Denies -Feb 14 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./15-year-old-dies-from-pfizer-vaccine-may-3-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/327b39c230fefdcc4bdc0cf1a4d847a8.jpg}">
        <h5><span>15-Year-Old Dies from Pfizer Vaccine -May 3 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./12-year-old-covax-injured-child-apr-15-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/90f3a2fc7890713e0846824756b47bd8.jpg}">
        <h5><span>12 year old COVAX Injured Child -Apr 15 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./paralyzed-after-vaccine-may-9-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/dce3dbbc46fba762d8138b8330766650.jpg}">
        <h5><span>Paralyzed after Vaccine -May 9 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./woman-paralyzed-after-pfizer-vaccine-apr-25-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b64ef3090840e35e2b321a56aab8b8d8.jpg}">
        <h5><span>Woman Paralyzed After Pfizer Vaccine -Apr 25 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./baby-died-after-8-vaccines-feb-9-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ea83feb2ea189de4a58a6b64ba18cbc4.jpg}">
        <h5><span>Baby Died After 8 Vaccines -Feb 9 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./az-vaccine-disables-elderly-woman-mar-8-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/eec6c368d455ec8c85126a377e658f83.jpg}">
        <h5><span>AZ Vaccine Disables Elderly Woman –Mar 8 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./my-mum-had-the-vaccine-may-19-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/cd4f38cf4a1930cd24d22c3eb75e2e68.jpg}">
        <h5><span>My Mum had the Vaccine -May 19 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./vaccine-deaths-compilation-apr-18-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c3e147ed073f566b8b292ef84bdb4cf0.jpg}">
        <h5><span>Vaccine Deaths Compilation -Apr 18 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./pfizer-vaccine-kills-granny-may-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/322dc04b8969de80f98f746ef8f7816c.jpg}">
        <h5><span>Pfizer Vaccine kills Granny! -May 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./vaccine-nightmare-may-19-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/3060d13a6d2a182cbb9b2f4d222ef958.jpg}">
        <h5><span>Vaccine Nightmare -May 19 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./jeanie-evans-dies-following-vaccine-msm-casts-doubt-may-27-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/3df2251f0481ed533439d60967b4e7c9.jpg}">
        <h5><span>Jeanie Evans Dies Following Vaccine, MSM Casts Doubt -May 27 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./harsh-reality-of-vaccines-may-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/5e94a5ffc221442acdab0dc060b7d28f.jpg}">
        <h5><span>"Harsh Reality of Vaccines" -May 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./us-senate-under-reporting-of-vaccine-deaths-june-3-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/40a7a6f3c873a45aa2be01093a2a2b75.jpg}">
        <h5><span>US Senate: Under-Reporting of Vaccine Deaths -June 3 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-mccullough-vaccine-dangerous-for-kids-june-2-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/619d95bdc21dcd6c15b83ed8987e10fd.jpg}">
        <h5><span>Dr McCullough "Vaccine Dangerous for Kids" -June 2 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-mccullough-vaccine-injury-data-june-4-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/d071d56fbb3f075b22cd92795a9ec699.jpg}">
        <h5><span>Dr McCullough Vaccine Injury Data -June 4 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./french-paramedic-massive-increase-in-deaths-and-jab-june-3-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b283f84b097ba9dee1bdb672f194cb2f.jpg}">
        <h5><span>French Paramedic - Massive Increase in Deaths & Jab - June 3 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./if-something-happens-to-you-dot-dot-dot-mar-5-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/00541b316361dec62078389f5bb4775d.jpg}">
        <h5><span>"If Something Happens to You..." –Mar 5 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./death-graphs-post-vaccine-apr-22-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a4a2d0c4070e68685659cd50ddb754ec.jpg}">
        <h5><span>Death Graphs Post Vaccine -Apr 22 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./educational-short-is-the-vaccine-safe-may-20-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/48be7e7c25b50b01491506a4d1e3d3a2.jpg}">
        <h5><span>Educational Short: Is the Vaccine Safe? -May 20 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./what-is-in-the-vaccine-may-20-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ae65914b96f4d029fdd3b39830db9404.jpg}">
        <h5><span>What is in the Vaccine? -May 20 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./my-vax-adverse-reactions-june-6-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ab932dc5f390dc40f79492221b02f65c.jpg}">
        <h5><span>My Vax Adverse Reactions -June 6 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./my-mother-died-from-moderna-vaccine-june-6-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/32087b89d3c605f54c2cede9beb400bb.jpg}">
        <h5><span>My Mother Died From Moderna Vaccine -June 6 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-bartlett-no-covid-patients-only-vax-adverse-reactions-june-6-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/2931534e06f4d166e79751a68dcca25e.jpg}">
        <h5><span>Dr Bartlett "No Covid Patients, Only Vax Adverse Reactions" -June 6 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./hospital-busy-with-vax-injuries-june-9-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/95632f4f5c7ad1e46a9b137b591aff35.jpg}">
        <h5><span>Hospital Busy with Vax Injuries -June 9 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./vaccine-side-effects-and-questions-june-10-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/13643030eda576e2624f4d42f4de9932.jpg}">
        <h5><span>Vaccine Side Effects & Questions -June 10 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-fleming-on-vaccine-injuries-june-11-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/blank.png}">
        <h5><span>Dr Fleming on Vaccine Injuries -June 11 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./animal-vaccine-testing-and-results-june-11-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/5abce113bcc805a92797e8fb9a2f464c.jpg}">
        <h5><span>Animal Vaccine Testing & Results -June 11 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./professor-bhakdi-on-vaccines-and-pregnancy-june-12-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/9460c6ac623e60f1d1f379eefc38d932.jpg}">
        <h5><span>Professor Bhakdi on Vaccines & Pregnancy -June 12 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./professor-bhakdi-this-is-another-level-of-criminality-june-12-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/84d740bd14a96e74051f1423c891fa98.jpg}">
        <h5><span>Professor Bhakdi "This Is Another Level of Criminality" -June 12 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./my-stepson-died-from-vaccine-june-12-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/3e6312b6345265c020209de75a50c167.jpg}">
        <h5><span>My StepSon Died from Vaccine -June 12 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./canadian-government-science-expert-questions-vaccine-june-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a327151d5a835eca8fbd334abe2aa6d5.jpg}">
        <h5><span>Canadian Government Science Expert Questions Vaccine -June 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./vaccine-deaths-compilation-june-22-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/32ec26362a3ee39b0c08498db8a38727.jpg}">
        <h5><span>Vaccine Deaths Compilation -June 22 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-hoffe-vaccine-induced-blood-clots-kill-jul-9-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/7a71641153173cbaf34c724107122cb0.jpg}">
        <h5><span>Dr. Hoffe - vaccine induced blood clots kill - Jul 9 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-mccullough-vax-risks-for-women-june-23-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/6ab1f67c7e12d24a71ba0312a996da99.jpg}">
        <h5><span>Dr McCullough Vax Risks for Women - June 23 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./doctor-of-neurology-on-vaccine-injuries-june-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b5763d28b662338e2c34cd89cb59768f.jpg}">
        <h5><span>Doctor of Neurology on Vaccine Injuries -June 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./injury-after-az-vax-june-29-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/251484efffb426a7dcccf99fce787ca7.jpg}">
        <h5><span>Injury after AZ vax - June 29 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./uk-az-victim-update-report-jul-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/4625808b12675d5b0264aedf1302bbe6.jpg}">
        <h5><span>UK AZ victim update report - Jul 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./wayne-cunnington-update-on-vaccine-injury-july-11-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/cb7bf82821aa753a532ae7e203953260.jpg}">
        <h5><span>Wayne Cunnington - Update on vaccine injury - July 11 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-lawrie-on-vaccine-deaths-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/1781cb1bbad076779d7cbe6d1c22485b.jpg}">
        <h5><span>Dr Lawrie on Vaccine Deaths -July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./what-happened-to-me-after-vax-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/7c87b188617899c651e2af38353b32e7.jpg}">
        <h5><span>What Happened To Me After Vax -July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./18000-vax-deaths-in-eu-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/91b59d6c7cc2dddecbb6b5bb4082907c.jpg}">
        <h5><span>18000 Vax Deaths in EU -July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./21-year-old-after-the-jab-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/907d19fbab0e4bdbebd1ffbd991c62e4.jpg}">
        <h5><span>21 Year Old After the Jab -July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./vax-deaths-ok-c19-deaths-not-july-23-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ba10acc9e704630e5c5f23162d0bff37.jpg}">
        <h5><span>Vax Deaths Ok, C19 Deaths Not -July 23 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./after-the-vax-july-23-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b7ce890c849b7bfc6264902826295b0f.jpg}">
        <h5><span>After the Vax -July 23 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./nurse-on-vax-injuries-and-deaths-july-29-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/8c208f529025c05db2df9bcfb2ac3931.jpg}">
        <h5><span>Nurse on Vax Injuries & Deaths -July 29 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./meet-the-vax-injured-july-29-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c51f0498b60bd1a6f1d4cbee284cbbd1.jpg}">
        <h5><span>Meet the Vax Injured -July 29 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./whistle-blower-tells-of-jab-injury-tidal-wave-in-hospitals-july-31">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/097af0e3cb3dd1e3d2734c3a29216a19.jpg}">
        <h5><span>Whistle-Blower Tells Of Jab Injury Tidal Wave In Hospitals - July 31<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dr-shelton-speaks-out-on-vax-deaths-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/9b83bf25e13e24a8b5b4227e86491d1b.jpg}">
        <h5><span>Dr Shelton Speaks Out on Vax Deaths -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./vaccine-disaster-dec-4-2020">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/36d6ba8069417dcefc09fbd71c0ebec8.jpg}">
        <h5><span>Vaccine Disaster -Dec 4 2020<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./fda-knew-shots-cause-over-110-diseases-july-30-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/e0afad2b2c282e40d995811a477f826c.jpg}">
        <h5><span>FDA knew shots cause over 110 diseases - July 30 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./45k-us-deaths-3-days-post-jab-july-30-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/65b77c9f94a2b952d843276aa4eaee6f.jpg}">
        <h5><span>45K US deaths 3 days post jab - July 30 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./vax-causes-myocarditis-and-sterility-jul-30-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/blank.png}">
        <h5><span>Vax causes myocarditis & sterility - Jul 30 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
</div>
</div>

--- name:subcat_descr pipeline:erb
  The Impact of Vaccine Side Effects in the New Normal

--- name:page_title pipeline:erb
<div class="centered cat_name">
  Injuries & Death
</div>

--- name:vid_count pipeline:erb
<div class="vid_count _center">
  54 VIDEOS
</div>

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../old-think">OLD-THINK</a>
    </div>