---
title: "New Speak"
home_url: ../
page_title: "NEW SPEAK"
vid_count: 8
all_vid_count: 154
page_descr: "The Role of Controlled Thought &amp; Speech in the New Normal"
top_right:  " "
template: "../category.template"
---

<span class="scat_in_cat">CENSORSHIP<a href="./censorship">&gt;&gt;</a></span>
   <div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./censorship/canadian-doctors-question-lockdown-feb-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bb4fdf861c603299cb502f5d2c4d8809.jpg}">
            <h5><span>Canadian Doctors Question Lockdown -Feb 21 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<span class="scat_in_cat">FEAR AGENDA<a href="./fear-agenda">&gt;&gt;</a></span>
   <div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./fear-agenda/cuomo-if-19-mil-people-said-im-going-out-today-theyd-go-out-feb-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9dfa45dd6dba3c4866d193d43fd505bb.jpg}">
            <h5><span>Cuomo "If 19 mil people said I'm going out today, they'd go out" -Feb 6 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./fear-agenda/german-lawyer-fuellmich-on-biased-media-mar-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a3228500793574c664f9185be7f411d6.jpg}">
            <h5><span>German Lawyer Fuellmich on Biased Media -Mar 16 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<span class="scat_in_cat">PROPAGANDA<a href="./propaganda">&gt;&gt;</a></span>
   <div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./propaganda/bird-media-jan-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fbbaefc9a557b00f271d916f83073a34.jpg}">
            <h5><span>Bird Media -Jan 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./propaganda/british-public-want-us-to-close-the-borders-feb-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8660bd9a03fa9c8dc48dab886d6bee97.jpg}">
            <h5><span>"British public want us to close the borders" -Feb 10 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./propaganda/celebrity-vaccine-endorsement-feb-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bba1643466b408ce57fa271058d0bbfd.jpg}">
            <h5><span>Celebrity vaccine endorsement -Feb 10 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<span class="scat_in_cat">BANNED VIDEOS<a href="./banned-videos">&gt;&gt;</a></span>
   <div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./banned-videos/banned-world-freedom-rally-vid-apr-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/61193c3c9799f7c9571d1143191e77aa.jpg}">
            <h5><span>Banned World Freedom Rally vid -Apr 20 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<span class="scat_in_cat">MORE<a href="./more">&gt;&gt;</a></span>
   <div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./more/boris-johnson-cancels-christmas-dec-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b80c8640456b234fcad2342c856fb2f5.jpg}">
            <h5><span>Boris Johnson cancels Christmas -Dec 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../new-speak"><button class="categories"><span class="categories">NEW SPEAK</span></button></a>
    </div>
    <div class="categories">
      <a href="../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>