---
title: "Carnival French Guiana Normal -Feb 15 2021"
home_url: ../../../
page_title: "Carnival French Guiana Normal -Feb 15 2021"
page_descr: "video.description"
all_vid_count: 205
vid_count: " "
top_right: " "
subcategory: "More"
category: "all's well"
template: "../../../video.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Carnival--French-Guiana-Normal--Feb-15-2021/17bf0be6540ff39f5b95b66d38a27e49bef93ae9?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

--- name:carousel pipeline:erb
<span class="scat_in_cat">MORE<a href="../">&gt;&gt;&gt;</a></span>
<div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../hk-danser-encore-officiel">
          <div class="image">
            <img src="https://i.ytimg.com/vi/SyBEMRyt6Qg/mqdefault.jpg">
            <h5><span>HK - Danser encore (Officiel)<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../big-tech-has-all-the-power-feb-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/72964a9c6dd2ec38855d1594599b90e0.jpg}">
            <h5><span>"Big Tech has All the Power" -Feb 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../brazil-normal-unaware-of-deadly-brazil-strain-mar-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f30e0a2ccdf26e040dd1fd4693c06e05.jpg}">
            <h5><span>Brazil normal, unaware of deadly Brazil strain –Mar 2 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../carnival-french-guiana-normal-feb-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/86efbd3459bad9ec2426662697bf7ec6.jpg}">
            <h5><span>Carnival French Guiana Normal -Feb 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../open-states-have-no-pandemic-apr-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b9a4c37e58b7a94e66acf4935f87ddd6.jpg}">
            <h5><span>Open states have no pandemic -Apr 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
</div> 

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../thought-police"><button class="categories"><span class="categories">THOUGHT POLICE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../common-sense"><button class="categories"><span class="categories">COMMON SENSE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>