---
title: "China Social Credit Sytem &quot;pushes you to be a better citizen&quot; -Feb 7 2021"
home_url: ../../../
page_title: "China Social Credit Sytem &quot;pushes you to be a better citizen&quot; -Feb 7 2021"
page_descr: "video.description"
all_vid_count: 205
vid_count: " "
top_right: " "
subcategory: "Recommended"
category: "home"
template: "../../../video.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/China-Social-Credit-Sytem-pushes-you-to-be-a-better-citizen--Feb-7-2021/c095b2e9cfb5ce42a67ef387f59d037e9e0c49f7?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

--- name:carousel pipeline:erb
<span class="scat_in_cat">RECOMMENDED<a href="../">&gt;&gt;&gt;</a></span>
<div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../bill-gates-conflict-of-interest-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c46101ab01cbfa74818c887fdac54a5a.jpg}">
            <h5><span>Bill Gates Conflict of Interest -Feb 22 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../boris-johnson-lies-mar-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/88acb9988bd18b6e322712dd3e295572.jpg}">
            <h5><span>Boris Johnson Lies –Mar 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bryce-mitchell-we-didnt-vote-for-that-nov-2-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5652e6acde4b7b47c36a415083b47ba9.jpg}">
            <h5><span>Bryce Mitchell We didn't vote for that - Nov 2, 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bureaucratic-runaround-feb-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a5b2223f9e1f2ec1a0049df0956dec5c.jpg}">
            <h5><span>Bureaucratic runaround -Feb 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../but-you-could-catch-a-variant-mar-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c20dd0510be3cd86ca7f9d84b51d45e3.jpg}">
            <h5><span>But you could catch a variant! –Mar 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../boris-johnson-cancels-christmas-dec-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b80c8640456b234fcad2342c856fb2f5.jpg}">
            <h5><span>Boris Johnson cancels Christmas -Dec 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../celebrity-vaccine-endorsement-feb-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bba1643466b408ce57fa271058d0bbfd.jpg}">
            <h5><span>Celebrity vaccine endorsement -Feb 10 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../china-social-credit-sytem-pushes-you-to-be-a-better-citizen-feb-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/aa512207d66bbacaf4a7f1987b124918.jpg}">
            <h5><span>China Social Credit Sytem "pushes you to be a better citizen" -Feb 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../churchill-on-freedom-of-speech-and-thought-1949">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bda9509cb352c40d20fc24337013155b.jpg}">
            <h5><span>Churchill on Freedom of Speech & Thought -1949<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../citizens-stand-up-to-police-mar-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b513bea79a8aefa3e473b47d3b32fb8b.jpg}">
            <h5><span>Citizens stand up to Police –Mar 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../coercion-is-illegal-use-of-force-apr-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e8802904edb8f1c4c2aba5945b05cd45.jpg}">
            <h5><span>Coercion is illegal use of force -Apr 3 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../harvard-prof-vaccine-passports-not-needed-apr-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dbb4f05b1d0d97b8ada3e208486e4923.jpg}">
            <h5><span>Harvard Prof Vaccine Passports not needed -Apr 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-passports-must-be-stopped-apr-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6d9071bf9d1b90620ffd89d6bde8c749.jpg}">
            <h5><span>"Vaccine passports" must be stopped! -Apr 5 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-livermore-says-vaccine-pass-not-needed-apr-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/40384a16b113ca21d38dde78aa2d382f.jpg}">
            <h5><span>Prof Livermore says Vaccine Pass not needed -Apr 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
</div> 

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../thought-police"><button class="categories"><span class="categories">THOUGHT POLICE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../common-sense"><button class="categories"><span class="categories">COMMON SENSE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>