---
title: "US Lawyers on Mask Lawsuit -July 17 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Legal Cases"
category: "legal"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Ca61%2BMasklawsuit-July172021-1/0abcd249b79ac70f3da772a026912d576d6f3a9b?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">LEGAL CASES &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../us-lawyers-on-mask-lawsuit-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4567a1e8ba90311e85784d43963851eb.jpg}">
            <h5>
              <span>
                US Lawyers on Mask Lawsuit -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lawsuit-for-vax-on-kids-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/55b5f93da14b0804ad64796d26b40d60.jpg}">
            <h5>
              <span>
                Lawsuit for Vax on Kids -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-p-breggin-md-prozac-and-the-pharma-industry-july-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d95ddadf9a79757f0baf85686f06ee73.jpg}">
            <h5>
              <span>
                Dr. P Breggin MD - Prozac and the pharma industry - July 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../crime-against-children-july-09-201">
          <div class="image">
            <img src="https://i.ytimg.com/vi/E8RLtCGQLQU/mqdefault.jpg">
            <h5>
              <span>
                Crime against Children -July 09 201<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lawyers-challenge-emergency-measures-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/03fd40afe0fab7e63cb4e613345d02dd.jpg}">
            <h5>
              <span>
                Lawyers Challenge Emergency Measures -Aug 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../court-prof-capel-there-are-known-effective-treatments-in-dutch-feb-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9a40178c59561d9056aec6a9a754a0eb.jpg}">
            <h5>
              <span>
                Court: Prof Capel "There are Known Effective Treatments" (in Dutch) -Feb 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../human-rights-attorney-chapman-uni-forces-vaccines-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/15c33d62fd412da248e8dc648df0a46a.jpg}">
            <h5>
              <span>
                Human Rights Attorney, Chapman Uni Forces Vaccines -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../my-mother-died-from-moderna-vaccine-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/32087b89d3c605f54c2cede9beb400bb.jpg}">
            <h5>
              <span>
                My Mother Died From Moderna Vaccine -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lawyer-calls-hospital-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ff7c95040a59253f92de23676ebdbd70.jpg}">
            <h5>
              <span>
                Lawyer Calls Hospital -June 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../msm-public-shaming-of-vaccine-refusers-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f0e91700a8e68eaaaafee60089a4db97.jpg}">
            <h5>
              <span>
                MSM Public Shaming of Vaccine Refusers -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../who-says-vax-is-dangerous-to-kids-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7ec7111226f368c76eff634328970889.jpg}">
            <h5>
              <span>
                WHO says Vax is Dangerous to Kids -June 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-sam-white-vs-the-nhs-july-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/77b3c5a2b814ff2cb700e107067de544.jpg}">
            <h5>
              <span>
                Dr. Sam White vs the NHS - July 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  US Lawyers on Mask Lawsuit -July 17 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>