@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body {
  /* margin: 0; */
   font-family: 'Lato', sans-serif;
  /* font-size: 100%; */
  /* line-height: 1.8; */
}

html{
/*  font-size: 62.5%; */
  font-size: 100.%;
}
.centered {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
.bold {font-weight: bold;}
.asterisk{
  font-size: 2rem;
  vertical-align: middle;
}
.show_border {
  border-style: dotted;
  border-width: 5px;
}
.no_margin {
  margin: 0px 0px 0px 0px;
}
.no_padding {
  padding: 0px 0px 0px 0px;
}
div.centered {margin: auto;}
.responsive {
          width: 100%;
          max-width: 400px;
          height: auto;
 }
.categoriess {
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
  font-size: 0.8rem;
  color: black;
  height: 1.5rem;
}
.categoriess button{
  background-color: grey;
}
._header{
  margin-top: 1rem;
  margin-left: 0rem;
  padding-left: 0rem;
  padding-top: 0rem;
}

span.logo{
  padding-top: 1rem;
  margin-bottom: -2.5rem;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  color: #ff6600;
  /* vertical-align: middle; */
}
@media screen and (max-width:600px) { 
  span.logo{ font-size: 1.0rem;}
  span.tall{ font-size: 1.5rem;}
}
a:link{
  text-decoration: none;
}
span.tall{
  font-size: 1.75rem;
  color: black;
}
span.top_right{
  float: right; 
}
.nav_menu{
  font-size: 1.5rem;
  color: black;
}
@media screen and (max-width:600px) { 
  .nav_menu{ font-size: 1.0rem; }
}
.f300{
  font-weight: 300;
}
.f400{
  font-weight: 400;
}
.f700{
  font-weight: 700;
}
.f900{
  font-weight: 900;
}
.cat_name{
  color: orange;
  font-size: 2rem;
  font-family: sans-serif;
  padding-top: 2rem;
  padding-bottom: 0rem;
  height: 3rem;
}
@media screen and (max-width:600px) { 
  .cat_name{
    font-size: 1.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
.vid_count{
  margin-top: -1.5rem;
}
.cat_descr{
  font-size: 1rem;
  padding-top: 1.7rem;
  height: 5rem;
}
@media screen and (max-width:600px) { 
  .cat_descr{
    font-size: 0.70rem;
    padding-top: 0.0rem;
    height: 1.0rem;
  }
}
.scat_in_cat{
  color: rgb(100,100,100);
  font-size: 1.00rem;
  margin-bottom: -1rem;
  margin-left: 0rem;
}
.scat_in_cat:hover {color:orange; transition: 200ms ease-in-out;}

.grid_wrap {
  margin-left: 0rem;
  margin-right: 0rem;
}
.grid {
  margin: 0 auto;
}
div .splide{
  margin-top: 5rem;
  margin-left: 5rem;
}
.splide__slide img {
  width : 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}
.image img{ 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image h5 { 
   position: absolute; 
   top: 110px; 
   left: 0; 
   width: 80%; 
}

.image h5 span { 
   color: white; 
   font: bold 1rem;
   font-family: "Source Code Pro", monospace;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.2);
   padding: 0.3rem; 
}
h5 span.spacer {
   padding:0 5px;
}
.play_video{
  text-align: center;
  width: 60%;
  margin: auto;
  padding-bottom: 2rem;
}
/* .play_video::after
{
  content: attr(dafr);
  display: block;
  position: absolute;
        right: 150px;
        top: 260px;
} */

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.about p
{
  font-size: 1.0rem;
}
.grid-container {
  display:grid;
  height: 2rem;
  grid-template-areas:
    "lft tup rgt";
}
.cell-lft {grid-area: lft;}
.cell-rgt {grid-area: rgt;}
.cell-top {grid-area: tup; padding-left: 2rem;}
.cell-btm {
  margin-top: -2.5rem;
  font-size: 1.0rem;
  }
@media screen and (max-width:600px) { 
  .cell-lft{ font-size: 0.8rem; }
  .cell-rgt{ font-size: 0.8rem; }
  .cell-top{ font-size: 1.0rem; padding-left: 0rem;}
  .cell-btm{ font-size: 0.6rem; }
}

.menu-icon {display:none;}
.dots {display:none;}
.menu-bar {display:none;}

.category-container {
    display:grid;
    grid-template-columns: repeat(6, minmax(2rem, auto));
    grid-auto-flow: dense ;
    grid-gap:5px;
    text-align:center;
    align-items:center;    
    padding: 0rem;
    margin: 0px;
    border: 0px;
    height: 3.4rem;
 } 

.category {
   padding:4px;
   height: minmax(1rem,2.5rem); 
   background-color:rgb(188, 188, 188);
   font-size: 1.0rem;
   color:black;
        }

.category:hover {background-color:orange; transition: 200ms ease-in-out;}
  
 @media screen and (max-width:800px)  
  { 
    .category-container {
    grid-template-columns: repeat(3, minmax(2rem, auto)); 
    height: 8.2rem;
   }
  }


@media screen and (max-width:600px) { 
  .category-container {display:none;}    
  .menu-icon {
    display:block; 
    /* font-size:50px; 
    font-family: georgia;         
    font-weight: 500; 
    color: black; */
    margin: 0 auto;                         
    background:none; 
    border:none;
    cursor:pointer;
            }
   .menu-icon:hover {color:orange;}
   .dots {display:block;}
  
   /* Dropdown Content (Hidden by Default) */
  .menu-bar {
    display: none;
    position: relative;
    margin: 0 auto;
    max-width: 50vh;
    z-index: 1;
  }
   
   /* Links inside the dropdown */
  .menu-bar a {
    text-decoration: none;
    display: block; }
   
   /* Change color of dropdown links on hover */
   .dropdown-menu a:hover {background-color:rgb(200,200,200);}
   
   
   .category {
     height: 1.5rem; 
     background-color: orange;
     
     text-decoration: none; 
     color:black;
     cursor:pointer; 
     margin:7px;
        }
   
   /* Show the dropdown menu on hover */
   .dropdown-menu:hover .menu-bar {
     display: block;
     
   
     justify-content: center;
     text-align:center;
     align-items:center;
     font-family:gotham, montserrat, sans-serif;
     font-weight:900;
     font-size:1rem;
     background-color:white;
     text-decoration: none; 
     color:black;
     cursor:pointer;
   }
   .dropdown-menu a {
    text-decoration: none;
    display: block;
            }
}
