---
title: "Grace-Anne Kelly &quot;Variants&quot; -Apr 18 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Grace-Anne Kelly"
category: "alt media"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/Grace-Anne-Kelly-Variants--Apr-18-2021/509aa145893b19180268a7a6c105024368741d46?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">GRACE-ANNE KELLY &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../grace-anne-kelly-variants-apr-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9fd58a05b553a0968684402ba6fd476c.jpg}">
            <h5>
              <span>
                Grace-Anne Kelly "Variants" -Apr 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ignorance-is-bliss-apr-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/91b814d2b886074bc5fede411c3f45df.jpg}">
            <h5>
              <span>
                Ignorance is Bliss -Apr 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../celebritits-should-go-first-apr-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/50ee9c85b41d3d5ec368ccb68104103e.jpg}">
            <h5>
              <span>
                "CelebriTITS Should Go First!" -Apr 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../but-you-could-catch-a-variant-mar-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c20dd0510be3cd86ca7f9d84b51d45e3.jpg}">
            <h5>
              <span>
                But you could catch a variant! –Mar 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cant-wait-for-designer-masks-feb-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fde4182f6cc936930232dd013dccd484.jpg}">
            <h5>
              <span>
                Can't Wait for Designer Masks -Feb 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../corona-facts-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a8e585386460cdfa136e810046f95dcf.jpg}">
            <h5>
              <span>
                Corona Facts -Feb 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../are-you-free-mar-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/176d40982a04f919a9ee121daf3c2766.jpg}">
            <h5>
              <span>
                "Are You Free?" –Mar 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../did-you-do-your-research-may-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/922ff7befb88588197b7b57fe8ce9658.jpg}">
            <h5>
              <span>
                "Did you do your Research?" -May 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../im-a-good-citizen-july-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2f1f8e05a4ab1bbba8d455ad80e64482.jpg}">
            <h5>
              <span>
                I'm a Good Citizen -July 21 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  Grace-Anne Kelly "Variants" -Apr 18 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>