---
title: "CDC says &quot;No More Masks&quot; yet People Still Wear Them -May 19 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Masks"
category: "science"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/CDC-Says-No-More-Masks%2C-But-People-Still-Wear-Them--May-19-2021/8896910100fdb8b2ce538ea3d86b30494acbbdca?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">MASKS &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../cdc-says-no-more-masks-yet-people-still-wear-them-may-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7534ec52a04d9bfda2ae04d327838962.jpg}">
            <h5>
              <span>
                CDC says "No More Masks" yet People Still Wear Them -May 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../faucis-mask-theater-may-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5a5ba2e237ec3369e1521f44b4974e96.jpg}">
            <h5>
              <span>
                Fauci's Mask Theater -May 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../10-year-old-on-mask-logic-may-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/52abf4d5609d2caf4457c501fb566975.jpg}">
            <h5>
              <span>
                10 Year Old on Mask Logic -May 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../how-to-avoid-mask-rules-in-halls-feb-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/939e43f29af75194718d292d3937114b.jpg}">
            <h5>
              <span>
                How to Avoid Mask Rules in Halls -Feb 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../little-girl-defends-freedom-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/42fc59273e24e232261e21ba8af353e1.jpg}">
            <h5>
              <span>
                Little Girl Defends Freedom -May 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../unmask-the-kids-may-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c598a1a40aaa31468e9e4fa478f70bfb.jpg}">
            <h5>
              <span>
                Unmask the Kids -May 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-mask-shaming-as-political-tool-feb-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bab868933a6fb494b7df77a0952bf693.jpg}">
            <h5>
              <span>
                Fauci Mask Shaming As Political Tool -Feb 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rand-paul-on-faucis-noble-lies-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bf54181f38fccefa8002dbb46f6820ee.jpg}">
            <h5>
              <span>
                Rand Paul on Fauci's Noble Lies -Mar 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../firefighter-tests-mask-safety-feb-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3c025bf61ba4f20c85fab3db5230788a.jpg}">
            <h5>
              <span>
                Firefighter tests mask safety -Feb 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../firefighter-tests-oxygen-levels-with-masks-feb-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ec6cca3e9ae471735c08b14aaa9b2c6c.jpg}">
            <h5>
              <span>
                Firefighter Tests Oxygen Levels With Masks -Feb 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australia-mask-police-may-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c00862642dfc0fff0c412e1f9e852d51.jpg}">
            <h5>
              <span>
                Australia Mask Police -May 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../france-soccer-party-during-lockdown-may-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a3da1dc0ed9fcd9b4b4c9d157a349fd4.jpg}">
            <h5>
              <span>
                France, Soccer Party During Lockdown -May 24 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../lille-are-france-champions-covid-disappears-may-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fc2328369566e60de8751ab555837ac9.jpg}">
            <h5>
              <span>
                Lille are France Champions, Covid Disappears -May 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-shiva-challenges-msm-about-the-science-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d489bb9ad469e0f0c29675dd678a7a1e.jpg}">
            <h5>
              <span>
                Dr Shiva Challenges MSM about the Science -May 25 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ivor-cummins-plus-laura-dodsworth-on-mask-fear-campaign-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f4c3816069c4ad6b315deb81c07fc2b3.jpg}">
            <h5>
              <span>
                Ivor Cummins+ Laura Dodsworth on Mask Fear Campaign -May 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../all-mask-types-tested-may-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/864d0f14e1c783a062a0764db2e604f6.jpg}">
            <h5>
              <span>
                All Mask Types Tested -May 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../bill-nye-if-you-wear-one-of-these-your-protected-may-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/625ce19e6d67fd42bf1f4457044bc2d9.jpg}">
            <h5>
              <span>
                Bill Nye "If You Wear One Of These Your Protected" -May 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../in-this-state-masks-are-un-constitutional-june-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7fc74d21dc074dc7adb9cffddb2e0854.jpg}">
            <h5>
              <span>
                In this State, Masks are Un-Constitutional -June 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../government-guidelines-make-sure-you-keep-up-the-act-feb-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/23b53ab6bc77065eb407a2bc779961f3.jpg}">
            <h5>
              <span>
                Government Guidelines "Make Sure You Keep Up The Act" -Feb 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../desantis-on-fauci-emails-and-unreasonable-cdc-guidelines-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ec3e654904953eb57e327a3c3ae5c30a.jpg}">
            <h5>
              <span>
                DeSantis on Fauci Emails & Unreasonable CDC Guidelines -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../have-our-kids-not-suffered-enough-feb-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2aaecc00f4846de4d5da24fd954c3879.jpg}">
            <h5>
              <span>
                "Have Our Kids Not Suffered Enough?" -Feb 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../macys-health-advice-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1ee4f0be86b004f1d7b030f3d637d836.jpg}">
            <h5>
              <span>
                Macy's Health Advice -Feb 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../iconic-podcast-on-mask-fact-and-fiction-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0687c10a71b7204bc8e8d2bce1051d5d.jpg}">
            <h5>
              <span>
                Iconic Podcast on Mask Fact & Fiction -June 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-hypocrites-jan-26-2021">
          <div class="image">
            <img src="https://i.ytimg.com/vi/VCisCyS4btg/mqdefault.jpg">
            <h5>
              <span>
                Covid Hypocrites -Jan 26 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../clinical-trial-confirms-masks-on-children-is-deadly-ivor-cummins">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9f6ed4217c63b38b7cfaaec89432378b.jpg}">
            <h5>
              <span>
                Clinical Trial Confirms Masks on Children is DEADLY! - Ivor Cummins<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../new-jama-study-on-mask-dangers-july-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cdcb1b3751f844d92fcfaa6e2d2c7d75.jpg}">
            <h5>
              <span>
                New! JAMA Study on Mask Dangers -July 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../masks-also-for-vaccinated-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7fc492f9c75790f759e7558ea491a68c.jpg}">
            <h5>
              <span>
                Masks Also for Vaccinated -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../us-lawyers-on-mask-lawsuit-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4567a1e8ba90311e85784d43963851eb.jpg}">
            <h5>
              <span>
                US Lawyers on Mask Lawsuit -July 17 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-craig-on-mask-efficacy-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2692dd28da3670d80dd60db14fac88bd.jpg}">
            <h5>
              <span>
                Dr Craig on Mask Efficacy -July 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../crime-against-children-july-09-201">
          <div class="image">
            <img src="https://i.ytimg.com/vi/E8RLtCGQLQU/mqdefault.jpg">
            <h5>
              <span>
                Crime against Children -July 09 201<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../australias-mask-police-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bfe0c2ffdb36626520ed9f34b87a46c0.jpg}">
            <h5>
              <span>
                Australia's Mask Police -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../freedom-wins-in-alberta-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/11841933f3077220441183409081ea08.jpg}">
            <h5>
              <span>
                Freedom Wins in Alberta -Aug 4 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-at-the-olympics-aug-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b71d0aac707d2e10df8084736908cd62.jpg}">
            <h5>
              <span>
                Covid at the Olympics -Aug 5 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../cdcs-vax-flip-flop-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d910a255edafa33fc5b75fb696b07f57.jpg}">
            <h5>
              <span>
                CDC's Vax Flip Flop -Aug 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../taxi-co-bans-masks-and-vax-aug-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f25a98048a5063fde5f5e18d3ea60b1a.jpg}">
            <h5>
              <span>
                Taxi Co bans masks & vax -Aug 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../end-this-madness-aug-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/98a34828304a8e61427f38c759875ea1.jpg}">
            <h5>
              <span>
                "End This Madness!" -Aug 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../corona-committee-number-7-mask-wearing-causes-deaths">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1d6f001504a827a69ae349742ef4aa1f.jpg}">
            <h5>
              <span>
                Corona Committee #7  - "Mask wearing causes deaths"<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../girls-without-mask-mar-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/50f1e723f955f87a459fb0e27654221e.jpg}">
            <h5>
              <span>
                Girls Without Mask –Mar 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../einstein-said-feb-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1db5db1807ac1919b63bbd4110653062.jpg}">
            <h5>
              <span>
                Einstein said -Feb 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../covid-zero-is-britain-zero-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a3aa68836dd13c511ff1671a6b69df54.jpg}">
            <h5>
              <span>
                "Covid-Zero is Britain-Zero" -Feb 12 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-alexander-no-evidence-for-masks-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4dc11ac77e51981e1a5a1feb87ef0afe.jpg}">
            <h5>
              <span>
                Dr Alexander "NO Evidence for Masks" –Mar 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-justifies-mask-flip-flopping-apr-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/13f275092c9ccf32d070408eb1fd4d78.jpg}">
            <h5>
              <span>
                Fauci justifies mask Flip-Flopping -Apr 13 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-avoids-questions-from-congressman-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a6bb892ab7c5fcef3b4c20ad10e05f12.jpg}">
            <h5>
              <span>
                Fauci Avoids Questions from Congressman -Apr 15 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-schiffmann-on-children-dying-mar-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7c733f2b8fb3951e32bfc31caa34d8c6.jpg}">
            <h5>
              <span>
                Dr Schiffmann on Children Dying -Mar 1 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../dr-thornley-best-evidence-masks-not-effective-mar-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/95031029493669c3315c636ec7b2a68f.jpg}">
            <h5>
              <span>
                Dr Thornley "Best Evidence Masks not Effective" -Mar 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../masks-are-common-sense-apr-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/606b8aa6971bf10e33eb212faada3510.jpg}">
            <h5>
              <span>
                Masks are Common Sense -Apr 9 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mask-causes-lack-of-oxygen-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/84dd88217f7da638943b04590913bccc.jpg}">
            <h5>
              <span>
                Mask causes LACK of Oxygen -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../store-bans-masks-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/907c377c0c6f24cfe2895b830b50370a.jpg}">
            <h5>
              <span>
                Store Bans Masks -Apr 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../arizona-parents-unite-to-remove-masks-in-schools-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5c7713ae3541bc328a132924498e9f88.jpg}">
            <h5>
              <span>
                Arizona Parents Unite to Remove Masks in Schools -Apr 28 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../tucker-carlsen-masks-are-repulsive-and-abuse-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/668381ac50ca8743812bb60b5647ce27.jpg}">
            <h5>
              <span>
                Tucker Carlsen Masks are "Repulsive" & "Abuse" -Apr 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../msm-reporter-and-mask-logic-may-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d9bd8f688c46a9d01833f8a23418fa5c.jpg}">
            <h5>
              <span>
                MSM reporter & Mask Logic -May 2 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../school-nurse-masks-harm-kids-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/71e8a93fe210721e79a7e39b45f8653d.jpg}">
            <h5>
              <span>
                School Nurse "Masks Harm Kids" -May 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../mask-logic-may-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/00a8031d11888fb95e8d383b4bfb4219.jpg}">
            <h5>
              <span>
                Mask Logic -May 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  CDC says "No More Masks" yet People Still Wear Them -May 19 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>