---
title: "Mass Protest"
home_url: ../../
page_title: "MASS PROTEST"
all_vid_count: 1239
top_right: " "
template: "../../default.template"
---

<div class="grid_wrap">
<div class="grid">
   <div class="grid-item">
    <a href="./with-love-from-kassel-20th-march-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/1d3b4ba52eb33afa735322a9c09c613e.jpg}">
        <h5><span>With Love from Kassel - 20th March 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./swiss-artists-against-covid-measures">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c5e94a9ee48d234e638983a3be956560.jpg}">
        <h5><span>Swiss Artists Against Covid Measures<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./covid-anti-coronavirus-lockdown-protesters-clash-with-police-as-dozens-arrested-itv-news">
      <div class="image">
        <img src="https://i.ytimg.com/vi/KHBfOJcUvYc/mqdefault.jpg">
        <h5><span>Covid: Anti-coronavirus lockdown protesters clash with police as dozens arrested | ITV News<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./germany-anti-lockdown-protesters-take-to-berlin-streets-to-mark-one-year-since-first-march">
      <div class="image">
        <img src="https://i.ytimg.com/vi/y_G4Y1l1fQw/mqdefault.jpg">
        <h5><span>Germany: Anti-lockdown protesters take to Berlin streets to mark one year since first march<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./thousands-protest-lockdown-restrictions-in-german-city-of-stuttgart">
      <div class="image">
        <img src="https://i.ytimg.com/vi/lQN6v-EgNQQ/mqdefault.jpg">
        <h5><span>Thousands Protest Lockdown Restrictions in German City of Stuttgart<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./covid-19-20-arrested-in-anti-measures-protests-in-finland-denmark-and-norway">
      <div class="image">
        <img src="https://i.ytimg.com/vi/WSKAr89tY60/mqdefault.jpg">
        <h5><span>COVID-19: 20 arrested in anti-measures protests in Finland, Denmark & Norway<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./hundreds-in-montreal-protest-earlier-curfew">
      <div class="image">
        <img src="https://i.ytimg.com/vi/6ouLMpO4Uik/mqdefault.jpg">
        <h5><span>Hundreds in Montreal protest earlier curfew<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./italy-restaurant-owners-scuffle-with-police-again-in-rome-lockdown-protest">
      <div class="image">
        <img src="https://i.ytimg.com/vi/lQDDZ3ClTwc/mqdefault.jpg">
        <h5><span>Italy: Restaurant owners scuffle with police again in Rome lockdown protest<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./belgium-protest-apr-1-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/6e885ef6b7fa1d3055318acdec8d40e6.jpg}">
        <h5><span>Belgium Protest -Apr 1 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./belgrade-protest-apr-3-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b4103e6182bae52d80ec0fd60c94788e.jpg}">
        <h5><span>Belgrade Protest -Apr 3 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./berlin-germany-protest-mar-13-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/2abc67e1777a65103f120e4339961479.jpg}">
        <h5><span>Berlin Germany Protest –Mar 13 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./berlin-ice-dance-protest-party-feb-14-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/215aa75cb22a4e1b962e27d9ff4f963d.jpg}">
        <h5><span>Berlin Ice Dance Protest Party -Feb 14 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./bologna-protest-feb-21-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/05fa552591c6bc806542e3a4b96ce42c.jpg}">
        <h5><span>Bologna Protest -Feb 21 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./bologna-youth-protest-apr-2-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/bcf9b4f628a426f728e5f8f462db3d46.jpg}">
        <h5><span>Bologna youth protest -Apr 2 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brazil-motorway-protest-mar-15-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b1260a148b66ae45a06e582181084bef.jpg}">
        <h5><span>Brazil Motorway Protest –Mar 15 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brazil-protest-mar-4-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a0c106778b01681b30b9d5789f7e4cf2.jpg}">
        <h5><span>Brazil Protest –Mar 4 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brazil-protest-mar-11-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/417b8f252dee8ecf356690a078d1a66f.jpg}">
        <h5><span>Brazil protest –Mar 11 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brazil-protest-mar-15-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/10eb538a8a159efb0499171a7062f947.jpg}">
        <h5><span>Brazil Protest –Mar 15 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brazil-protesters-desperate-for-work-mar-13-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/8f9ac41ca5cc9857eb03bda247e58df4.jpg}">
        <h5><span>Brazil protesters desperate for work –Mar 13 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brisbane-protest-feb-20-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/5bf91b5c75e5a6a5df95f34709edebc7.jpg}">
        <h5><span>Brisbane Protest -Feb 20 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brisbane-protest-my-body-my-choice-mar-20-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/1242842b9bd32d7ce0652af0a00d34f0.jpg}">
        <h5><span>Brisbane Protest "My body, My choice" –Mar 20 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./bristol-protest-mar-26-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a266a2dafe74e2b77b64e49862c50467.jpg}">
        <h5><span>Bristol Protest -Mar 26 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./buss-world-freedom-rally-mar-20-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/945937461044a6f4f07ff807c94da12e.jpg}">
        <h5><span>Buss World Freedom Rally –Mar 20 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./protest-march-in-berlin-aug-1-2020">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/blank.png}">
        <h5><span>Protest march in Berlin - Aug 1 2020<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./thousands-march-in-berlin-aug-1-2020">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ff434c6027eb3d3a665e1b2a34931be1.jpg}">
        <h5><span>Thousands March in Berlin -Aug 1 2020<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./canada-protest-mar-14-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/f702b9f36231a256212585e3113c1f72.jpg}">
        <h5><span>Canada Protest –Mar 14 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./argentina-protest-apr-9-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/7a78bbaabe0da444542c40dbfaabeb1d.jpg}">
        <h5><span>Argentina Protest -Apr 9 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./copenhagen-protest-restrictions-and-passports-feb-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/643c7173e0507cecf3eb23b48b55a80a.jpg}">
        <h5><span>Copenhagen Protest Restrictions & Passports -Feb 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./copenhagen-protest-mar-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/193a9b79da1a36383bbfd55b5071498e.jpg}">
        <h5><span>Copenhagen Protest -Mar 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./cyprus-protest-feb-25-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/d91bee9870b6ab6f10f399b93816086e.jpg}">
        <h5><span>Cyprus Protest -Feb 25 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./czech-protest-mar-10-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/385513560872e53eff34043a707db13b.jpg}">
        <h5><span>Czech Protest –Mar 10 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./denmark-copenhagen-protest-feb-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/30ce6c56db09b36d93a4b7754abd32ac.jpg}">
        <h5><span>Denmark, Copenhagen Protest -Feb 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./denmark-protest-feb-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/84615efd29cf27e95622eee8ada18ec2.jpg}">
        <h5><span>Denmark Protest - Feb 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./denmark-protest-mar-14-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/2875940d2b2ab70d86254465879ff1b2.jpg}">
        <h5><span>Denmark Protest -Mar 14 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./denmark-protest-feb-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/8848e1599b105bbc5db22e0bd73b2631.jpg}">
        <h5><span>Denmark Protest –Feb 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./denmark-protest-feb-11-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c85ff38daa3634cdf4022089aa14fb4f.jpg}">
        <h5><span>Denmark Protest -Feb 11 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./denmark-protest-feb-21-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/4c0e4f258be83671b706e2cd3b2931da.jpg}">
        <h5><span>Denmark Protest -Feb 21 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./denmark-protest-feb-23-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/5bdd9f05cea461a869264224cc2766a9.jpg}">
        <h5><span>Denmark Protest -Feb 23 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./denmark-protest-freedom-mar-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/cba07707003bb1fa1bff2f4b8fb1cf83.jpg}">
        <h5><span>Denmark Protest "Freedom" -Mar 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./denmark-world-freedom-rally-they-dont-care-mar-20-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/d3f792312cca162b4f4bfd37569bd84b.jpg}">
        <h5><span>Denmark World Freedom Rally "They Don’t Care" –Mar 20 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./denmark-world-freedom-rally-mar-20-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/094f7a976cf9f5ff2e324b515d887202.jpg}">
        <h5><span>Denmark World Freedom Rally –Mar 20 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./argentina-new-lockdowns-lead-to-protest-apr-15-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/338e7607f53df250dc9cf828bc127327.jpg}">
        <h5><span>Argentina New Lockdowns Lead to Protest -Apr 15 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./argentina-new-lockdown-protest-outside-presidents-house-apr-15-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ade039182a49a4051041082caf9aaa37.jpg}">
        <h5><span>Argentina New Lockdown Protest Outside President's House -Apr 15 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-protest-apr-15-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a67ef003b4e80922d40a53dc07479fd6.jpg}">
        <h5><span>France Protest -Apr 15 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./denmark-veterans-protest-apr-13-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/9fb00fa9035218a9322f0600697f0110.jpg}">
        <h5><span>Denmark Veterans Protest -Apr 13 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./alberta-canada-protest-apr-14-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/2bc2be39ce5bab777ea6600af4069247.jpg}">
        <h5><span>Alberta Canada Protest -Apr 14 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dresden-protest-mar-14-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/3d1eeded60487e2e9a6640cc6a073e90.jpg}">
        <h5><span>Dresden Protest –Mar 14 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dutch-protest-feb-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/95c32df52f922bf38ae1b775a17d3276.jpg}">
        <h5><span>Dutch Protest -Feb 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./rotterdam-protest-apr-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/12ed4644519f2a8b9cf4cb32ff501e2d.jpg}">
        <h5><span>Rotterdam Protest -Apr 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./argentina-protest-apr-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b88bcdd06bb0b6fa5da96994212cd6b8.jpg}">
        <h5><span>Argentina Protest -Apr 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./stuttgart-protest-apr-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/93005e64be58c0151835e4899657cf16.jpg}">
        <h5><span>Stuttgart Protest -Apr 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./netherlands-protest-apr-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/010bd94262aa41f3797058580551567a.jpg}">
        <h5><span>Netherlands Protest -Apr 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./argentina-anti-lockdown-protest-apr-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/258dd0ea34cddc02c08ff656ffac1623.jpg}">
        <h5><span>Argentina Anti Lockdown Protest -Apr 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./italy-protest-apr-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/f134e6c7d6fb5f1e43bf3fd1b86deac4.jpg}">
        <h5><span>Italy Protest -Apr 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./italian-film-industry-protests-lockdowns-apr-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/58b5027c4b7d04bad8744db3eb1b6b94.jpg}">
        <h5><span>Italian Film Industry Protests Lockdowns -Apr 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dusseldorf-germany-protest-apr-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/cb0cc09600ce5f273663205228f3e166.jpg}">
        <h5><span>Dusseldorf Germany Protest -Apr 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./switzerland-protest-apr-18-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a89abac0eb39631e509b01f1cd9f4809.jpg}">
        <h5><span>Switzerland Protest -Apr 18 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brussels-bicycle-protest-apr-18-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c75f38719090e773a45deb6c14319762.jpg}">
        <h5><span>Brussels Bicycle Protest -Apr 18 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./alkmaar-netherlands-protest-apr-18-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/4d03bb531cd6d0c2e601225123246fec.jpg}">
        <h5><span>Alkmaar Netherlands Protest -Apr 18 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./canada-calgary-freedom-demo-apr-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/46ac6d41bd1a293a648a0dcad26fa75a.jpg}">
        <h5><span>Canada Calgary Freedom Demo -Apr 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./farrakhan-against-vaccines-july-4-2020">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b00438fb027a83db5d08a298943b04d4.jpg}">
        <h5><span>Farrakhan Against Vaccines -July 4 2020<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./why-are-you-protesting-apr-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/04f811a3896e2c4a61de74508351df79.jpg}">
        <h5><span>Why Are You Protesting? -Apr 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./more-pro-freedom-protests-in-london-apr-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/d1400fe47b6f9c547e4e96c7b534c5d5.jpg}">
        <h5><span>More pro-freedom protests in London -Apr 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./huge-freedom-protests-in-central-london-apr-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c1832e14998f4e8c7cc1ab196191eed6.jpg}">
        <h5><span>Huge freedom protests in Central London -Apr 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./london-freedom-rally-apr-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/8d9d96981d7cb67d8f2e237003e9e819.jpg}">
        <h5><span>London Freedom Rally -Apr 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./salthill-beach-protest-apr-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/8daf8acce09e978e1b2b661b4004a52d.jpg}">
        <h5><span>Salthill Beach Protest -Apr 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./free-london-protest-apr-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/36e25edec41b9bdc1a3c1c4e0fbe3277.jpg}">
        <h5><span>Free London Protest -Apr 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./massive-london-protest-apr-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ac17ee3df8e1b9ad3f3fccd8880b997a.jpg}">
        <h5><span>Massive London Protest -Apr 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./arnhem-protests-apr-27-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/582720292e49eefd02ffc064550ce020.jpg}">
        <h5><span>Arnhem Protests -Apr 27 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dutch-youth-celebrate-kings-day-with-rebel-dance-party-apr-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c5ac3353ffd80b8b969279962f3f3ddf.jpg}">
        <h5><span>Dutch Youth celebrate King's Day with Rebel dance party -Apr 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./colombia-protest-apr-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b8fdf21bf35245aa02e85278f0ead69e.jpg}">
        <h5><span>Colombia Protest -Apr 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./slovenia-protest-want-government-out-apr-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/0b092619745ea6a7808c066ba834a5e1.jpg}">
        <h5><span>Slovenia Protest want Government Out -Apr 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./slovenia-protesters-want-new-election-apr-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/e83725bc02f2f52526875bc549aa923c.jpg}">
        <h5><span>Slovenia Protesters Want New Election -Apr 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./montreal-canada-anti-lockdown-protest-may-2-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/cd646f17587c8d8b70fa67bd718a73f1.jpg}">
        <h5><span>Montreal Canada Anti Lockdown Protest -May 2 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./amsterdam-netherlands-anti-lockdown-protest-may-2-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/33e08ebebca0f975203498b491266444.jpg}">
        <h5><span>Amsterdam Netherlands AntI Lockdown Protest -May 2 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./quebec-canada-protest-may-2-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ca269fafda57ca6bbcbd1d8e914810c2.jpg}">
        <h5><span>Quebec Canada Protest -May 2 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./sweden-protest-may-2-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/3c0682a3508f05c4b61267c6ab7cdcba.jpg}">
        <h5><span>Sweden Protest -May 2 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./belgium-rebels-get-subdued-may-2-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/60e3c280252f211cf884d7a6b1c193e3.jpg}">
        <h5><span>Belgium Rebels get subdued -May 2 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./macron-raises-taxes-during-crisis-may-3-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/09a556b29a035500c913fb7c1f4d21c2.jpg}">
        <h5><span>Macron raises Taxes During Crisis -May 3 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./colombia-anti-tax-and-lockdown-protest-may-3-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/672e61e88005c9959889ee8283a24526.jpg}">
        <h5><span>Colombia Anti Tax & Lockdown Protest -May 3 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./vancouver-protest-may-1-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/0e0f4d17f8097d48f164ca580971427d.jpg}">
        <h5><span>Vancouver Protest -May 1 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brazil-protest-may-2-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/0ebcadada9f34970230ae0ed3d3d6d17.jpg}">
        <h5><span>Brazil Protest -May 2 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./colombia-protest-may-5-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/313eab9842914d8c817a0ee7886a8fc5.jpg}">
        <h5><span>Colombia Protest -May 5 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./colombia-on-the-tipping-point-may-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/43dad57c77ae2854ded79f54b4f2e8d3.jpg}">
        <h5><span>Colombia on the Tipping Point -May 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./colombia-protest-may-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/85a85b044039e96a21e099a384a35195.jpg}">
        <h5><span>Colombia Protest -May 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./montreal-protest-may-10-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/001dbbe9fdc695ec209a0ae6056df433.jpg}">
        <h5><span>Montreal Protest -May 10 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brighton-protest-may-8-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/0b5a276975b74bab79f6001eb6d5d819.jpg}">
        <h5><span>Brighton Protest -May 8 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./police-for-freedom-protest-in-the-netherlands-may-9-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/495f2486dfbd77476a12e9d583ec07dd.jpg}">
        <h5><span>"Police for Freedom" protest in The Netherlands -May 9 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./belgian-protest-on-bicycles-feb-25-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/bf98dfcaba8caaead818c02e977c1383.jpg}">
        <h5><span>Belgian Protest on Bicycles -Feb 25 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./barcelona-protest-feb-20-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/59cc2bbe321159e1ec7e3f6d29e76ad2.jpg}">
        <h5><span>Barcelona Protest -Feb 20 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./austria-protest-jan-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/882b3009ba0be7ba3c61ecc6c3acbf6c.jpg}">
        <h5><span>Austria Protest -Jan 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./austria-protest-2-jan-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/e2a5e4a1c0b6367c57d4b5992059074b.jpg}">
        <h5><span>Austria Protest 2 -Jan 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./austria-police-join-protest-jan-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/5a49873626bea2bf4edada1193d291ba.jpg}">
        <h5><span>Austria Police join Protest -Jan 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./australia-protest-freedom-feb-20-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/afbfe3a32b46268140e7cf10bd0c202e.jpg}">
        <h5><span>Australia Protest "Freedom" -Feb 20 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./amsterdam-veterans-face-off-with-police-mar-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/886fe7fcc09cd8c50d84557eb61d1357.jpg}">
        <h5><span>Amsterdam Veterans Face Off with Police -Mar 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./amsterdam-protest-mar-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/blank.png}">
        <h5><span>Amsterdam Protest –Mar 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./amsterdam-protest-feb-14-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/22f8bbf524ec94a0d2e383849dd372e2.jpg}">
        <h5><span>Amsterdam Protest -Feb 14 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./amsterdam-party-protest-feb-21-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/e795dbe38193db6cac596288ffc6032a.jpg}">
        <h5><span>Amsterdam Party Protest -Feb 21 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./rome-protest-may-19-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/0bb5b44a07dab28099daabe64f993f31.jpg}">
        <h5><span>Rome Protest -May 19 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./netherlands-protest-may-18-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/cf7ce7a1d5757a1c02019874a361ad6b.jpg}">
        <h5><span>Netherlands Protest -May 18 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./milan-protest-verita-may-16-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b1c5d0b30351ae9ce6886ccb6a7dd35b.jpg}">
        <h5><span>Milan Protest "Verita!" -May 16 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./japan-protest-may-16-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a1bf59e52eff522d3ca2729be290c804.jpg}">
        <h5><span>Japan Protest -May 16 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./norway-protest-may-16-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/df1e71509391b0a8711873b43d620ca7.jpg}">
        <h5><span>Norway Protest -May 16 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./czech-protest-may-16-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/f6c9ee5957882741245284cc85e4e441.jpg}">
        <h5><span>Czech Protest -May 16 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./colombia-worldwide-freedom-rally-may-16-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/1d8e0177976932cde8f04d7d9840ee00.jpg}">
        <h5><span>Colombia Worldwide Freedom Rally -May 16 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./croatia-worldwide-freedom-rally-may-16-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/d19db55769d5d3c6b5289290ec45e66e.jpg}">
        <h5><span>Croatia Worldwide Freedom Rally -May 16 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-protest-feb-9-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/26f7e0d636282dfe0fefbf6df990883d.jpg}">
        <h5><span>France Protest -Feb 9 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./switzerland-protest-may-23-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/d1d4ee45f4f39c26f79fdae504171ddb.jpg}">
        <h5><span>Switzerland Protest -May 23 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./join-the-london-march-may-23-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/fc059c46d5bed80fec5d08c3fd99f14a.jpg}">
        <h5><span>Join the London March! -May 23 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-farmers-protest-mar-26-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/0bdb2f2539170f4d780339f9b761409c.jpg}">
        <h5><span>France, Farmers Protest -Mar 26 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./free-victoria-protest-feb-12-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/67d0bad886897f32b0761fe355980bd1.jpg}">
        <h5><span>Free Victoria Protest -Feb 12 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./french-protest-school-closures-mar-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/82f33708705a402e4c462b695e18d751.jpg}">
        <h5><span>French Protest School Closures -Mar 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./genova-protest-basta-feb-22-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ea1d6e6c690ff1562df9b1b90fea782a.jpg}">
        <h5><span>Genova Protest "Basta!" -Feb 22 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./genova-protest-mar-16-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a97f398e0d8dbeaa1293b92e9257cb1c.jpg}">
        <h5><span>Genova Protest –Mar 16 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./https-slash-slash-open-dot-lbry-dot-com-slash-at-shortxxvids-e-slash-genova-protest-percent-e2-percent-80-percent-93mar-17-2021-f">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/5c34e8d70c9dbdd9de7bef9167eb1298.jpg}">
        <h5><span>https://open.lbry.com/@shortXXvids:e/Genova-Protest-%E2%80%93Mar-17-2021:f<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./german-anti-lockdown-protest-mar-14-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/f6dbfbfd70ce3e2836d9748aba17bc7c.jpg}">
        <h5><span>German Anti Lockdown Protest -Mar 14 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./germany-austria-border-protest-feb-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/92ae637a395e7ff8b43e0947095455d9.jpg}">
        <h5><span>Germany-Austria Border Protest -Feb 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./glasgow-protest-mar-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/e45172d0a5a1165b8116f6745a0d5f39.jpg}">
        <h5><span>Glasgow Protest –Mar 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./gibraltar-protest-mar-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/f57c584b1de0d73014117e622b9759e7.jpg}">
        <h5><span>Gibraltar Protest -Mar 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./greece-protest-jan-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/d85f42f7497ad34f4ec837bedf3fdf1c.jpg}">
        <h5><span>Greece Protest -Jan 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./greece-riots-after-police-brutality-p2-mar-9-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/07b159b781dd6cacf9a7fab4758f17a3.jpg}">
        <h5><span>Greece Riots after Police Brutality p2–Mar 9 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./germany-freedom-march-june-4-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/78557d3891bbe7069343b768f6a8ad53.jpg}">
        <h5><span>Germany Freedom March -June 4 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./montreal-freedom-protest-june-6-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/cbf1d7c99a25b60c6726a0d6bc3271fb.jpg}">
        <h5><span>Montreal Freedom Protest -June 6 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./uruguay-vax-pass-protest-june-6-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/85df33f75e99485ad0a4bac36c50c768.jpg}">
        <h5><span>Uruguay Vax Pass Protest -June 6 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./montreal-protest-against-medical-apartheid-june-6-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/743b0dbe6388014c4eaf0b0849b12306.jpg}">
        <h5><span>Montreal Protest Against Medical Apartheid -June 6 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./kuwait-freedom-protest-june-19-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/4876a7bfae01b28a7785be5f63bc91b0.jpg}">
        <h5><span>Kuwait Freedom Protest -June 19 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dublin-freedom-protest-june-19-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/f22815c534a7f602e99eff8b7885c6e5.jpg}">
        <h5><span>Dublin Freedom Protest -June 19 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./new-york-freedom-protest-june-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/5251338e685aa5821c8ac6bef238a91c.jpg}">
        <h5><span>New York Freedom Protest -June 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./kuwait-freedom-protest-june-29-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/216e2bfc646264c68e2ec2c62915c727.jpg}">
        <h5><span>Kuwait Freedom Protest -June 29 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-anti-dictatorship-protest-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b8f02cf688ee222971e5a6b13546640b.jpg}">
        <h5><span>France Anti Dictatorship Protest - July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-rises-up-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/fdf885330b27ba8456f635ce5f8f3e32.jpg}">
        <h5><span>France Rises Up - July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-freedom-protest-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/018cd5a338216533482397790bd82b68.jpg}">
        <h5><span>France Freedom Protest -July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-anti-macron-protest-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/035daf9dd91cc9148abe1f97c49840ea.jpg}">
        <h5><span>France Anti Macron Protest -July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./melbourne-antilockdown-protest-july-16-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/30a9dedf7644ef14d552d359a3a02d77.jpg}">
        <h5><span>Melbourne AntiLockdown Protest -July 16 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./greece-antivax-protest-july-16-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/cfa7ea08681dbe88cfd6184a7ac7e74d.jpg}">
        <h5><span>Greece AntiVax Protest -July 16 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./melbourne-freedom-protest-july-16-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/99f5598f1f1841364bd95cd9a281d886.jpg}">
        <h5><span>Melbourne Freedom Protest -July 16 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./ireland-peace-protest-july-15-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/2307eb6464a0d23780a808f412709ac9.jpg}">
        <h5><span>Ireland Peace Protest -July 15 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./ireland-freedom-protest-july-15-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ad69f78a1f9502867a3756245230a950.jpg}">
        <h5><span>Ireland Freedom Protest -July 15 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./french-police-join-protest-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/780b4982ae15a58fdc2a921a76a89b69.jpg}">
        <h5><span>French Police Join Protest -July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./dublin-medical-apartheid-protest-july-15-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/66a2d0c2856fa0e97219fd0cd0524eaa.jpg}">
        <h5><span>Dublin Medical Apartheid Protest -July 15 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./greece-anti-vax-protest-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/67aeb033c32fdb3aada998440b6a2bb5.jpg}">
        <h5><span>Greece Anti Vax Protest -July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./macron-we-dont-want-your-pass-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/8b83637d3cfe58395d1f13990e383a40.jpg}">
        <h5><span>"Macron, We Don't Want Your Pass!" –July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-anti-vax-mandate-protest-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/81d07d6ef52b46d6807b011428c8fab5.jpg}">
        <h5><span>France Anti Vax Mandate Protest - July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./toulouse-anti-vax-mandate-protest-july-17-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/0ccedadffedf2f96a270f906a3036ba4.jpg}">
        <h5><span>Toulouse Anti Vax Mandate Protest - July 17 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./italy-freedom-protest-july-23-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c30810a080b565eb55fe16f39f74b178.jpg}">
        <h5><span>Italy Freedom Protest -July 23 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./australians-fight-for-freedom-july-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/9b2690e0d18effd5271c1cbb9abeb45d.jpg}">
        <h5><span>Australians Fight for Freedom -July 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./sydney-freedom-protest-july-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c886dfdcf50415c6f5d108085237eee6.jpg}">
        <h5><span>Sydney Freedom Protest -July 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./australians-fight-for-freedom-july-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a1d83d639626e2dfd0c13e9ce9ba8c25.jpg}">
        <h5><span>Australians Fight for Freedom -July 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brisbane-anti-lockdown-protest-july-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b2779f6803276bf5106464e107c7d911.jpg}">
        <h5><span>Brisbane Anti Lockdown Protest -July 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./sydney-anti-lockdown-protest-july-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/7d260fa7e98e890d712953fd5e5d20c1.jpg}">
        <h5><span>Sydney Anti Lockdown Protest -July 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./melbourne-freedom-protest-july-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/2a2fe48f04de3c3de1ec39ba33cf5c32.jpg}">
        <h5><span>Melbourne Freedom Protest -July 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./brisbane-take-off-your-masks-july-24-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/bbbf407241f7c4ec1e40c489b9ebc069.jpg}">
        <h5><span>Brisbane "Take Off Your Masks!" -July 24 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./protests-by-slovakian-parliament-july-23-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/d431b45b121846d966a53045c57da0cd.jpg}">
        <h5><span>Protests by Slovakian Parliament -July 23 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./turin-anti-pass-protest-july-23-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/f95deee30e5abbf7cc7dbce046486654.jpg}">
        <h5><span>Turin Anti Pass Protest -July 23 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-anti-vax-protest-july-21-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/49ca51d9cde9b34624ba0ffc9e82b8f2.jpg}">
        <h5><span>France Anti Vax Protest -July 21 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-antipass-protest-july-21-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/3f3cf947d1a232d95ddf27de6e9b6665.jpg}">
        <h5><span>France AntiPass Protest -July 21 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./french-protesters-storm-town-hall-july-21-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/95b454f54b6895c3bbcdc3ed405fbf00.jpg}">
        <h5><span>French protesters storm town hall -July 21 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./pesaro-freedom-protest-july-28-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/3bf1516d7502cb1654ab9f91f1cba07c.jpg}">
        <h5><span>Pesaro Freedom Protest -July 28 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-anti-pass-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/7943b75575d2b3411e070595644fe93e.jpg}">
        <h5><span>France Anti Pass Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./trento-anti-vax-pass-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/8ef6eff9e68db02c38d480ba3bdbc99b.jpg}">
        <h5><span>Trento Anti Vax Pass Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./israel-anti-pass-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/6e71b7401a9bc847635f0b3dac3a0470.jpg}">
        <h5><span>Israel Anti Pass Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./paris-anti-pass-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/1df19219919ab9f027a8bd22d4787b6b.jpg}">
        <h5><span>Paris Anti Pass Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-liberte-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/blank.png}">
        <h5><span>France Liberte Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-freedom-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a77bb27bec88d7057d867954ee17ccaa.jpg}">
        <h5><span>France Freedom Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./milan-anti-pass-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/9f1d68bbdb8669a44f65382517ef21c7.jpg}">
        <h5><span>Milan Anti Pass Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./nice-anti-pass-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/7c8b7f85e94d10acbaf29f0a95c539ea.jpg}">
        <h5><span>Nice Anti Pass Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./verona-anti-pass-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/2bbe096b7a7c9588d5ba2dd3343d7ca8.jpg}">
        <h5><span>Verona Anti Pass Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./naples-anti-pass-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c1dfb5d93beb0a2c585749a6506e569f.jpg}">
        <h5><span>Naples Anti Pass Protest - July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./torino-no-green-pass-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/3b39bf120639a861b6a49936aeb76892.jpg}">
        <h5><span>Torino "No Green Pass!" -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./nice-firefighters-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/0486aaaca73fbf1a78121240be4f84ff.jpg}">
        <h5><span>Nice Firefighters Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./bastille-anti-pass-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/413e0c4bafad0c2ee1753cdd9734ca53.jpg}">
        <h5><span>Bastille Anti Pass Protest - July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-anti-vax-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/2cd9d7b820a151acf5843a5fe2ee3d16.jpg}">
        <h5><span>France Anti Vax Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./cagliari-doctor-on-tyranny-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/1fc3ecb330978f71977deb517c415821.jpg}">
        <h5><span>Cagliari Doctor on Tyranny -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./paris-anti-pass-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/7105339b84bbbdda531a598726d671c2.jpg}">
        <h5><span>Paris Anti Pass Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./marseille-anti-pass-protest-july-31-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/blank.png}">
        <h5><span>Marseille Anti Pass Protest -July 31 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./italians-burning-vax-passports-aug-7-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/6aebe6873dd3ed31c7f5ef544976d67e.jpg}">
        <h5><span>Italians burning vax passports - Aug 7 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./berlin-protesters-evade-police-aug-1-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/7c78ae7d686403d7856a5df57f671e59.jpg}">
        <h5><span>Berlin Protesters Evade Police -Aug 1 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-anti-pass-protest-aug-6-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/blank.png}">
        <h5><span>France Anti Pass Protest -Aug 6 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./torino-protest-liberta-aug-6-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/d73647f2b93f2057c402e5b72acaa72a.jpg}">
        <h5><span>Torino Protest "Liberta!" -Aug 6 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-anti-vax-and-pass-protest-aug-6-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/a6c3c2ef3ab8de487b20a8c1291f9fe2.jpg}">
        <h5><span>France Anti Vax & Pass Protest -Aug 6 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./melbourne-anti-lockdown-protest-aug-5-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/07e5324256b9233a170f61d869149d43.jpg}">
        <h5><span>Melbourne Anti Lockdown Protest -Aug 5 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./melbourne-freedom-protest-aug-5-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/6a0b731e3c47b766fb7c9e3995dc7b2d.jpg}">
        <h5><span>Melbourne Freedom Protest -Aug 5 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./latvia-anti-pass-protest-aug-5-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b1ba5d6f5ffbe94f477865bffd1b3647.jpg}">
        <h5><span>Latvia Anti Pass Protest -Aug 5 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-for-freedom-aug-2-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/ff683691b9fd4f8e8720a066556604fd.jpg}">
        <h5><span>France for Freedom -Aug 2 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./texas-vax-mandate-protest-aug-8-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/183c129598cd09584c49a38fc5c49e24.jpg}">
        <h5><span>Texas Vax Mandate Protest -Aug 8 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./florence-vax-pass-protest-aug-8-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/blank.png}">
        <h5><span>Florence Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./poland-vax-pass-protest-aug-8-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/fce201321733f55d1f143c4fb950b927.jpg}">
        <h5><span>Poland Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./rome-vax-pass-protest-aug-8-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/28108f32d6f31f5d03bdd1d4b46c4f93.jpg}">
        <h5><span>Rome Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./france-vax-pass-protest-aug-8-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/blank.png}">
        <h5><span>France Vax Pass Protest -Aug 8 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./milan-vax-pass-protest-aug-9-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/c285af78ed2c213d45d765e061b4bf7e.jpg}">
        <h5><span>Milan Vax Pass Protest -Aug 9 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
   <div class="grid-item">
    <a href="./were-not-gonna-take-it-anymore-aug-9-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/2a09d47b2e8ba99479181ababf98ef36.jpg}">
        <h5><span>We're Not Gonna Take It Anymore! -Aug 9 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
</div>
</div>

--- name:subcat_descr pipeline:erb
  The Protests of Groups against the New Normal

--- name:page_title pipeline:erb
<div class="centered cat_name">
  Mass Protest
</div>

--- name:vid_count pipeline:erb
<div class="vid_count _center">
  191 VIDEOS
</div>

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../old-think">OLD-THINK</a>
    </div>