---
title: "Alt Media"
home_url: ../
vid_count: 235
all_vid_count: 1239
top_right:  " "
template: "../default.template"
---

<a class="scat_in_cat" href="./more">MORE &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./more/spending-more-on-tests-than-care-apr-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a7fdd52c23b4e21e288097ef91139feb.jpg}">
            <h5><span>"Spending More on Tests than Care" -Apr 26 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-craig-on-asymptomatic-transmission-dec-8-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ad06178c5fca1f84724aceda1d0312f3.jpg}">
            <h5><span>Dr Craig on Asymptomatic Transmission -Dec 8 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/tucker-carlsen-masks-are-repulsive-and-abuse-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/668381ac50ca8743812bb60b5647ce27.jpg}">
            <h5><span>Tucker Carlsen Masks are "Repulsive" & "Abuse" -Apr 27 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/thought-police-feb-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/58153888f7ae13e3c1c283cd82c803d0.jpg}">
            <h5><span>Thought Police -Feb 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/yeadon-this-is-our-last-chance-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1b766d5f624fe97a12fba94285bc8228.jpg}">
            <h5><span>Yeadon "This is our Last Chance" -May 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/school-nurse-masks-harm-kids-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/71e8a93fe210721e79a7e39b45f8653d.jpg}">
            <h5><span>School Nurse "Masks Harm Kids" -May 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/bret-weinstein-on-joe-rogan-and-vaccine-science-may-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/eab3aa93104c129a09ee7484e8b71960.jpg}">
            <h5><span>Bret Weinstein on Joe Rogan & Vaccine Science -May 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/science-is-based-on-challenge-of-ideas-may-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e6aeffec8d81e294d06c79b54bfe4295.jpg}">
            <h5><span>Science is Based on Challenge of Ideas -May 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/prof-bakhdi-zero-science-mar-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7cd91dab31dfeaee0cfab46822625bc0.jpg}">
            <h5><span>Prof Bakhdi "Zero Science" –Mar 18 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/charles-walker-mocks-health-passport-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d1328bb63019a2c5b0464784e8d4dcd1.jpg}">
            <h5><span>Charles Walker Mocks Health Passport -Apr 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/polish-pm-vows-to-defend-free-speech-jan-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f000a848058728b9da4e71671f4a73ad.jpg}">
            <h5><span>Polish PM Vows to Defend Free Speech -Jan 12 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/rand-paul-on-faucis-noble-lies-mar-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bf54181f38fccefa8002dbb46f6820ee.jpg}">
            <h5><span>Rand Paul on Fauci's Noble Lies -Mar 13 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/former-ons-head-of-health-analysis-data-is-misleading-mar-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6bf94d2d666dd57201a092a3a8b8e1da.jpg}">
            <h5><span>Former ONS Head of Health Analysis "Data is Misleading" –Mar 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/ron-paul-why-this-push-to-vaccinate-kids-may-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/90378b158388ced44f54a275c1ec143c.jpg}">
            <h5><span>Ron Paul "Why This Push To Vaccinate Kids" -May 5 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/children-are-dying-from-the-vaccine-may-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e00c2fa5bec84e6307af7afde3c0763e.jpg}">
            <h5><span>Children Are Dying from the Vaccine -May 22 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/ron-paul-how-texas-killed-covid-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/887ffdfb9de2d1e85f03f11815c179b6.jpg}">
            <h5><span>Ron Paul "How Texas Killed Covid" -May 25 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/asymptomatic-transmission-no-scientific-basis-may-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/552c9f52fd031b48a3f54b154dc052e2.jpg}">
            <h5><span>Asymptomatic Transmission "No Scientific Basis" -May 5 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/vaccines-and-teen-heart-attacks-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/32cb771a2af4112a45cabc4f963db1ef.jpg}">
            <h5><span>Vaccines & Teen Heart Attacks -May 25 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/naomi-wolf-and-james-delingpole-discuss-censorship-may-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5acdec1372f6eef72fcb03ae564428ef.jpg}">
            <h5><span>Naomi Wolf & James Delingpole discuss Censorship -May 3 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/how-the-cdc-counted-cases-before-and-after-the-vaccines-may-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/922f91e5ff9d7ff8d6c81f59e15f397e.jpg}">
            <h5><span>How The CDC Counted Cases Before & After The Vaccines -May 24 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/cdc-alters-case-definition-may-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7fa00cd6ce70a081f0a7e3fbae83b8e6.jpg}">
            <h5><span>CDC Alters Case Definition -May 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-kaufman-on-virus-isolation-apr-29-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bb7e6e4d0aa46a12e9604b3b1cff675e.jpg}">
            <h5><span>Dr Kaufman on Virus Isolation -Apr 29 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/new-normal-doc-government-doesnt-give-us-our-rights-jan-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d568c284ad11ab610fc67fbc3b4d8724.jpg}">
            <h5><span>New Normal Doc "Government Doesn't Give Us Our Rights" -Jan 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/rand-paul-on-vaccine-logic-and-mandates-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/683e68e655574f6009119502cf348623.jpg}">
            <h5><span>Rand Paul on Vaccine Logic & Mandates -May 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-mccullough-vaccine-dangerous-for-kids-june-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/619d95bdc21dcd6c15b83ed8987e10fd.jpg}">
            <h5><span>Dr McCullough "Vaccine Dangerous for Kids" -June 2 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/no-vaccine-studies-on-pregnancy-june-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ac953c123e8f789803a050dbeee1b3de.jpg}">
            <h5><span>No Vaccine Studies on Pregnancy -June 1 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/the-vaccine-vs-ivermectin-double-standard-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/843c816bbfc9cf354aa12bfa2f31f341.jpg}">
            <h5><span>The Vaccine vs Ivermectin Double Standard-June 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-mccullough-vaccine-injury-data-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d071d56fbb3f075b22cd92795a9ec699.jpg}">
            <h5><span>Dr McCullough Vaccine Injury Data -June 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/cdc-director-misrepresents-data-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/db247b7b30ffcf70ff9c097ce914aeb6.jpg}">
            <h5><span>CDC Director Misrepresents Data -June 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/covid-death-counting-changes-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/deb632e4cd592e6e03f98fc83d93e118.jpg}">
            <h5><span>Covid Death Counting Changes -June 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/munich-university-lockdown-had-no-effect-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3596b7425e8e38853b4b8d22230fac58.jpg}">
            <h5><span>Munich University "Lockdown had NO Effect" -June 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/faucis-email-releases-and-truth-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/565d34d6160c5264f703cc7e09ac1a57.jpg}">
            <h5><span>Fauci's Email Releases & Truth -June 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/vaccine-and-government-control-mar-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/44a93ec63b86e042f9b8bdce4021211b.jpg}">
            <h5><span>Vaccine & Government Control –Mar 12 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/governments-are-crushing-their-own-economies-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/369fde7c7a7302dee0ac5cbb83500c1a.jpg}">
            <h5><span>"Governments Are Crushing Their Own Economies" -Feb 12 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-kendrick-half-of-excess-deaths-are-result-of-lockdown-mar-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e0475f804530d9ec0b8f64a7567a1615.jpg}">
            <h5><span>Dr Kendrick "Half of Excess Deaths are Result of Lockdown" –Mar 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-cahill-the-people-in-power-will-be-held-to-account-may-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2560ea218a3ed253c2303e9de0bb8350.jpg}">
            <h5><span>Dr Cahill "The People in Power Will Be Held To Account" -May 21 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-yeadon-asymptomatic-transmission-facts-and-lies-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fa37ef13eb36eab821038fec17efb762.jpg}">
            <h5><span>Dr Yeadon "Asymptomatic" Transmission Facts & Lies -June 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/big-pharma-censorship-of-ivermectin-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f52aa5b7364c18329e8b4a831f777313.jpg}">
            <h5><span>Big Pharma Censorship of Ivermectin -June 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-zelenko-explains-misleading-term-gain-of-function-june-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7347b8304b136ce1ae2af1527077d63c.jpg}">
            <h5><span>Dr Zelenko Explains Misleading Term Gain-Of-Function -June 3 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/death-graphs-post-vaccine-apr-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a4a2d0c4070e68685659cd50ddb754ec.jpg}">
            <h5><span>Death Graphs Post Vaccine -Apr 22 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/educational-short-is-the-vaccine-safe-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/48be7e7c25b50b01491506a4d1e3d3a2.jpg}">
            <h5><span>Educational Short: Is the Vaccine Safe? -May 20 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/is-the-vaccine-efective-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/506e83fe04f91cbe3db170d2c56bb285.jpg}">
            <h5><span>Is the Vaccine Efective? -May 20 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/what-is-in-the-vaccine-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ae65914b96f4d029fdd3b39830db9404.jpg}">
            <h5><span>What is in the Vaccine? -May 20 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/whistleblower-vax-adverse-reactions-not-recorded-june-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/556d5ccd3940378b62516a5ff4b0780a.jpg}">
            <h5><span>Whistleblower "Vax Adverse Reactions Not Recorded" -June 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/libertarian-pbs">
          <div class="image">
            <img src="https://i.ytimg.com/vi/cE4tEkUqPrk/mqdefault.jpg">
            <h5><span>Libertarian PBS<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/how-dangerous-is-covid-may-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f6559e7cfde99f752a0e11bc83f4ecb2.jpg}">
            <h5><span>How Dangerous is Covid? -May 20 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/fauci-attacking-me-is-attacking-science-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/75cd81ff1e5f6bbf2d871b524bca17f0.jpg}">
            <h5><span>Fauci "Attacking Me is Attacking Science!"-June 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/senator-rand-fauci-lied-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/44eec27b08ccf91823eca46b7fb72787.jpg}">
            <h5><span>Senator Rand "Fauci Lied" -June 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/2010-rockefeller-report-outlines-covid-measures-june-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b4c0a958ee4f076cfcb04675712e5fb1.jpg}">
            <h5><span>2010 Rockefeller Report Outlines Covid Measures -June 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/public-vs-private-fauci-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9e57c667c328869c5712d62d4afa4916.jpg}">
            <h5><span>Public vs Private Fauci -June 10 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-fleming-on-vaccine-effectiveness-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/00900437fd361ee89881464f29baad68.jpg}">
            <h5><span>Dr Fleming on Vaccine Effectiveness -June 10 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/vax-and-fatal-heart-disorder-in-kids-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/287e80d2fd46c17b7a19d7d37ba33db4.jpg}">
            <h5><span>Vax & Fatal Heart Disorder in Kids -June 11 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-fleming-on-vaccine-injuries-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5><span>Dr Fleming on Vaccine Injuries -June 11 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/animal-vaccine-testing-and-results-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5abce113bcc805a92797e8fb9a2f464c.jpg}">
            <h5><span>Animal Vaccine Testing & Results -June 11 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/professor-bhakdi-on-vax-dangers-to-ovaries-and-placenta-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5637275799445b070ad34ca6e3d1da5f.jpg}">
            <h5><span>Professor Bhakdi on Vax Dangers to Ovaries & Placenta -June 11 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/colleges-mandate-vax-for-students-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e3a18f23de02dc051b62fd2910fc9b67.jpg}">
            <h5><span>Colleges Mandate Vax for Students -June 12 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/vaccines-not-safe-for-kids-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8cdf6822aec3b9e8df9e2c13b7bafd73.jpg}">
            <h5><span>Vaccines Not Safe For Kids -June 11 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/professor-bhakdi-on-vaccines-and-pregnancy-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9460c6ac623e60f1d1f379eefc38d932.jpg}">
            <h5><span>Professor Bhakdi on Vaccines & Pregnancy -June 12 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/vaccinated-teens-and-heart-deaths-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7d6bdde3dff2d14652b0ae43a1972b39.jpg}">
            <h5><span>Vaccinated Teens & Heart Deaths -June 12 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/vaccine-passport-is-unacceptable-june-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ae7877004a2c3e870b041ec5a6c5aa95.jpg}">
            <h5><span>Vaccine Passport is Unacceptable -June 12 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-reiner-fuellmich-on-the-trueman-show-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d7b67af48f5b307943cb2c3763c6e4f8.jpg}">
            <h5><span>Dr. Reiner Fuellmich on the Trueman Show - June 10 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/msm-many-channels-one-script-sept-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b0d182fda4f18ffc332d5ccce3900409.jpg}">
            <h5><span>MSM Many Channels, One Script -Sept 1 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/iconic-podcast-on-vaccine-fact-and-fiction-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2d58720da08c142056d545498ded5ee8.jpg}">
            <h5><span>Iconic Podcast on Vaccine Fact & Fiction -June 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/neil-oliver-on-maskless-and-happy-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/68cbf6762d29ffd80ef12fe8e803ee12.jpg}">
            <h5><span>Neil Oliver on "Maskless & Happy" -June 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/the-new-normal-propaganda-formula-sept-1-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/285d5a7923f0ab47413d2c774aff71da.jpg}">
            <h5><span>The New Normal Propaganda Formula -Sept 1 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-mccullough-vax-safety-issues-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/be540bf30287a861ab5cd0c67a191539.jpg}">
            <h5><span>Dr McCullough Vax Safety Issues -June 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/vax-inventor-we-dont-know-the-risks-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c2455dd24c41354b13884c56f0fc5cc3.jpg}">
            <h5><span>Vax Inventor "We Don't Know the Risks" -June 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/infowars-on-bioterrosism-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3f3a3d582c7119aeab43245b5c5204a8.jpg}">
            <h5><span>InfoWars on BioTerrosism -June 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/inventor-of-mrna-vax-discusses-risks-june-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e5c26de08e3a2b956bd572ef9f46236c.jpg}">
            <h5><span>Inventor of mRNA Vax Discusses Risks -June 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/who-says-vax-is-dangerous-to-kids-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7ec7111226f368c76eff634328970889.jpg}">
            <h5><span>WHO says Vax is Dangerous to Kids -June 22 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/swedens-different-pandemic-response-june-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5><span>Sweden's Different Pandemic Response -June 20 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/george-galloway-is-this-labour-tv-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5d346bf1be45e6a9e13242fdcd2e1e2a.jpg}">
            <h5><span>George Galloway "Is this Labour TV?" -June 30 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-kory-on-ivermectin-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/535e45293603d0e806945f56dfcac23f.jpg}">
            <h5><span>Dr Kory on Ivermectin -June 29 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/fauci-had-malice-intent-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2125fd705972b43dbcc2ea667519da5c.jpg}">
            <h5><span>"Fauci Had Malice Intent" -June 29 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/mit-scientist-on-vaccine-risks-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2ff093b6a394d09d7dfc08aae32101d4.jpg}">
            <h5><span>MIT Scientist on Vaccine Risks -June 30 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-tyson-on-ivermectin-and-hcq-july-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/84bb7c7e8f515d6ff6d07e36859526a2.jpg}">
            <h5><span>Dr Tyson on Ivermectin & HCQ -July 1 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/bret-weinstein-on-big-tech-and-big-pharma-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/00ac2fca55c696aac5e44a22d292f2a3.jpg}">
            <h5><span>Bret Weinstein on Big Tech & Big Pharma -June 30 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/doctor-of-neurology-on-vaccine-injuries-june-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b5763d28b662338e2c34cd89cb59768f.jpg}">
            <h5><span>Doctor of Neurology on Vaccine Injuries -June 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/francis-hoar-on-london-protest-the-awakening-june-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/917283a02c2d503be982b04c10955972.jpg}">
            <h5><span>Francis Hoar on London Protest "The Awakening" -June 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/12-year-old-maddie-after-the-vaccine-june-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5e8907e4e7cc52a1266c6cdab9e8deec.jpg}">
            <h5><span>12-Year-old Maddie After the Vaccine -June 29 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/medical-apartheid-in-ireland-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4fb1202b2adee4795dc879a896b059d2.jpg}">
            <h5><span>Medical Apartheid in Ireland -June 30 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/alan-jones-on-fear-peddling-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/839c8e8341bef322bcab402661f729e7.jpg}">
            <h5><span>Alan Jones on Fear Peddling -July 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/not-your-body-not-your-choice-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e4089f30924a1ae1cbd8163cee227f7a.jpg}">
            <h5><span>Not Your Body, Not Your Choice! -July 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/prof-ioannidis-on-lockdown-fallacies-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9a8298d479199cf3919d758ec6d57632.jpg}">
            <h5><span>Prof Ioannidis on Lockdown Fallacies -July 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-saphier-on-vaccine-logic-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a6e07fa42e13b603ce8ffab1af7bd225.jpg}">
            <h5><span>Dr Saphier on Vaccine Logic -July 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-madej-vaccine-advise-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b9a47524a691699cfb4f5d3108a59860.jpg}">
            <h5><span>Dr Madej Vaccine Advise -July 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/prof-ioannidis-on-lockdown-damages-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/45f49bed3e58d9498fef3d93ae58f6f1.jpg}">
            <h5><span>Prof Ioannidis on Lockdown Damages -July 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/what-happened-to-me-after-vax-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7c87b188617899c651e2af38353b32e7.jpg}">
            <h5><span>What Happened To Me After Vax -July 17 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/white-house-and-big-tech-censorship-july-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/67b35a36e81ecc74cd9b72e138faf175.jpg}">
            <h5><span>White House & Big Tech Censorship -July 16 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/masks-also-for-vaccinated-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7fc492f9c75790f759e7558ea491a68c.jpg}">
            <h5><span>Masks Also for Vaccinated -July 17 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/monthly-vaccines-anyone-july-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c7fe06151f68902a25960bd0bef50c24.jpg}">
            <h5><span>Monthly Vaccines Anyone? -July 16 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/who-dies-from-covid-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9a16bdfdfe3bc9456532f0b9efad963b.jpg}">
            <h5><span>Who Dies from Covid? -July 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/who-really-spreads-misinformation-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/01092d3b3c94be8a356767f6eade4361.jpg}">
            <h5><span>Who Really Spreads Misinformation? -July 17 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/neil-oliver-grieves-over-freedom-day-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a85488df32bbd3cf0cab92698792a6ad.jpg}">
            <h5><span>Neil Oliver Grieves over Freedom Day -July 17 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/g-wisnewski-we-must-all-do-something-jun-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/30eef174ed289aa64f97fc00b14521a9.jpg}">
            <h5><span>G. Wisnewski - We must all do something - Jun 25 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/we-dont-know-anything-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ddc43efc90518780106c3f729bfa0c84.jpg}">
            <h5><span>"We Don't Know Anything" -July 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/nfl-players-against-vax-mandates-july-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/745c74f6db16b6dbff5ad5a9b90bd071.jpg}">
            <h5><span>NFL Players Against Vax Mandates -July 24 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-fleming-on-door-to-door-vax-july-24-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6305dbeaf39587ad1a0a710a2bdd4c43.jpg}">
            <h5><span>Dr Fleming on Door to Door Vax -July 24 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-mccullough-natural-immunity-is-best-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/659044e896cc068297edc86e5d55ceb3.jpg}">
            <h5><span>Dr McCullough Natural Immunity is Best -July 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/israel-vax-millions-unused-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f8eb3533b42818c67eb5c2ca65c17258.jpg}">
            <h5><span>Israel Vax Millions Unused -July 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/bidens-misinformation-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5013abb6610cb6a76a649d3985553a5e.jpg}">
            <h5><span>Biden's Misinformation -July 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/inventor-mrna-vaccines-and-safety-jul-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/228c1298db2aedccf8bfbe2a09ce645d.jpg}">
            <h5><span>Inventor mRNA Vaccines &Safety -Jul 26 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/cdc-unelected-head-of-state-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f0a38f208621b54c29df9d9af8a7c0e7.jpg}">
            <h5><span>CDC Unelected Head of State? -July 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-malone-vax-dangers-and-group-think-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c4d502a10fdb1799364798348168f6fe.jpg}">
            <h5><span>Dr Malone Vax Dangers & Group Think -July 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/pfizers-small-print-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/28e8e8c48d1db88b1abc9870ae1c53eb.jpg}">
            <h5><span>Pfizer's Small Print -July 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/climate-change-truths-and-lies-july-9-2021">
          <div class="image">
            <img src="https://i.ytimg.com/vi/__0vveW3VkY/mqdefault.jpg">
            <h5><span>Climate Change Truths & Lies -July 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/crime-against-children-july-09-201">
          <div class="image">
            <img src="https://i.ytimg.com/vi/E8RLtCGQLQU/mqdefault.jpg">
            <h5><span>Crime against Children -July 09 201<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/delta-wave-scare-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/blank.png}">
            <h5><span>Delta Wave Scare -July 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/government-mis-guidance-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cc7f291014cfa899a8a73e140463164b.jpg}">
            <h5><span>Government Mis-Guidance -July 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/the-vax-myth-of-freedom-july-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f3741e72c7ee73b9c437af344d4c3f48.jpg}">
            <h5><span>The Vax Myth of Freedom -July 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/wonder-drugs-dont-work-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4ab6286e01ed72fe5237cddee90f0518.jpg}">
            <h5><span>Wonder Drugs Don't Work -July 30 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/german-newspaper-apologizes-for-lockdowns-aug-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/44b7976402e70dc56b8180f6b0798bc0.jpg}">
            <h5><span>German NewsPaper Apologizes for Lockdowns -Aug 1 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/vaccine-disaster-dec-4-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/36d6ba8069417dcefc09fbd71c0ebec8.jpg}">
            <h5><span>Vaccine Disaster -Dec 4 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/j-elliot-of-iconic-podcast-on-the-scamdemic-sep-7-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/891b546716dac61d48b91cd3710dcdb6.jpg}">
            <h5><span>J Elliot of ICONIC podcast on the scamdemic - Sep 7 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/german-resistance-from-the-coldwellian-times-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dc8f15026d9c7adf16cff51bfc730ca2.jpg}">
            <h5><span>German resistance from The Coldwellian Times! - Aug 6 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/freedom-wins-in-alberta-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/11841933f3077220441183409081ea08.jpg}">
            <h5><span>Freedom Wins in Alberta -Aug 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/vax-pass-and-medical-tyranny-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/81c7775783d10646514d48b07e3cd50b.jpg}">
            <h5><span>Vax Pass & Medical Tyranny -Aug 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/ted-nugent-on-freedom-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c93f05dc2ee6874c41969adfb98ef789.jpg}">
            <h5><span>Ted Nugent on Freedom -Aug 6 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/doing-the-right-thing-nov-22-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/248c2b9225496d2b1c4459e50e10f654.jpg}">
            <h5><span>Doing the Right Thing -Nov 22 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./uk-column-news">UK COLUMN NEWS &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./uk-column-news/uk-government-docs-show-fear-is-policy-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4827e7afc0616247bf8efa1a4eff67ad.jpg}">
            <h5><span>Uk government docs show Fear is Policy -Apr 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/sage-deaths-stats-change-for-vaccine-apr-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c1c1e1f53bf4aac2d5f35590ebfc1419.jpg}">
            <h5><span>Sage: Deaths Stats Change for Vaccine -Apr 30 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/where-has-the-flu-gone-may-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/41e8e0d1dedadd5e4c12979e3ecc13e4.jpg}">
            <h5><span>Where has the Flu Gone -May 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/uk-column-news-where-corona-thrives-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6d56dcab1fcd7ea5b9d1cb7af115f59e.jpg}">
            <h5><span>UK Column News "Where Corona Thrives" -Apr 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/nhs-vaccine-whistleblower-p1-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fed376bcc75e9e7dbe16caeddcf5bbdc.jpg}">
            <h5><span>NHS Vaccine Whistleblower p1 -Apr 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/nhs-vaccine-whistleblower-p2-designed-to-mislead-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ba20a8f23b1e6fb9830ed2f3a0b7acb0.jpg}">
            <h5><span>NHS Vaccine Whistleblower p2 "Designed to Mislead" -Apr 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/nhs-vaccine-whistleblower-p3-shut-up-apr-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/df30bc1d7f08621c4cecee0be33b93da.jpg}">
            <h5><span>NHS Vaccine Whistleblower p3 "Shut Up!" -Apr 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/anti-vaccine-song-at-london-demo-may-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/277d3e53773ef72739050d2fa289fed8.jpg}">
            <h5><span>Anti Vaccine song at London Demo - May 29 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/bbc-is-no-longer-credible-may312021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cdd97f004b6a393ed1ba9b239c60defb.jpg}">
            <h5><span>"BBC Is No Longer Credible" -May312021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/msm-grossly-lies-about-protest-events-may-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/110b76b45bad910544428ea7027ee5d7.jpg}">
            <h5><span>MSM Grossly Lies about Protest Events -May 31 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/harsh-reality-of-vaccines-may-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5e94a5ffc221442acdab0dc060b7d28f.jpg}">
            <h5><span>"Harsh Reality of Vaccines" -May 31 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/uk-column-news-banned-from-youtube-may-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4b28c83cc2b3dcf5ab23eed5ca503a53.jpg}">
            <h5><span>UK Column News Banned from Youtube -May 31 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/myth-of-asymptomatic-spread-june-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/332971302b2c3459ba54e7b0607909ef.jpg}">
            <h5><span>Myth of Asymptomatic Spread - June 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/ukcolumn-covid-cats-pcr-asymptomatics-july-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/adaf581dff814aa837b21bae6c83aa9a.jpg}">
            <h5><span>UKColumn - Covid Cats, PCR, Asymptomatics - July 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/dr-sam-white-vs-the-nhs-july-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/77b3c5a2b814ff2cb700e107067de544.jpg}">
            <h5><span>Dr. Sam White vs the NHS - July 5 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/nhs-vaccine-propaganda-video-july-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6a474d17b202b74998cc9e1446346362.jpg}">
            <h5><span>NHS Vaccine Propaganda Video - July 5 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/uk-az-victim-update-report-jul-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4625808b12675d5b0264aedf1302bbe6.jpg}">
            <h5><span>UK AZ victim update report - Jul 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./uk-column-news/jab-for-uk-16-and-17-yr-olds-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/701d6a5b9d417c3eb26fd5aa0e2b7256.jpg}">
            <h5><span>Jab for UK 16 & 17 yr olds - Aug 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./the-corbett-report">THE CORBETT REPORT &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./the-corbett-report/cherylboruszko-print-ready-protest-stickers-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/88c7ab18a685e58063422e5b9bfaf3bb.jpg}">
            <h5><span>"cherylboruszko" Print Ready Protest Stickers -May 25 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./the-corbett-report/james-corbett-on-universal-income-may-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fb8054ac9e48012d2305da625e71a4be.jpg}">
            <h5><span>James Corbett on Universal Income -May 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./the-corbett-report/henry-kissinger-on-the-new-world-order-apr-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/16a42d46af3979d31e5604bb4ae54360.jpg}">
            <h5><span>Henry Kissinger on the New World Order -Apr 2 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./the-corbett-report/global-civil-war-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3ddc0f33fb1f182d994a2af1596f3f3d.jpg}">
            <h5><span>Global Civil War -July 31 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./talkradio">TALKRADIO &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./talkradio/dr-salmon-lockdowns-did-not-protect-the-vulnerable-apr-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b09216ef4e1d969131126439bee12bb8.jpg}">
            <h5><span>Dr Salmon "Lockdowns did Not Protect the Vulnerable" -Apr 29 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/dr-salmon-questions-the-label-expert-apr-29-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/b89fd885ab1cd92d4796f9da2eb31db5.jpg}">
            <h5><span>Dr Salmon Questions the Label "Expert" -Apr 29 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/prof-sikora-pandemic-is-over-may-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6bfb11f7d4aae9b6c14e706bcd41c9e1.jpg}">
            <h5><span>Prof Sikora "Pandemic is Over" -May 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/right-said-fred-no-to-vax-passports-may-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7363e2d107fa4fe8c49537becfec82b1.jpg}">
            <h5><span>Right Said Fred "No to Vax Passports" -May 3 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/chef-tonia-buxton-questions-fear-agenda-may-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dd3c60b881135766bcab7c625dbd0710.jpg}">
            <h5><span>Chef Tonia Buxton Questions Fear Agenda -May 6 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/covid-zero-is-britain-zero-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a3aa68836dd13c511ff1671a6b69df54.jpg}">
            <h5><span>"Covid-Zero is Britain-Zero" -Feb 12 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/we-must-debate-the-measures-feb-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/d4ae758aae26ae72f5aa7fef96976fe7.jpg}">
            <h5><span>"We Must Debate the Measures"-Feb 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/hitchens-thanking-big-brother-for-a-beer-apr-13-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a380a52f0a542963424267734191b115.jpg}">
            <h5><span>Hitchens "Thanking Big Brother for a Beer" -Apr 13 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/harvard-prof-vaccine-passports-not-needed-apr-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/dbb4f05b1d0d97b8ada3e208486e4923.jpg}">
            <h5><span>Harvard Prof Vaccine Passports not needed -Apr 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/prof-livermore-says-vaccine-pass-not-needed-apr-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/40384a16b113ca21d38dde78aa2d382f.jpg}">
            <h5><span>Prof Livermore says Vaccine Pass not needed -Apr 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/i-dont-need-advice-how-to-live-my-life-apr-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0bcd68cd627921550bebab7ecf673938.jpg}">
            <h5><span>"I Don't Need Advice how to live My Life" -Apr 14 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/experts-say-covid-test-is-unreliable-mar-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c3cee3cc909c8ffed7bcb89b43e2a1e2.jpg}">
            <h5><span>Experts say Covid Test is Unreliable -Mar 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/nandy-vaccines-wont-end-lockdowns-apr-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2998d77a2da0687b4aaba303e4625fd7.jpg}">
            <h5><span>Nandy: Vaccines Won't End Lockdowns -Apr 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/dr-craig-lockdowns-dont-work-may-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5995461bcafe9f7eee19e18472037a60.jpg}">
            <h5><span>Dr Craig "Lockdowns Don't Work" -May 18 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/nhs-dr-lee-government-not-looking-out-for-people-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/33be2752acc9133cb3a2fa22b97cee0f.jpg}">
            <h5><span>NHS Dr Lee "Government Not Looking Out For People" -May 28 2021.<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/lord-sumption-on-dishonest-government-propaganda-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0099a2ee06fdc0062673d974072dbe04.jpg}">
            <h5><span>Lord Sumption on "Dishonest Government Propaganda" -May 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/rich-and-powerful-dont-need-to-isolate-june-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e0d08c532041789b19c21056dc3f1fc7.jpg}">
            <h5><span>Rich & Powerful Don't Need to Isolate -June 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/surprise-2-more-weeks-of-lockdown-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2044dd7eded3b978922f5f9384ee2958.jpg}">
            <h5><span>Surprise: 2 More Weeks of Lockdown! -June 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/i-dont-think-taking-freedoms-is-funny-june-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4be54d29f6175e71e1c6cf64f03f38c2.jpg}">
            <h5><span>"I Don't Think Taking Freedoms is Funny" -June 8 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/have-our-kids-not-suffered-enough-feb-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2aaecc00f4846de4d5da24fd954c3879.jpg}">
            <h5><span>"Have Our Kids Not Suffered Enough?" -Feb 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/prof-heneghan-on-doomsday-predictions-nov-2-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/6b7edd043cdfe0b214361f809daf851f.jpg}">
            <h5><span>Prof Heneghan on Doomsday Predictions -Nov 2 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/prof-pollard-covid-tests-in-schools-should-be-scrapped-june-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0bf4479ce8f67e67f522e1c54ec3438d.jpg}">
            <h5><span>Prof Pollard "Covid Tests in Schools Should Be Scrapped!" -June 18 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/450-per-day-die-of-cancer-june-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c7a6a16ac86bb767b42f56e6cf11414e.jpg}">
            <h5><span>"450 per Day Die of Cancer" -June 18 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/dr-lawrie-on-vaccine-deaths-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1781cb1bbad076779d7cbe6d1c22485b.jpg}">
            <h5><span>Dr Lawrie on Vaccine Deaths -July 17 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./talkradio/dr-craig-on-mask-efficacy-july-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2692dd28da3670d80dd60db14fac88bd.jpg}">
            <h5><span>Dr Craig on Mask Efficacy -July 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./rfk-jr-childrens-health-defence">RFK JR CHILDREN'S HEALTH DEFENCE &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./rfk-jr-childrens-health-defence/fauci-and-moderna-vaccines-power-play-mar-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f1a06e6622ace61eaee29d3329b6fd3e.jpg}">
            <h5><span>Fauci & Moderna Vaccine’s Power Play –Mar 10 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./rfk-jr-childrens-health-defence/rfk-jr-on-fauci-who-and-bill-gates-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2e9bf4f2e034c233c48ec9ded405fbdd.jpg}">
            <h5><span>RFK jr on Fauci, WHO & Bill Gates -Apr 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./rfk-jr-childrens-health-defence/rfk-jr-and-del-bigtree-on-covid-vaccine-july-7-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/520d0bc05699b2ad4b701a8eb8a2a236.jpg}">
            <h5><span>RFK Jr. & Del Bigtree on Covid Vaccine -July 7 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./rfk-jr-childrens-health-defence/domestic-terrorism-mar-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5bde21cf3ad7ba070d9985b25f301763.jpg}">
            <h5><span>Domestic Terrorism -Mar 7 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./rfk-jr-childrens-health-defence/vaccine-side-effects-and-questions-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/13643030eda576e2624f4d42f4de9932.jpg}">
            <h5><span>Vaccine Side Effects & Questions -June 10 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./rfk-jr-childrens-health-defence/what-is-the-motive-to-vaccinate-kids-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e79375879ea50a4f7ff00eb89a0b1edf.jpg}">
            <h5><span>"What is the Motive to Vaccinate Kids?" -June 11 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./rfk-jr-childrens-health-defence/rfk-jr-my-father-told-me-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9d1912ea89f6a7c47c6709b4416488b6.jpg}">
            <h5><span>RFK jr "My Father Told Me" -June 6 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./dr-coleman">DR COLEMAN &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./dr-coleman/dr-coleman-bbc-suppresses-truth-feb-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/258a666d60a3b84c6b79567ec7e00cac.jpg}">
            <h5><span>Dr Coleman "BBC Suppresses Truth" -Feb 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./dr-coleman/dr-coleman-on-vaccine-safety-feb-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/61f619d8e05f33274d196d4bb060564a.jpg}">
            <h5><span>Dr Coleman on Vaccine Safety -Feb 10 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./dr-coleman/dr-coleman-tragic-coincidences-mar-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/74b15352bf979f6d91129d583af2027b.jpg}">
            <h5><span>Dr Coleman "Tragic Coincidences" –Mar 16 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./dr-coleman/dr-coleman-fear-is-the-most-dangerous-disease-mar-5-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ea7be73dec0155447fe58201a0cf9cd7.jpg}">
            <h5><span>Dr Coleman "Fear is the Most Dangerous Disease" –Mar 5 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./dr-coleman/dr-coleman-on-vitamin-d-and-lockdowns-apr-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f5af4eb63b617e958f8f65cc4234fa0e.jpg}">
            <h5><span>Dr Coleman on Vitamin D & Lockdowns -Apr 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./dr-coleman/covid-is-the-flu-remarketed-mar-26-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1a557f48d9132f446ea630425224b8e7.jpg}">
            <h5><span>Covid is the Flu Remarketed -Mar 26 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./ivor-cummins">IVOR CUMMINS &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./ivor-cummins/ivor-cummins-on-india-data-apr-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8c9635e40c3d98110e73435fdb838a43.jpg}">
            <h5><span>Ivor Cummins on India Data -Apr 27 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ivor-cummins/ivor-cummins-on-lockdown-efficacy-may-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/067d9626fc708d746daaaa474ae4eba1.jpg}">
            <h5><span>Ivor Cummins on Lockdown Efficacy -May 17 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ivor-cummins/winter-mortality-data-update-may-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5756bf8a2d13c02621382a105dd4333e.jpg}">
            <h5><span>Winter Mortality Data Update -May 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ivor-cummins/ivor-cummins-plus-laura-dodsworth-on-fear-campaign-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/102cb1fa09428af218e4c063a926b2e7.jpg}">
            <h5><span>Ivor Cummins+ Laura Dodsworth on Fear Campaign -May 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ivor-cummins/ivor-cummins-plus-laura-dodsworth-on-mask-fear-campaign-may-28-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f4c3816069c4ad6b315deb81c07fc2b3.jpg}">
            <h5><span>Ivor Cummins+ Laura Dodsworth on Mask Fear Campaign -May 28 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ivor-cummins/clinical-trial-confirms-masks-on-children-is-deadly-ivor-cummins">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9f6ed4217c63b38b7cfaaec89432378b.jpg}">
            <h5><span>Clinical Trial Confirms Masks on Children is DEADLY! - Ivor Cummins<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ivor-cummins/new-jama-study-on-mask-dangers-july-1-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/cdcb1b3751f844d92fcfaa6e2d2c7d75.jpg}">
            <h5><span>New! JAMA Study on Mask Dangers -July 1 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ivor-cummins/lockdowns-worse-than-covid-july-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/28fa7d221322fcfc2f8b0631c7b74ccc.jpg}">
            <h5><span>Lockdowns Worse than Covid -July 30 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./russel-brand">RUSSEL BRAND &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./russel-brand/russel-brand-on-experts-may-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a9ec9a611f695d12a65fab440e59b810.jpg}">
            <h5><span>Russel Brand on Experts -May 11 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./russel-brand/love-in-the-time-of-covid-feb-12-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e1b614aaa7e4114501b598d5ca62f44f.jpg}">
            <h5><span>Love in the time of Covid -Feb 12 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./russel-brand/russel-brand-on-government-and-the-threat-of-violence-apr-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ba9bbbb4aac4a395ae3a70e1b87e247c.jpg}">
            <h5><span>Russel Brand on Government & the Threat of Violence -Apr 2 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./jp">JP &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./jp/fitness-passports-for-your-safety-may-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7bbbe627a089818fb9fc68832afba027.jpg}">
            <h5><span>"Fitness Passports for Your Safety" -May 25 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./grace-anne-kelly">GRACE-ANNE KELLY &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./grace-anne-kelly/grace-anne-kelly-variants-apr-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9fd58a05b553a0968684402ba6fd476c.jpg}">
            <h5><span>Grace-Anne Kelly "Variants" -Apr 18 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./grace-anne-kelly/ignorance-is-bliss-apr-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/91b814d2b886074bc5fede411c3f45df.jpg}">
            <h5><span>Ignorance is Bliss -Apr 20 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./grace-anne-kelly/celebritits-should-go-first-apr-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/50ee9c85b41d3d5ec368ccb68104103e.jpg}">
            <h5><span>"CelebriTITS Should Go First!" -Apr 11 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./grace-anne-kelly/but-you-could-catch-a-variant-mar-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c20dd0510be3cd86ca7f9d84b51d45e3.jpg}">
            <h5><span>But you could catch a variant! –Mar 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./grace-anne-kelly/cant-wait-for-designer-masks-feb-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/fde4182f6cc936930232dd013dccd484.jpg}">
            <h5><span>Can't Wait for Designer Masks -Feb 17 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./grace-anne-kelly/corona-facts-feb-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a8e585386460cdfa136e810046f95dcf.jpg}">
            <h5><span>Corona Facts -Feb 22 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./grace-anne-kelly/are-you-free-mar-15-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/176d40982a04f919a9ee121daf3c2766.jpg}">
            <h5><span>"Are You Free?" –Mar 15 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./grace-anne-kelly/did-you-do-your-research-may-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/922ff7befb88588197b7b57fe8ce9658.jpg}">
            <h5><span>"Did you do your Research?" -May 6 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./grace-anne-kelly/im-a-good-citizen-july-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2f1f8e05a4ab1bbba8d455ad80e64482.jpg}">
            <h5><span>I'm a Good Citizen -July 21 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./g-edward-griffin">G. EDWARD GRIFFIN &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./g-edward-griffin/griffin-how-to-implement-socialism-1969">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/368faeabb7450147b411eaa829994410.jpg}">
            <h5><span>Griffin "How to Implement Socialism" -1969<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./g-edward-griffin/griffin-we-dream-of-socialism-1969">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/3a2de9559311aea97b964b3611df83a6.jpg}">
            <h5><span>Griffin "We Dream of Socialism" -1969<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./g-edward-griffin/griffin-bad-for-business-1969">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/bd6abe6a9bf2555edbb310176fe574f5.jpg}">
            <h5><span>Griffin "Bad for Business" -1969<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./g-edward-griffin/griffin-on-bill-gates-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/96406f2cecd7a3a662c997865cac85d2.jpg}">
            <h5><span>Griffin on Bill Gates -Apr 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./g-edward-griffin/griffin-on-crypto-currency-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4318f938f3baa209db480900c1e1a57a.jpg}">
            <h5><span>Griffin on Crypto Currency -Apr 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./g-edward-griffin/griffin-on-the-aids-pandemic-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c21ada4ce3ed519770c99cb9cf11b010.jpg}">
            <h5><span>Griffin on the AIDS Pandemic -Apr 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./g-edward-griffin/griffin-what-do-we-do-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9690ab2351622fc8f5b1be47227e6122.jpg}">
            <h5><span>Griffin "What Do We Do?" -Apr 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./g-edward-griffin/griffin-on-central-banks-and-economic-policy-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/41aa696a785a27265151df1b4484891a.jpg}">
            <h5><span>Griffin on Central Banks & Economic Policy -Apr 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./g-edward-griffin/griffin-on-why-are-they-doing-this-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/be5a9bb6e7da2c326b254f6b1cd3754f.jpg}">
            <h5><span>Griffin on Why are "They" Doing This? -Apr 19 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./ron-paul">RON PAUL &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./ron-paul/authoritarianism-in-france-and-new-zealand-july-14-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9f376ee8ac21b95ec0eda5679f238baf.jpg}">
            <h5><span>Authoritarianism in France & New Zealand -July 14 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ron-paul/liberty-builds-civilization-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a9aff3f017164f7abb223d3e12ffaa6d.jpg}">
            <h5><span>Liberty Builds Civilization -Aug 6 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ron-paul/government-planning-aug-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/89ed378b0e2d39b5de73623229767070.jpg}">
            <h5><span>Government Planning -Aug 6 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ron-paul/when-the-experts-are-insane-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/1063ddb8c4b33a0e91859648e8856030.jpg}">
            <h5><span>When "The Experts" Are Insane -Aug 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ron-paul/china-social-credit-system-to-usa-aug-4-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a9481e51cfd558f76c22da4c828571dd.jpg}">
            <h5><span>China Social Credit System to USA -Aug 4 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ron-paul/the-power-of-no-aug-3-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0ac22bfd2afdbf47b35dc8be7d2c3339.jpg}">
            <h5><span>The Power of NO! -Aug 3 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./ron-paul/government-contradictions-aug-2-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c4ec1294b64e3f4a2c8f05edf5131648.jpg}">
            <h5><span>Government Contradictions -Aug 2 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./the-highwire">THE HIGHWIRE &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./the-highwire/del-bigtree-questions-vax-100-percent-effective-claim-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f49583b7013360e737f95f4af9d7d923.jpg}">
            <h5><span>Del Bigtree Questions Vax 100% Effective Claim -June 11 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./the-highwire/del-bigtree-on-vaccine-risks-apr-25-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/0e96a5c022f5e2b8b7265ff5e46bb162.jpg}">
            <h5><span>Del Bigtree on Vaccine Risks -Apr 25 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./the-highwire/rfk-jr-and-del-bigtree-on-covid-vaccine-july-7-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/520d0bc05699b2ad4b701a8eb8a2a236.jpg}">
            <h5><span>RFK Jr. & Del Bigtree on Covid Vaccine -July 7 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./the-highwire/dr-malone-on-fda-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/482d8c6c88b65fc57276e3e8d8ee58c9.jpg}">
            <h5><span>Dr Malone on FDA -June 30 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./the-highwire/del-bigtree-summarizes-vax-dangers-june-30-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/828c0ecc694f43ed6c57b1b0be516112.jpg}">
            <h5><span>Del Bigtree Summarizes Vax Dangers -June 30 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./the-highwire/18000-vax-deaths-in-eu-july-17-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/91b59d6c7cc2dddecbb6b5bb4082907c.jpg}">
            <h5><span>18000 Vax Deaths in EU -July 17 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./the-highwire/gates-gavi-and-who-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/8d0ad6741615fe709db24a5ec187bb81.jpg}">
            <h5><span>Gates, GAVI & WHO -July 23 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./the-highwire/israel-vax-doesnt-work-july-21-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/4c3e16a876bea1deb1be4c19564217e7.jpg}">
            <h5><span>Israel Vax Doesn't Work -July 21 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 
<a class="scat_in_cat" href="./stossel-tv">STOSSEL TV &gt;&gt;</a>
   <div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./stossel-tv/coronavirus-overreach-apr-21-2020">
          <div class="image">
            <img src="https://i.ytimg.com/vi/HuzPrhnaiYE/mqdefault.jpg">
            <h5><span>Coronavirus Overreach -Apr 21 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./stossel-tv/covid-hypocrites-jan-26-2021">
          <div class="image">
            <img src="https://i.ytimg.com/vi/VCisCyS4btg/mqdefault.jpg">
            <h5><span>Covid Hypocrites -Jan 26 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./stossel-tv/socialism-and-violence-july-16-2021">
          <div class="image">
            <img src="https://i.ytimg.com/vi/n_r9CKdrmIA/mqdefault.jpg">
            <h5><span>Socialism & Violence -July 16 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./stossel-tv/stossel-life-liberty-and-happiness-july-3-2018">
          <div class="image">
            <img src="https://i.ytimg.com/vi/8FtxLpA1lqY/mqdefault.jpg">
            <h5><span>Stossel: Life, Liberty & Happiness -July 3 2018<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./stossel-tv/stossel-happy-thanksgiving-nov-21-2017">
          <div class="image">
            <img src="https://i.ytimg.com/vi/jZERvJemQLc/mqdefault.jpg">
            <h5><span>Stossel: Happy Thanksgiving! -Nov 21 2017<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./stossel-tv/the-new-censors-oct-6-2020">
          <div class="image">
            <img src="https://i.ytimg.com/vi/punjBhQG__s/mqdefault.jpg">
            <h5><span>The New Censors -Oct 6 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./stossel-tv/chinas-tech-totalitarianism-april-14-2020">
          <div class="image">
            <img src="https://i.ytimg.com/vi/zDCVf0_FY3Q/mqdefault.jpg">
            <h5><span>China's Tech Totalitarianism -April 14 2020<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./stossel-tv/john-stossel-green-road-to-serfdom-2011">
          <div class="image">
            <img src="https://i.ytimg.com/vi/4U5ctOcR_WM/mqdefault.jpg">
            <h5><span>John Stossel - Green Road To Serfdom -2011<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./stossel-tv/john-stossel-blue-laws-bootleggers-and-baptists-2015">
          <div class="image">
            <img src="https://i.ytimg.com/vi/_j-6nidOomw/mqdefault.jpg">
            <h5><span>John Stossel - Blue Laws, Bootleggers & Baptists -2015<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./stossel-tv/stossel-jordan-peterson-june-19-2018">
          <div class="image">
            <img src="https://i.ytimg.com/vi/jnJEEdp6W24/mqdefault.jpg">
            <h5><span>Stossel: Jordan Peterson -June 19 2018<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./stossel-tv/free-cuba-aug-10-2021">
          <div class="image">
            <img src="https://i.ytimg.com/vi/KUx-qixH96U/mqdefault.jpg">
            <h5><span>Free Cuba! -Aug 10 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 

--- name:cat_descr pipeline:erb
  Independant Voices Questioning the New Normal

--- name:page_title pipeline:erb
<div class="centered cat_name">
  Alt Media
</div>

--- name:vid_count pipeline:erb
<div class="vid_count _center">
 235 VIDEOS
</div>


--- name:categories pipeline:erb
    <div class="category">
      <a href="../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../old-think">OLD-THINK</a>
    </div>