/*
   Spezific styling for salvattore
   Feel free to edit it as you like
   More info at http://salvattore.com
 */
#grid[data-columns]::before {
  content: '4 .column.size-1of3';
}

/* Base styles */
.column {
    float: left;
}
.size-1of4 {
    width: 25%;
}
.size-1of3 {
    width: 33.333%;
}
.size-1of2 {
    width: 50%;
}

#grid[data-columns]::after {
  display: block;
  content: '';
  clear: both;
}
p.navgrid {
    vertical-align: baseline;
    text-align: center; 
    margin: 1px;
    padding: 1px;
    border-width: 1px; 
    border-color: black; 
    border-style: solid;
    background: rgba(200,200,200,0.2); 
    color: black;
}
