/*
* Shades v0.0.1
* http://shades.github.io
* Copyright (c) 2016 Cihan Koseoglu
* Licensed under the MIT license
*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,400italic,300italic,600,600italic,700,700italic&subset=latin,latin-ext);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*
* Shades v0.0.1
* http://shades.github.io
* Copyright (c) 2016 Cihan Koseoglu
* Licensed under the MIT license
*/
p {
  margin-top: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 1.0rem;
  margin-top: 0; }

h1 {
  font-size: 4.0rem;
  letter-spacing: -.1rem;
  line-height: 1.2; }

h2 {
  font-size: 3.2rem;
  letter-spacing: -.1rem;
  line-height: 1.25; }

h3 {
  font-size: 2.6rem;
  letter-spacing: -.1rem;
  line-height: 1.3; }

h4 {
  font-size: 2.0rem;
  letter-spacing: -.08rem;
  line-height: 1.35; }

h5 {
  font-size: 1.4rem;
  letter-spacing: -.05rem;
  line-height: 1.5; }

h6 {
  font-size: 1.2rem;
  letter-spacing: 0;
  line-height: 1.4; }

@media (min-width: 40rem) {
  h1 {
    font-size: 5.0rem; }
  h2 {
    font-size: 4.2rem; }
  h3 {
    font-size: 3.6rem; }
  h4 {
    font-size: 3.0rem; }
  h5 {
    font-size: 2.4rem; }
  h6 {
    font-size: 1.5rem; } }

/*
* Shades v0.0.1
* http://shades.github.io
* Copyright (c) 2016 Cihan Koseoglu
* Licensed under the MIT license
*/
/*
* Shades v0.0.1
* http://shades.github.io
* Copyright (c) 2016 Cihan Koseoglu
* Licensed under the MIT license
*/
html {
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.65; }

*, *:after, *:before {
  box-sizing: inherit; }

/*
* Shades v0.0.1
* http://shades.github.io
* Copyright (c) 2016 Cihan Koseoglu
* Licensed under the MIT license
*/
blockquote {
  border-left-width: 0.2rem;
  border-left-color: #404040;
  border-left-style: solid;
  padding-left: 0.8rem; }
  blockquote *:last-child {
    margin: 0; }

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #404040;
  background-color: #F5F5F5;
/*  border: 0.1rem solid #404040; */
/*  border-radius: 0.8rem; */
  box-sizing: border-box;
  color: #00000;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  height: 2.6rem;
  letter-spacing: 0.05rem;
  padding: 0 1.0rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 1rem; }
  .button:hover, .button:focus,
  button:hover,
  button:focus,
  input[type='button']:hover,
  input[type='button']:focus,
  input[type='reset']:hover,
  input[type='reset']:focus,
  input[type='submit']:hover,
  input[type='submit']:focus {
    background-color: #7F7F7F;
    border-color: #7F7F7F;
    color: #E5E5E5; }
  .button.button-outline,
  button.button-outline,
  input[type='button'].button-outline,
  input[type='reset'].button-outline,
  input[type='submit'].button-outline {
    color: #333333;
    background-color: transparent; }
  .button.button-inverse,
  button.button-inverse,
  input[type='button'].button-inverse,
  input[type='reset'].button-inverse,
  input[type='submit'].button-inverse {
    background-color: #FFFFFF;
    color: #404040; }
    .button.button-inverse:hover, .button.button-inverse:focus,
    button.button-inverse:hover,
    button.button-inverse:focus,
    input[type='button'].button-inverse:hover,
    input[type='button'].button-inverse:focus,
    input[type='reset'].button-inverse:hover,
    input[type='reset'].button-inverse:focus,
    input[type='submit'].button-inverse:hover,
    input[type='submit'].button-inverse:focus {
      background-color: #EFEFEF;
      border-color: #E0E0E0; }

code {
  display: block;
  padding: 1rem;
  white-space: pre;
  background-color: #E5E5E5;
  font-size: 1.1rem;
  margin: 0 0.2rem;
  white-space: nowrap;
  border-left-size: .4rem;
  border-left-style: groove;
  border-left-color: #404040;
  font-family: Monaco, monospace; }

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  appearance: none;
  background-color: transparent;
  border: 0.15rem solid #6F6F6F;
  border-radius: 0.2rem;
  box-shadow: none;
  box-sizing: border-box;
  height: 2.2rem;
  padding: 1rem 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  width: 100%; }
  input[type='email']:focus,
  input[type='number']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='tel']:focus,
  input[type='text']:focus,
  input[type='url']:focus,
  textarea:focus,
  select:focus {
    border: 0.1rem solid #333333;
    outline: 0; }

textarea {
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  min-height: 5rem; }

label,
legend {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem; }

fieldset {
  border-width: 0;
  padding: 0; }

input[type='checkbox'],
input[type='radio'] {
  display: inline; }

::-webkit-input-placeholder {
  color: #505050;
  font-weight: 300;
  padding-left: 0.2rem;
  letter-spacing: 0.05rem; }

:-moz-placeholder {
  color: #505050;
  font-weight: 300;
  padding-left: 0.2rem;
  letter-spacing: 0.05rem; }

::-moz-placeholder {
  color: #505050;
  font-weight: 300;
  padding-left: 0.2rem;
  letter-spacing: 0.05rem; }

:-ms-input-placeholder {
  color: #505050;
  font-weight: 300;
  padding-left: 0.2rem;
  letter-spacing: 0.05rem; }

a {
  color: #7F7F7F;
  text-decoration: none; }
  a:hover {
    color: #606060; }

dl, ol, ul {
  margin-top: 0.05rem;
  margin-bottom: 0.05rem;
  padding-left: 0.2rem;
  padding-top: 0;
  padding-bottom: 0; }

dl {
  list-style: none; }

ul {
  list-style: inside disc; }

ol {
  list-style: decimal inside; }

dt,
dd,
li {
  margin-bottom: 0.3rem; }

hr {
  border-width: 0;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #6F6F6F;
  margin-bottom: 3rem;
  margin-top: 3rem; }

table {
  width: 100%; }

th,
td {
  border-bottom-size: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: #606060;
  padding-top: 1.2em;
  padding-bottom: 1.5em;
  text-align: left; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  thlast-child,
  tdlast-child {
    padding-right: 0; }

/*
* Shades v0.0.1
* http://shades.github.io
* Copyright (c) 2016 Cihan Koseoglu
* Licensed under the MIT license
*/
.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%; }

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%; }
  .row .row-wrap {
    flex-wrap: wrap; }
  .row .row-no-padding {
    padding: 0; }
    .row .row-no-padding > .column {
      padding: 0; }
  .row .row-top {
    align-items: flex-start; }
  .row .row-bottom {
    align-items: flex-end; }
  .row .row-center {
    align-items: center; }
  .row .row-stretch {
    align-items: stretch; }
  .row .row-baseline {
    align-items: baseline; }
  .row .column {
    display: block;
    flex: 1;
    margin-left: 0;
    max-width: 100%;
    width: 100%; }
    .row .column .col-top {
      align-self: flex-start; }
    .row .column .col-bottom {
      align-self: flex-end; }
    .row .column .col-center {
      align-self: center; }
    .row .column.column-offset-10 {
      margin-left: 10%; }
    .row .column.column-offset-20 {
      margin-left: 20%; }
    .row .column.column-offset-25 {
      margin-left: 25%; }
    .row .column.column-offset-33, .row .column.column-offset-34 {
      margin-left: 33.3333%; }
    .row .column.column-offset-50 {
      margin-left: 50%; }
    .row .column.column-offset-66, .row .column.column-offset-67 {
      margin-left: 66.6666%; }
    .row .column.column-offset-75 {
      margin-left: 75%; }
    .row .column.column-offset-80 {
      margin-left: 80%; }
    .row .column.column-offset-90 {
      margin-left: 90%; }
    .row .column.column-10 {
      flex: 0 0 10%;
      max-width: 10%; }
    .row .column.column-20 {
      flex: 0 0 20%;
      max-width: 20%; }
    .row .column.column-25 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .column.column-33, .row .column.column-34 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; }
    .row .column.column-40 {
      flex: 0 0 40%;
      max-width: 40%; }
    .row .column.column-50 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .column.column-60 {
      flex: 0 0 60%;
      max-width: 60%; }
    .row .column.column-66, .row .column.column-67 {
      flex: 0 0 66.6666%;
      max-width: 66.6666%; }
    .row .column.column-75 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .column.column-80 {
      flex: 0 0 80%;
      max-width: 80%; }
    .row .column.column-90 {
      flex: 0 0 90%;
      max-width: 90%; }

@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem); }
    .row .column {
      margin-bottom: inherit;
      padding: 0 1.0rem; } }
