---
title: "&quot;We Don't Know Anything&quot; -July 23 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "Variants"
category: "science"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/We-Don%27t-Know-Anything--July-23-2021/805ad3fc36f31c6a4e04780b1be73995d04ab105?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">VARIANTS &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../we-dont-know-anything-july-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ddc43efc90518780106c3f729bfa0c84.jpg}">
            <h5>
              <span>
                "We Don't Know Anything" -July 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../conspiracy-theories-from-last-year-july-20-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5f1b59f573781fbf9f2d9f7f609f83b2.jpg}">
            <h5>
              <span>
                Conspiracy theories from last year -July 20 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vax-does-not-return-freedoms-july-27-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e101fe411f0620c0990bb9949cbe9bf8.jpg}">
            <h5>
              <span>
                Vax Does Not Return Freedoms -July 27 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccinated-people-spreading-the-virus-july-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/30fcbe63812679f9f7cd82cbf9b86138.jpg}">
            <h5>
              <span>
                Vaccinated People Spreading the Virus -July 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../prof-sridhar-year-of-the-variant-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/c5664abda18c576e6c387747f140c349.jpg}">
            <h5>
              <span>
                Prof Sridhar "Year of the Variant" -Apr 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../grace-anne-kelly-variants-apr-18-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9fd58a05b553a0968684402ba6fd476c.jpg}">
            <h5>
              <span>
                Grace-Anne Kelly "Variants" -Apr 18 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../africa-cup-crowd-and-no-masks-despite-covid-variant-jan-31-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/55690ac5a62b60edeaa2a5a1a1f6b607.jpg}">
            <h5>
              <span>
                Africa Cup Crowd & No Masks despite covid variant -Jan 31 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../nobel-prize-virologist-variants-caused-by-vaccine-may-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7747e90613a3c9d9a33df3446a58c8dd.jpg}">
            <h5>
              <span>
                Nobel Prize Virologist "Variants Caused by Vaccine" -May 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../msm-questions-variants-may-23-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/be055a5d39b786932ba607d39c7c2849.jpg}">
            <h5>
              <span>
                MSM Questions Variants -May 23 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rte-news-delta-variant-is-a-bad-cold-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/7bec424d32101a67b99a4c886652bfd2.jpg}">
            <h5>
              <span>
                RTE News Delta Variant is a Bad Cold -June 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../ivor-cummins-how-dangerous-is-the-delta-variant-june-22-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/517c4613cfbf25de84eed548dbfe0cbe.jpg}">
            <h5>
              <span>
                Ivor Cummins "How Dangerous is the Delta Variant?" -June 22 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../your-pets-are-next-july-8-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5071f02a620408b08e76129f3f71d377.jpg}">
            <h5>
              <span>
                "Your Pets are Next" -July 8 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  "We Don't Know Anything" -July 23 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>