---
title: "Banned Videos"
home_url: ../../
page_title: "BANNED VIDEOS"
vid_count: 1
all_vid_count: 205
page_descr: "The videos too dangerous for you to see"
top_right: " "
template: "../../subcategory.template"
---

<div class="grid_wrap">
<div class="grid">
   <div class="grid-item">
    <a href="./banned-world-freedom-rally-vid-apr-20-2021">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/61193c3c9799f7c9571d1143191e77aa.jpg}">
        <h5><span>Banned World Freedom Rally vid -Apr 20 2021<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
</div>
</div>

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../thought-police"><button class="categories"><span class="categories">THOUGHT POLICE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../common-sense"><button class="categories"><span class="categories">COMMON SENSE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>