---
title: "Ausschuss"
home_url: ../
page_title: "AUSSCHUSS"
vid_count: 3
all_vid_count: 205
page_descr: "German Lawyers Investigate Human Rights Violations of the New Normal"
top_right:  " "
template: "../category.template"
---

<span class="scat_in_cat">MORE<a href="./more">&gt;&gt;</a></span>
   <div class="splide" style="margin-left:1rem;margin-right:1rem;margin-top:-1rem;">
    <div class="splide__slider"> <!-- relative -->
     <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="./more/israeli-lawyer-explains-why-sweden-did-it-right">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2d9a742171dd46b6ad529b01d30096e3.jpg}">
            <h5><span>Israeli Lawyer explains why Sweden did it right<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/german-lawyer-fuellmich-on-biased-media-mar-16-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/a3228500793574c664f9185be7f411d6.jpg}">
            <h5><span>German Lawyer Fuellmich on Biased Media -Mar 16 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="./more/dr-wodarg-on-corona-auschuss-apr-9-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/ccfb73d7f5b57a546eec57b629f0aa63.jpg}">
            <h5><span>Dr Wodarg on Corona-Auschuss -Apr 9 2021<span class='spacer'></span><br /></span></h5>
          </div>
         </a>
        </li>
      </ul>
     </div> 
     </div> 
   </div> 

--- name:page_desc pipeline:erb
German Lawyers Investigate Human Rights Violations of the New Normal

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../thought-police"><button class="categories"><span class="categories">THOUGHT POLICE</span></button></a>
    </div>
    <div class="categories">
      <a href="../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../common-sense"><button class="categories"><span class="categories">COMMON SENSE</span></button></a>
    </div>
    <div class="categories">
      <a href="../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>