---
title: "More"
home_url: ../../
page_title: "MORE"
vid_count: 1
all_vid_count: 205
page_descr: "For videos that have no subcategory"
top_right: " "
template: "../../subcategory.template"
---

<div class="grid_wrap">
<div class="grid">
   <div class="grid-item">
    <a href="./boris-johnson-cancels-christmas-dec-2020">
      <div class="image">
        <img src="{relocatable: /images/thumbnails/b80c8640456b234fcad2342c856fb2f5.jpg}">
        <h5><span>Boris Johnson cancels Christmas -Dec 2020<span class='spacer'></span><br /></span></h5>
      </div>
    </a>
   </div>
</div>
</div>

--- name:categories pipeline:erb
<div class="centered">
    <div class="categories">
      <a href="../../protest"><button class="categories"><span class="categories">PROTEST</span></button></a>
    </div>
    <div class="categories">
      <a href="../../legal"><button class="categories"><span class="categories">LEGAL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../ausschuss"><button class="categories"><span class="categories">AUSSCHUSS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../science"><button class="categories"><span class="categories">SCIENCE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../vaccine"><button class="categories"><span class="categories">VACCINE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../thought-police"><button class="categories"><span class="categories">THOUGHT POLICE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../big-brother"><button class="categories"><span class="categories">BIG BROTHER</span></button></a>
    </div>
    <div class="categories">
      <a href="../../ethics"><button class="categories"><span class="categories">ETHICS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../lockdowns"><button class="categories"><span class="categories">LOCKDOWNS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../alls-well"><button class="categories"><span class="categories">ALL'S WELL</span></button></a>
    </div>
    <div class="categories">
      <a href="../../vaccine-pass"><button class="categories"><span class="categories">VACCINE PASS</span></button></a>
    </div>
    <div class="categories">
      <a href="../../common-sense"><button class="categories"><span class="categories">COMMON SENSE</span></button></a>
    </div>
    <div class="categories">
      <a href="../../old-think"><button class="categories"><span class="categories">OLD-THINK</span></button></a>
    </div>
    <div class="categories">
      <a href="../../home"><button class="categories"><span class="categories">HOME</span></button></a>
    </div>
</div>