---
title: "RFK jr &quot;My Father Told Me&quot; -June 6 2021"
home_url: ../../../
all_vid_count: 1239
vid_count: " "
top_right: " "
subcategory: "RFK jr Children's Health Defence"
category: "alt media"
template: "../../../default.template"
---

<div class="play_video" dafr="views 1.3K">
  <div class="iframe-container">
    <iframe id="lbry-iframe" width="560" height="315" src="https://lbry.tv/$/embed/People-in-Authority-Lie--June-6-2021/226e676ea02fc472fb793ba4e444842dbac57b72?r=DykGVQSLqmoXDaaberegAvV9rDQ92246" allowfullscreen></iframe>
  </div>
</div>

<p> </p>
<a class="scat_in_cat" href="../">RFK JR CHILDREN'S HEALTH DEFENCE &gt;&gt;&gt;</a>
<div class="splide" style="margin-left:0rem;margin-right:0rem;margin-top:-0.5rem;">
  <div class="splide__slider"> <!-- relative -->
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
         <a href="../rfk-jr-my-father-told-me-june-6-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/9d1912ea89f6a7c47c6709b4416488b6.jpg}">
            <h5>
              <span>
                RFK jr "My Father Told Me" -June 6 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../fauci-and-moderna-vaccines-power-play-mar-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/f1a06e6622ace61eaee29d3329b6fd3e.jpg}">
            <h5>
              <span>
                Fauci & Moderna Vaccine’s Power Play –Mar 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rfk-jr-on-fauci-who-and-bill-gates-apr-19-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/2e9bf4f2e034c233c48ec9ded405fbdd.jpg}">
            <h5>
              <span>
                RFK jr on Fauci, WHO & Bill Gates -Apr 19 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../rfk-jr-and-del-bigtree-on-covid-vaccine-july-7-2020">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/520d0bc05699b2ad4b701a8eb8a2a236.jpg}">
            <h5>
              <span>
                RFK Jr. & Del Bigtree on Covid Vaccine -July 7 2020<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../domestic-terrorism-mar-7-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/5bde21cf3ad7ba070d9985b25f301763.jpg}">
            <h5>
              <span>
                Domestic Terrorism -Mar 7 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../vaccine-side-effects-and-questions-june-10-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/13643030eda576e2624f4d42f4de9932.jpg}">
            <h5>
              <span>
                Vaccine Side Effects & Questions -June 10 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
        <li class="splide__slide">
         <a href="../what-is-the-motive-to-vaccinate-kids-june-11-2021">
          <div class="image">
            <img src="{relocatable: /images/thumbnails/e79375879ea50a4f7ff00eb89a0b1edf.jpg}">
            <h5>
              <span>
                "What is the Motive to Vaccinate Kids?" -June 11 2021<span class='spacer'></span><br />
              </span>
            </h5>
          </div>
         </a>
        </li>
      </ul>
    </div> 
  </div> 
</div> 

--- name:video_descr pipeline:erb
  RFK jr "My Father Told Me" -June 6 2021

--- name:categories pipeline:erb
    <div class="category">
      <a href="../../../protest">PROTEST</a>
    </div>
    <div class="category">
      <a href="../../../legal">LEGAL</a>
    </div>
    <div class="category">
      <a href="../../../science">SCIENCE</a>
    </div>
    <div class="category">
      <a href="../../../vaccine">VACCINE</a>
    </div>
    <div class="category">
      <a href="../../../thought-police">THOUGHT POLICE</a>
    </div>
    <div class="category">
      <a href="../../../big-brother">BIG BROTHER</a>
    </div>
    <div class="category">
      <a href="../../../ethics">ETHICS</a>
    </div>
    <div class="category">
      <a href="../../../lockdowns">LOCKDOWNS</a>
    </div>
    <div class="category">
      <a href="../../../alls-well">ALL'S WELL</a>
    </div>
    <div class="category">
      <a href="../../../vaccine-pass">VACCINE PASS</a>
    </div>
    <div class="category">
      <a href="../../../alt-media">ALT MEDIA</a>
    </div>
    <div class="category">
      <a href="../../../old-think">OLD-THINK</a>
    </div>